Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix: Footer Link text edit
  components/layout.vue
Due: eslint, prettier

chore(deps): update dependency sass to ^1.63.6
  package.json
  yarn.lock
Due: none

feat(Tokens): integrate design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  package.json
  yarn.lock
Due: none

fix: Correct privacy link
  components/layout.vue
Due: eslint, prettier

feat: Use GitLab Sans and GitLab Mono as new fonts
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_fonts.scss
  contents/product-foundations/type-fundamentals.md
  package.json
  yarn.lock
Due: markdown-lint

chore(release): 2.163.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d8/ac0cbe940cb695605d64c3d7e63a6558ae9f15
Due: none

feat(Typography): Consolidate pages
  contents/product-foundations/type-fundamentals.md
  contents/product-foundations/type-scales.md
  nav.json
Due: markdown-lint

feat: Update settings layout documentation
  contents/usability/settings-management.md
  static/img/settings-2-column.png
Due: markdown-lint

feat(Tokens): document and integrate design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  contents/product-foundations/design-tokens.md
  package.json
  yarn.lock
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/settings-management.md
Due: markdown-lint

feat(GlStepper): add usage guidelines
  contents/components/stepper.md
Due: markdown-lint

fix(Overview): added access levels to overview page links
  contents/brand/overview.md
Due: markdown-lint

feat(Tokens): document and integrate design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  package.json
  yarn.lock
Due: none

fix(Settings): update settings layout documentation
  contents/usability/settings-management.md
  static/img/settings-2-column.png
Due: markdown-lint

feat(work items): remove object documentation
  contents/objects/work-item.md
  nav.json
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  nav.json
Due: none

Delete work items page
  contents/objects/work-item.md
  nav.json
Due: markdown-lint

feat(Typography): Type scale table
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

feat(Tokens): use design tokens for color variables
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  package.json
  yarn.lock
Due: none

fix(Analaytics): Enable cookies when consented
  plugins/analytics.js
Due: eslint, prettier

feat(Typography): Font weight table
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

feat(Typography): Update type scale refs
  contents/components/table.md
  contents/product-foundations/type-markdown.md
Due: markdown-lint

feat(Typography): Token to variable
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

feat(VPAT): Use more descriptive structure
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_content.scss
  contents/accessibility/508.md
Due: markdown-lint

chore(release): 2.164.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
