Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs(UIKit): Update component guidance for base components
  contents/get-started/uik-components.md
  static/img/base-btn.png
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.6.17
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v82
  package.json
  yarn.lock
Due: none

feat: add dark mode
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  components/layout.vue
  components/sidebar.vue
  nuxt.config.js
Due: eslint, prettier

chore: update homepage background color
  pages/index.vue
Due: eslint, prettier

chore: update border colors
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore: update table styles
  assets/stylesheets/components/_table.scss
Due: none

chore: update GitLab UI
  assets/stylesheets/app.scss
  components/layout.vue
  nuxt.config.js
Due: eslint, prettier

fix(deps): update dependency @gitlab/svgs to v3.103.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.6.18
  package.json
  yarn.lock
Due: none

Apply Rayana suggestion
  static/img/locked-setting-example.png
Due: none

Adjust UI text based on the suggestion of Marcel
  static/img/locked-setting-example.png
Due: none

Replace image
  static/img/locked-setting-example.png
Due: none

Apply Marcel's suggestion
  static/img/locked-setting-example.png
Due: none

chore: Apply suggestion(s)
  contents/usability/ai-human-interaction.md
Due: markdown-lint

Apply Katie and Rayana's suggestion
  contents/usability/settings-management.md
Due: markdown-lint

feat(AI): Add examples of risk in AI
  contents/usability/ai-human-interaction.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/usability/settings-management.md
Due: markdown-lint

fix(Settings): Update UI text and replace image
  contents/usability/settings-management.md
  static/img/locked-setting-example.png
Due: markdown-lint

feat(BrandOverview): adding sub pages
  contents/brand/brand-extensions.md
  contents/brand/brand-voice.md
  contents/brand/overview.md
  contents/brand/resources.md
  nav.json
Due: markdown-lint

chore: update heading text color
  assets/stylesheets/framework/_typography.scss
Due: none

chore: update styles
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
Due: none

chore: remove toggle mode button
  components/sidebar.vue
Due: eslint, prettier

chore: update gitlab-ui
  package.json
  yarn.lock
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  package.json
  pages/components/overview.vue
  pages/index.vue
  yarn.lock
Due: eslint, prettier

docs(Pajamas): Add pattern page for Duo slash commands
  contents/patterns/Duo/slash-commands.md
  static/img/issue-filter.svg
  static/img/slash-command-agnostic.svg
  static/img/slash-command-arguments.svg
  static/img/slash-command-specific.svg
Due: markdown-lint

fix: correct markdown format errors
  contents/patterns/Duo/slash-commands.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/patterns/forms.md
Due: markdown-lint

feat(BrandTypography): updating new fonts
  contents/brand-design/typography.md
  static/img/brand/devops-shirt-mockup.png
  static/img/brand/type-repetition-mockup.png
  static/img/brand/type-repetitions-construction.svg
  static/img/brand/typography.svg
Due: markdown-lint

feat(Forms): Allow input examples and format to be omitted
  contents/patterns/forms.md
Due: markdown-lint

Use the job_stage input in danger-review component
  .gitlab-ci.yml
Due: none

ci: use the job_stage input in danger-review component
  .gitlab-ci.yml
Due: none
