Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency eslint to v8.31.0
  package.json
  yarn.lock
Due: none

feat(Dropdown): Decision tree edit
  contents/components/dropdown-overview.md
Due: markdown-lint

feat(Dropdown): Remove mermaid layer
  contents/components/dropdown-overview.md
Due: markdown-lint

feat(Dropdown): Update mermaid type
  contents/components/dropdown-overview.md
Due: markdown-lint

chore: Add <figure-img> component
  README.md
  assets/stylesheets/framework/_content.scss
  components/figure_img.vue
  plugins/register_global_components.js
Due: eslint, prettier, markdown-lint

feat(Dropdown): Fix typo
  contents/components/dropdown-overview.md
Due: markdown-lint

feat(Dropdown): Update docs to align with use
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/dropdown-listbox.md
  contents/components/dropdown-menu.md
  contents/components/dropdown-overview.md
  nav.json
  static/img/dropdown-combobox-structure.svg
  static/img/dropdown-disclosure-structure.svg
Due: markdown-lint

chore: Add caption slot to figure-img component
  components/figure_img.vue
Due: eslint, prettier

chore: Add dark prop to figure-img
  components/figure_img.vue
Due: eslint, prettier

chore: Add kbd styles
  assets/stylesheets/framework/_content.scss
  contents/accessibility/keyboard-only.md
  contents/components/drawer.md
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/path.md
Due: markdown-lint

fix(deps): update dependency @nuxtjs/sentry to ^7.0.1
  package.json
  yarn.lock
Due: none

chore: Move inset to start
  assets/stylesheets/framework/_content.scss
Due: none

chore(deps): update dependency @babel/core to v7.20.12
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(release): 2.146.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  f7/68948ec683d4ed70d4e1c47cfbbc5c90e0a732
Due: none

feat(Link): Add category and appearance
  contents/components/link.md
Due: markdown-lint

feat(Link): Hover color note
  contents/components/link.md
Due: markdown-lint

feat(Link): Add independent category
  contents/components/link.md
Due: markdown-lint

fix: Update broken links
  contents/patterns/empty-states.md
  contents/patterns/navigation.md
Due: markdown-lint

chore(deps): update dependency prettier to v2.8.2
  package.json
  yarn.lock
Due: none

Add tooltip structure diagram
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

docs(Tooltip): add tooltip structure diagram
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

fix(deps): update dependency @nuxtjs/sentry to ^7.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.2.7
  package.json
  yarn.lock
Due: none
