Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency @gitlab/ui to v30
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v9
  examples/form/form_select/form_select.mixed_options.example.vue
  examples/paginated_list/paginated_list.with_row_slot.example.vue
  examples/single_stat/single_stat.icon.example.vue
  examples/table/table.custom_fields.example.vue
  examples/tabs/tabs/tabs.counterbadges.example.vue
  examples/tabs/tabs/tabs.custom_title.example.vue
  examples/tooltip/chart_tooltip.basic.example.vue
  package.json
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency @gitlab/svgs to v1.201.0
  package.json
  yarn.lock
Due: none

feat(Modal): Add inline editing examples under alternatives
  contents/components/modal.md
  static/img/modal/inline-editing-1.png
  static/img/modal/inline-editing-2.png
Due: markdown-lint

docs: Add docs for another method of squashing
  doc/commits.md
Due: markdown-lint

docs: Add docs for another method of squashing
  doc/commits.md
  doc/images/squashing/commit-body.png
  doc/images/squashing/from-pick-to-squash.png
  doc/images/squashing/update-commit-message.png
  doc/images/squashing/vim-example.png
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

feat(componentTemplate): Add note to reflect current state
  contents/components/broadcast-message.md
Due: markdown-lint

feat(componentTemplate): Ongoing template and content refinements
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
Due: eslint, prettier, markdown-lint

feat(componentTemplate): Initial effort for implementing template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
Due: eslint, prettier, markdown-lint

feat(componentTemplate): Fix bullet wrapping
  contents/components/alert.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v30.0.1
  package.json
  yarn.lock
Due: none

chore(vpat): Add language regarding 14.0 version in VPAT
  contents/accessibility/vpat.md
Due: markdown-lint

feat(vpat): Add language regarding 14.0 version in VPAT
  contents/accessibility/vpat.md
Due: markdown-lint

docs: Update docs on squashing
  doc/commits.md
  doc/images/squashing/commit-body.png
  doc/images/squashing/from-pick-to-squash.png
  doc/images/squashing/update-commit-message.png
  doc/images/squashing/vim-example.png
Due: markdown-lint

docs: Update docs on squashing
  doc/commits.md
Due: markdown-lint

feat(Navigation): add top-menu variant guideline
  contents/regions/navigation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(voice-tone): Updated examples for writing from the customer perspective
  contents/content/voice-tone.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v30.1.0
  package.json
  yarn.lock
Due: none

feat(voice-tone): Updated examples for customer perspective
  contents/content/voice-tone.md
Due: markdown-lint

chore(release): 2.33.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  57/0371c1b03e857da365406416566dd38558b383
Due: none

chore(release): 2.34.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint
