Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Spinner): Apply awesome suggestions
  contents/components/spinner.md
Due: markdown-lint

feat(Spinner): Update content to new template
  contents/components/spinner.md
  static/img/spinner-structure.svg
Due: markdown-lint

feat(navigation): Add initial guidance for in-app messaging
  contents/regions/navigation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(Spinner): Update content to utilize new template
  contents/components/spinner.md
  static/img/spinner-structure.svg
Due: markdown-lint

chore(release): 2.73.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  67/416e939e7455b1b941a3b0147a8b0a51af72e4
Due: none

feat(Tabs): Update edited content to new template
  contents/components/tabs.md
  static/img/tabs-structure.svg
Due: markdown-lint

feat(DatePicker): Update content to use new template
  contents/components/date-picker.md
  static/img/date-picker-structure.svg
Due: markdown-lint

feat(DatePicker): Apply clarifying suggestions
  contents/components/date-picker.md
Due: markdown-lint

feat(DatePicker): Simplify date range behavior
  contents/components/date-picker.md
Due: markdown-lint

feat(Analytics): Add consent banner for cookies
  components/cookie_consent_banner.vue
  layouts/default.vue
  plugins/gtag.js
Due: eslint, prettier

feat(Tabs): Applying clarifying suggestions
  contents/components/tabs.md
Due: markdown-lint

feat(DatePicker): Update content to utilize new template
  contents/components/date-picker.md
  static/img/date-picker-structure.svg
Due: markdown-lint

chore(release): 2.74.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  91/57ab3daa27c352b356a374e3a7ff736953cd2b
Due: none

feat(Pagination): Update content to match new template
  contents/components/pagination.md
  static/img/pagination-structure.svg
Due: markdown-lint

feat(Tabs): Apply refining suggestions
  contents/components/tabs.md
Due: markdown-lint

feat(Tabs): Reintroduce lost changes
  contents/components/tabs.md
  examples/tabs/tab/tab.basic.example.vue
  examples/tabs/tabs/tabs.basic.example.vue
  examples/tabs/tabs/tabs.counterbadges.example.vue
  examples/tabs/tabs/tabs.custom_title.example.vue
  examples/tabs/tabs/tabs.disabled.example.vue
  examples/tabs/tabs/tabs.justified.example.vue
  examples/tabs/tabs/tabs.styles_only.example.vue
Due: eslint, prettier, markdown-lint

feat(Tabs): Update content to utilize new template
  contents/components/tabs.md
  examples/tabs/tab/tab.basic.example.vue
  examples/tabs/tabs/tabs.basic.example.vue
  examples/tabs/tabs/tabs.counterbadges.example.vue
  examples/tabs/tabs/tabs.custom_title.example.vue
  examples/tabs/tabs/tabs.disabled.example.vue
  examples/tabs/tabs/tabs.justified.example.vue
  examples/tabs/tabs/tabs.styles_only.example.vue
  static/img/tabs-structure.svg
Due: eslint, prettier, markdown-lint

chore(release): 2.75.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint
