Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix(deps): update dependency @gitlab/ui to v88
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.12
  package.json
  yarn.lock
Due: none

feat(Iconography): Remove code block inline styling
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(Iconography): Highlight naming difference for pipeline status
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(ReleaseNotes): Add tanuki-ai-off icon
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(BrandIntroduction): refreshing content
  contents/brand-overview/introduction.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/patterns/calls-to-action.md
Due: markdown-lint

feat(AI): create AI CTA page
  contents/patterns/calls-to-action.md
  nav.json
  static/img/ai-cta-too-long.svg
  static/img/ai-cta-with-icon.svg
  static/img/ai-cta-without-icon.svg
  static/img/do-feature-maturity.svg
  static/img/dont-feature-maturity.svg
Due: markdown-lint

feat(AI): rewrite concise CTA section
  contents/patterns/calls-to-action.md
Due: markdown-lint

feat(AI): rework tables, cross linking
  contents/patterns/calls-to-action.md
  static/img/ai-cta-too-long.svg
  static/img/ai-cta-with-icon.svg
  static/img/ai-cta-without-icon.svg
  static/img/do-feature-maturity.svg
  static/img/dont-feature-maturity.svg
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(BrandIntroduction): Link to mission and remove brand principles
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(Button): Fix typo
  contents/usability/feature-management.md
Due: markdown-lint

feat(Button): Add extra spacing around list
  contents/components/button.md
Due: markdown-lint

Add eslint disable comment for max-params violation
  helpers/sync_state_to_query_params.js
  package.json
  yarn.lock
Due: eslint, prettier

chore: add eslint disable comment for max-params violation
  helpers/sync_state_to_query_params.js
Due: eslint, prettier

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v89
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v20
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.13
  package.json
  yarn.lock
Due: none

feat(AI): rework section titles
  contents/patterns/calls-to-action.md
  static/img/do-feature-maturity.svg
Due: markdown-lint

feat(AI): refactor transparency guidelines
  contents/usability/ai-human-interaction.md
  static/img/gitlab-duo-ui.svg
Due: markdown-lint

chore: Include link updates
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.14
  package.json
  yarn.lock
Due: none

feat(Button): Disabled buttons can be focusable with enabled element
  contents/components/button.md
  contents/usability/feature-management.md
Due: markdown-lint

Adding terms as token prop to docs
  contents/components/filter.md
Due: markdown-lint

feat(filter): Adding terms as token prop to docs
  contents/components/filter.md
Due: markdown-lint

feat(Link): Remove specific color notes
  contents/components/link.md
Due: markdown-lint

feat(filter): Updating example to match recommendation
  contents/components/filter.md
Due: markdown-lint

feat(filter): Adding guidance as a separate bullet
  contents/components/filter.md
Due: markdown-lint

Refactor CODEOWNERS
  .gitlab/CODEOWNERS
  contents/patterns/duo-slash-commands.md
  contents/usability/ai-human-interaction.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
