Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(toggle): Add clarity around when to use a toggle vs. other components
  contents/components/toggle.md
Due: markdown-lint

chore(release): 2.28.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  2f/7772659482904ccb429769cfbb3a81a452b974
Due: none

feat(checkbox): Added checkbox guidance about positive state
  contents/components/checkbox.md
Due: markdown-lint

refactor: drop actions in favor of composable mutations
  components/menu_item.vue
  store/mutations.js
  tests/layouts/default.spec.js
Due: eslint, prettier

chore(release): 2.29.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  96/db978cf0364691915c53b9b6acc93657582cb9
Due: none

Pajama doc: Update helptext and description usage in file toggle.md
  contents/components/toggle.md
Due: markdown-lint

docs: Update description and help text instruction for toggle.md in pajamas doc
  contents/components/toggle.md
Due: markdown-lint

chore: silence warnings about pikaday and moment
  nuxt.config.js
Due: eslint, prettier

docs(toggle): update description and help text
  contents/components/toggle.md
Due: markdown-lint

feat(UserHelp): Remove floating link
  contents/usability/helping-users.md
Due: markdown-lint

feat(Table): Add border guideline for last row item
  contents/components/table.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v29.34.0
  package.json
  yarn.lock
Due: none

Add temporary CI/CD config to upgrade the cluster to use Helm 3
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

ci: Add temporary CI/CD config to upgrade the cluster to use Helm 3
  .gitlab-ci.yml
Due: none

docs: Update pajamas toggle docs
  contents/components/toggle.md
Due: markdown-lint

feat(Toggle): Update pajamas toggle docs
  contents/components/toggle.md
Due: markdown-lint

ci: remove MIGRATE_HELM_2TO3 variable
  .gitlab-ci.yml
Due: none

feat(UserHelp): Specify when to use info or help
  contents/usability/helping-users.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
