Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: migrate m-t-5 to gl-mt-5
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug.vue
Due: eslint, prettier

chore: increase GitLab UI utils specificity
  assets/stylesheets/app.scss
  pages/_section/_slug.vue
Due: eslint, prettier

chore: migrate m-t-9 to gl-mt-11
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate m-t-6 to gl-mt-6
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug/index.vue
Due: eslint, prettier

chore: migrate m-b-6 to gl-mb-6
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility/vpat.md
  contents/data-visualization/color.md
  contents/layout/grid.md
  contents/layout/spacing.md
  contents/product-foundations/colors.md
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

chore: migrate m-t-8 to gl-mt-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate m-l-3 to gl-ml-3
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: migrate m-b-7 to gl-mb-7
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
  layouts/default.vue
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-b-9 to gl-mb-11
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate to gl-my-* utils where possible
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

docs(punctuation): clarify guidelines for ellipsis
  contents/content/punctuation.md
Due: markdown-lint

fix: link to archived page
  contents/product-foundations/illustration.md
Due: markdown-lint

fix(dropdown): Ensure dropdown links navigate to specific dropdown type
  contents/components/checkbox.md
  contents/components/form.md
  contents/components/sorting.md
  contents/components/toggle.md
  contents/layout/layers.md
  contents/layout/responsive-first.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v2.24.0
  package.json
  yarn.lock
Due: none

Apply 2 suggestion(s) to 2 file(s)
  contents/components/checkbox.md
  contents/components/toggle.md
Due: markdown-lint

Apply 2 suggestion(s) to 2 file(s)
  contents/components/form.md
  contents/components/sorting.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/layout/responsive-first.md
Due: markdown-lint

chore: remove unused padding utilities
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-a-0 to gl-p-0
  assets/stylesheets/framework/_spacing.scss
  contents/components/accordion.md
Due: markdown-lint

chore: migrate p-t-2 to gl-pt-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-b-2 to gl-pb-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-3 to gl-p-3
  assets/stylesheets/framework/_spacing.scss
  contents/brand-design/color.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-t-3 to gl-pt-3
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-r-3 to gl-pr-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-b-3 to gl-pb-3
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-l-3 to gl-pl-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-5 to gl-p-5
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/components/accordion.md
  contents/product-foundations/illustration.md
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

chore: migrate p-r-5 to gl-pr-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-l-5 to gl-pl-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-t-6 to gl-pt-6
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-b-6 to gl-pb-6
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint
