Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

style:(voice-tone): Added link to drawer docs
  contents/components/drawer.md
Due: markdown-lint

Apply 8 suggestion(s) to 8 file(s)
  contents/components/alert.md
  contents/components/banner.md
  contents/components/checkbox.md
  contents/components/drawer.md
  contents/components/filter.md
  contents/components/radio-button.md
  contents/patterns/searching.md
  contents/usability/settings-management.md
Due: markdown-lint

feat(Feature management): Document beta features
  contents/usability/feature-management.md
  static/img/beta-feature-badge.svg
Due: markdown-lint

feat(drawer): Include when to utilize markdown for drawers
  contents/components/drawer.md
Due: markdown-lint

chore: fix link
  contents/usability/progressive-disclosure.md
Due: markdown-lint

chore: Update Pajamas navigation markup and styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/layout.vue
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  static/pajamas-logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: Update Pajamas navigation markup and styles
  README.md
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/layout.vue
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  components/sidebar.vue
  doc/navigation.md
  static/pajamas-logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
  tests/components/__snapshots__/sidebar.spec.js.snap
  tests/components/sidebar.spec.js
Due: eslint, prettier, markdown-lint

chore: Update mobile navigation styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_toggle-button.scss
  components/layout.vue
  components/logo.vue
  components/navbar.vue
  components/sidebar.vue
  components/toggle_button.vue
  tests/components/__snapshots__/sidebar.spec.js.snap
Due: eslint, prettier

chore(deps): update dependency linkinator to ^4.1.1
  package.json
  yarn.lock
Due: none

feat(Feature management): Document beta features
  contents/usability/feature-management.md
  static/img/alpha-feature-badge.svg
  static/img/beta-feature-badge.svg
Due: markdown-lint

style:(voice-tone):Pointing to tech writer word list
  contents/content/terminology.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/content/terminology.md
Due: markdown-lint

feat(voice-tone): Point to TW word list and remove duplication
  contents/content/terminology.md
Due: markdown-lint

chore(deps): update dependency sass-loader to ^10.4.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.2.1
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat(Feature management): reword suggestions
  contents/usability/feature-management.md
Due: markdown-lint

feat(Settings): Apply suggestions
  contents/regions/settings.md
Due: markdown-lint

chore(release): 2.141.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  3e/50252a568ec6c7ef75616b5fcdc1f05b7aa4ef
Due: none

feat(Settings): Reorganize content
  contents/regions/settings.md
Due: markdown-lint

feat(Load more): Add usability guidelines for loading patterns
  contents/usability/loading.md
  static/img/load-more-pattern.svg
Due: markdown-lint

chore(deps): update dependency eslint to v8.28.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency jest-serializer-vue to v3
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
