Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Notes added by 'git notes add'
  69/57bdf6a5e90ae3682874d956ee47c56114bdf3
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

docs(FigmaTemplate): add optional create version step
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

chore(deps): update vue to v2.7.7
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.20.0
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.18.9
  package.json
  yarn.lock
Due: none

updating to be more concise
  contents/components/table.md
Due: markdown-lint

table actions and icon updates
  contents/components/table.md
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(Iconography): add edit usage guidelines
  contents/components/table.md
  contents/product-foundations/iconography.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.0.5
  package.json
  yarn.lock
Due: none

feat(Iconography): add edit usage guidelines
  contents/product-foundations/iconography.md
Due: markdown-lint

feat: table actions and icon use updates
  contents/components/table.md
  contents/product-foundations/iconography.md
Due: markdown-lint

fix(deps): update dependency bootstrap to ^4.6.2
  package.json
  yarn.lock
Due: none

chore(deps): update vue to v2.7.8
  package.json
  yarn.lock
Due: none

chore(release): 2.128.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  c2/3f7098fd3eb73827e4259498e4d76f28832c5c
Due: none

feat: Copy Icon and Illustration explorer from GitLab SVGs
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_card.vue
  components/svg_explorer/svg_icon.vue
  contents/product-foundations/iconography.md
  contents/product-foundations/illustration.md
  helpers/copy_to_clipboard.js
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier, markdown-lint

chore(deps): update dependency sass to ^1.54.0
  package.json
  yarn.lock
Due: none

fix: try getters and setters
  pages/_section/_slug/icons.vue
Due: eslint, prettier

fix: Fix faulty html and simplify computed property logic
  pages/_section/_slug/icons.vue
Due: eslint, prettier

fix: Wrap gl-search-box-by-type in client-only
  components/svg_explorer/svg_card.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

Improve form component docs
  contents/components/form.md
Due: markdown-lint

Add form structure illustration
  static/img/form-structure.svg
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
