Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Settings): Fix file name for error images
  static/img/settings-error-do.png
  static/img/settings-error-dont.png
Due: none

Apply 12 suggestion(s) to 3 file(s)
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
Due: markdown-lint

feat(componentTemplate): Minor formatting and content updates
  contents/components/button.md
Due: markdown-lint

feat(componentTemplate): Initial effort for implementing new template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
Due: eslint, prettier, markdown-lint

feat(componentTemplate): Minor formatting and content updates
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
Due: markdown-lint

feat(componentTemplate): Remove unused images
  static/img/buttons-do-dom-order.png
  static/img/buttons-dont-dom-order.png
Due: none

feat(Regions): Init mr reports region
  assets/stylesheets/framework/_content.scss
  contents/regions/merge-request-reports.md
  nav.json
  static/img/a11y-annotation-note.svg
  static/img/a11y-annotation-region.svg
  static/img/a11y-annotation-screen-reader.svg
  static/img/a11y-annotation-tab-order.svg
  static/img/mr-status-critical.svg
  static/img/mr-status-error.svg
  static/img/mr-status-failed-1.svg
  static/img/mr-status-failed.svg
  static/img/mr-status-high.svg
  static/img/mr-status-info.svg
  static/img/mr-status-loading-1.svg
  static/img/mr-status-low.svg
  static/img/mr-status-medium.svg
  static/img/mr-status-neutral-1.svg
  static/img/mr-status-neutral.svg
  static/img/mr-status-notice.svg
  static/img/mr-status-success-1.svg
  static/img/mr-status-success.svg
  static/img/mr-status-unknown.svg
  static/img/mr-status-warning-1.svg
  static/img/mr-status-warning.svg
Due: markdown-lint

feat(Regions): Adding static visuals
  contents/regions/merge-request-reports.md
  static/img/mrw-a11y-focus-order.png
  static/img/mrw-a11y-landmark.png
  static/img/mrw-a11y-notes.png
  static/img/mrw-a11y-screen-reader.png
  static/img/mrw-actions.png
  static/img/mrw-container.png
  static/img/mrw-grid.png
  static/img/mrw-layout.png
  static/img/mrw-level-1.png
  static/img/mrw-level-2.png
  static/img/mrw-level-3.png
  static/img/mrw-overflow.png
  static/img/mrw-responsive.png
  static/img/mrw-subject.png
Due: markdown-lint

docs: Add guidelines for images in README
  README.md
Due: markdown-lint

feat(componentTemplate): Update component page template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
  static/img/buttons-do-dom-order.png
  static/img/buttons-dont-dom-order.png
Due: eslint, prettier, markdown-lint

chore(release): 2.46.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d1/0b4050ce2ee9f94d2cc2ea1a4d667f66188fb1
Due: none

docs(markdownTemplate): Update template content
  pages/components/template.md
Due: markdown-lint

docs(markdownTemplate): Update frontmatter and spacing
  pages/components/template.md
Due: markdown-lint

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat(Regions): Add merge request reports
  assets/stylesheets/framework/_content.scss
  contents/regions/merge-request-reports.md
  nav.json
  static/img/a11y-annotation-note.svg
  static/img/a11y-annotation-region.svg
  static/img/a11y-annotation-screen-reader.svg
  static/img/a11y-annotation-tab-order.svg
  static/img/mr-status-critical.svg
  static/img/mr-status-error.svg
  static/img/mr-status-failed-1.svg
  static/img/mr-status-failed.svg
  static/img/mr-status-high.svg
  static/img/mr-status-info.svg
  static/img/mr-status-loading-1.svg
  static/img/mr-status-low.svg
  static/img/mr-status-medium.svg
  static/img/mr-status-neutral-1.svg
  static/img/mr-status-neutral.svg
  static/img/mr-status-notice.svg
  static/img/mr-status-success-1.svg
  static/img/mr-status-success.svg
  static/img/mr-status-unknown.svg
  static/img/mr-status-warning-1.svg
  static/img/mr-status-warning.svg
  static/img/mrw-a11y-focus-order.png
  static/img/mrw-a11y-landmark.png
  static/img/mrw-a11y-notes.png
  static/img/mrw-a11y-screen-reader.png
  static/img/mrw-actions.png
  static/img/mrw-container.png
  static/img/mrw-grid.png
  static/img/mrw-layout.png
  static/img/mrw-level-1.png
  static/img/mrw-level-2.png
  static/img/mrw-level-3.png
  static/img/mrw-overflow.png
  static/img/mrw-responsive.png
  static/img/mrw-subject.png
Due: markdown-lint

chore(release): 2.47.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  e6/7be0fd2edad8f56a000a69359849594163648b
Due: none

chore(deps): update dependency @gitlab/ui to v32
  package.json
  yarn.lock
Due: none

chore: remove deprecated dropdown examples
  examples/deprecated_dropdown/deprecated_dropdown.default.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.disabled_item.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.links.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.no_caret.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.split.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.with_divider.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.with_header.example.vue
  examples/deprecated_dropdown/deprecated_dropdown.with_search.example.vue
  examples/deprecated_dropdown/index.js
Due: eslint, prettier

Apply 2 suggestion(s) to 1 file(s)
  pages/components/template.md
Due: markdown-lint
