Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: increase GitLab UI utils specificity
  assets/stylesheets/app.scss
  pages/_section/_slug.vue
Due: eslint, prettier

chore: remove unused padding utilities
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-a-0 to gl-p-0
  assets/stylesheets/framework/_spacing.scss
  contents/components/accordion.md
Due: markdown-lint

fixup! chore: remove unused padding utilities
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-t-2 to gl-pt-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-b-2 to gl-pb-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-3 to gl-p-3
  assets/stylesheets/framework/_spacing.scss
  contents/brand-design/color.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-t-3 to gl-pt-3
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-r-3 to gl-pr-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-b-3 to gl-pb-3
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-l-3 to gl-pl-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-5 to gl-p-5
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/components/accordion.md
  contents/product-foundations/illustration.md
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

chore: migrate p-r-5 to gl-pr-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-l-5 to gl-pl-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-t-6 to gl-pt-6
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-b-6 to gl-pb-6
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-b-7 to gl-pb-7
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-8 to gl-p-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-t-8 to gl-pt-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-b-8 to gl-pb-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-a-10 to gl-p-13
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-t-10 to gl-pt-13
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-b-10 to gl-pb-13
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier
