Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: only scan domains we own
  scripts/check_links.mjs
Due: none

chore: cleanup
  scripts/check_links.mjs
Due: none

chore: simplify linksToSkip function
  scripts/check_links.mjs
Due: none

chore: frozen lockfile
  .gitlab-ci.yml
Due: none

Remove unused margin utilities
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate m-b-2 to gl-mb-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate m-b-3 to gl-mb-3
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: migrate m-l-3 to gl-ml-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate m-l-3 to gl-ml-3
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: migrate m-t-5 to gl-mt-5
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug.vue
Due: eslint, prettier

chore: migrate m-b-5 to gl-mb-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/layout/layers.md
Due: markdown-lint

chore: migrate m-t-6 to gl-mt-6
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug/index.vue
Due: eslint, prettier

chore: migrate m-b-6 to gl-mb-6
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility/vpat.md
  contents/data-visualization/color.md
  contents/layout/grid.md
  contents/layout/spacing.md
  contents/product-foundations/colors.md
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

chore: migrate m-t-7 to gl-mt-7
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/product-foundations/colors.md
  contents/product-foundations/illustration.md
  pages/_section/_slug.vue
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-b-7 to gl-mb-7
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
  layouts/default.vue
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-b-8 to gl-mb-8
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

refactor(help): refactor content guidelines
  contents/usability/helping-users.md
Due: markdown-lint

ci: Lint .mjs files
  package.json
Due: none

chore: Deduplicate yarn.lock
  yarn.lock
Due: none

chore(release): 2.125.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  1a/bc82170650f53c2caa0732c1ef6682dff8df4d
Due: none

chore(deps): update dependency eslint to v8.18.0
  package.json
  yarn.lock
Due: none

fix: Links within headlines
  assets/stylesheets/framework/_typography.scss
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat(VPAT): Evaluate GitLab v15.0
  assets/stylesheets/framework/_content.scss
  contents/accessibility/a11y.md
  contents/accessibility/vpat.md
Due: markdown-lint

feat(infinite-scroll): clarify guidelines
  contents/components/infinite-scroll.md
Due: markdown-lint

update
  contents/components/table.md
Due: markdown-lint

feat(Iconography): add edit action usage guidelines
  contents/components/table.md
  contents/product-foundations/iconography.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
