Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs(UIKit): Clarify responsibility
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(single-stat): Add link variant usage guidelines
  contents/data-visualization/single-stat.md
Due: markdown-lint

reviewer comments
  contents/product-foundations/color.md
Due: markdown-lint

feat(DesignOps): Init add new section
  contents/designops/annotation.md
  contents/designops/breaking-changes.md
  contents/designops/components.md
  contents/designops/design-contributions.md
  contents/designops/file-structure.md
  contents/designops/libraries.md
  contents/designops/lifecycle.md
  contents/designops/release-notes.md
  contents/designops/release-process.md
  contents/designops/resources.md
  contents/designops/roadmap.md
  contents/designops/sharing.md
  contents/get-started/contributing.md
  nav.json
  package-lock.json
  static/img/alert-asset.png
  static/img/alert-layer.png
  static/img/base-btn.png
  static/img/component-desc.png
  static/img/component-inspect.png
  static/img/update-modal.png
Due: markdown-lint

docs(UIKit): Apply suggestions
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(DesignOps): Remove untracked files
  package-lock.json
  yarn.lock
Due: none

fix: add lock file
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.37.0
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.21.4
  package.json
  yarn.lock
Due: none

feat(DesignTokens): add placeholder design tokens page
  contents/product-foundations/design-tokens.md
  nav.json
Due: markdown-lint

chore(release): 2.154.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  1d/f6b99ae61b426e2b6fc313a2241b8092c3b2a1
Due: none

fix(deps): update dependency @gitlab/ui to v59
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix(Popover): moved keyboard interactions to behavior
  contents/components/popover.md
Due: markdown-lint

docs(UIKit): Apply suggestion
  doc/pajamas-ui-kit.md
Due: markdown-lint

reviewer comments, addition of graphic
  contents/product-foundations/color.md
  static/img/color-interactive.png
Due: markdown-lint

chore: Make todo link configurable
  components/todo.vue
  contents/components/card.md
Due: eslint, prettier, markdown-lint

feat(color): document first iteration of color interaction guidelines
  contents/product-foundations/color.md
  static/img/color-interactive.png
Due: markdown-lint

feat(DesignTokens): Update todos
  contents/product-foundations/design-tokens.md
Due: markdown-lint

reviewer suggestions
  contents/product-foundations/color.md
Due: markdown-lint

feat(DesignTokens): Fix starting point issue url
  contents/product-foundations/design-tokens.md
Due: markdown-lint

docs(UIKit): Version and breaking changes
  doc/images/slack-msg.png
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(DesignOps): Use Get Started section
  contents/get-started/lifecycle.md
  contents/get-started/resources.md
  contents/get-started/uik-annotation.md
  contents/get-started/uik-breaking-changes.md
  contents/get-started/uik-components.md
  contents/get-started/uik-design-contributions.md
  contents/get-started/uik-file-structure.md
  contents/get-started/uik-libraries.md
  contents/get-started/uik-release-notes.md
  contents/get-started/uik-release-process.md
  contents/get-started/uik-roadmap.md
  contents/get-started/uik-sharing.md
  nav.json
Due: markdown-lint

feat(DesignOps): Apply recent updates
  contents/get-started/contributing.md
  contents/get-started/uik-design-contributions.md
  contents/get-started/uik-libraries.md
  contents/get-started/uik-release-process.md
  nav.json
Due: markdown-lint

feat(DesignOps): Init add new section
  contents/get-started/contributing.md
  contents/get-started/resources.md
  contents/get-started/uik-annotation.md
  contents/get-started/uik-breaking-changes.md
  contents/get-started/uik-components.md
  contents/get-started/uik-file-structure.md
  contents/get-started/uik-libraries.md
  contents/get-started/uik-release-notes.md
  contents/get-started/uik-release-process.md
  contents/get-started/uik-roadmap.md
  contents/get-started/uik-sharing.md
  nav.json
  static/img/alert-asset.png
  static/img/alert-layer.png
  static/img/base-btn.png
  static/img/component-desc.png
  static/img/component-inspect.png
  static/img/update-modal.png
  yarn.lock
Due: markdown-lint

fix: Use latest yarn.lock version
  yarn.lock
Due: none

fix: reset lock file
  yarn.lock
Due: none
