Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Settings): Add more information about setting inheritance
  contents/regions/settings.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v12.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/helping-users.md
Due: markdown-lint

chore(release): 2.121.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  43/38d021d9073c0f2cd5d6353955cb1e95ec2160
Due: none

Apply 5 suggestion(s) to 3 file(s)
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/dropdown-menu.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/dropdown-listbox.md
Due: markdown-lint

feat(Dropdown): Support new variants
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/dropdown-listbox.md
  contents/components/dropdown-menu.md
  contents/components/dropdown.md
  nav.json
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v40.6.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v40.6.4
  package.json
  yarn.lock
Due: none

feat(Settings): Add layout guidelines
  contents/regions/settings.md
Due: markdown-lint

feat(Settings): Better writing
  contents/regions/settings.md
Due: markdown-lint

fix: Remove extra from stories' container
  contents/components/date-picker.md
  contents/components/dropdown-listbox.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v40.6.5
  package.json
  yarn.lock
Due: none

fix: Remove extra padding from stories' container
  contents/components/date-picker.md
  contents/components/dropdown-listbox.md
Due: markdown-lint

feat(Illustration): Update guidelines
  contents/product-foundations/illustration.md
  static/img/illus-focal-point-example.svg
  static/img/illus-group.svg
  static/img/illus-isometric-example.svg
  static/img/illus-reuse.svg
Due: markdown-lint

feat(Homepage): Update banner section
  assets/images/cover-gradient.png
  assets/images/cover.png
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

feat(List): Remove as component
  contents/components/accordion.md
  contents/components/card.md
  contents/components/filter.md
  contents/components/infinite-scroll.md
  contents/components/list.md
  contents/components/pagination.md
  contents/components/sorting.md
  contents/components/table.md
  contents/components/tree.md
  contents/product-foundations/interaction.md
  nav.json
Due: markdown-lint

feat(List): Update to match other changes
  contents/components/accordion.md
Due: markdown-lint

feat(List): Make ref singular
  contents/components/table.md
Due: markdown-lint

feat(Illustration): Update caption to match aria-label
  contents/product-foundations/illustration.md
Due: markdown-lint

feat(Illustration): Apply suggestions and edits
  contents/product-foundations/illustration.md
Due: markdown-lint

feat(Illustration): Reorder stroke details
  contents/product-foundations/illustration.md
Due: markdown-lint

feat(Homepage): Update banner design to match brand
  assets/images/cover-gradient.png
  assets/images/cover.png
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

ci: add broken link checker script
  .gitlab-ci.yml
  package.json
  scripts/check_links.js
  yarn.lock
Due: eslint, prettier

feat(Illustration): Apply suggestions
  contents/product-foundations/illustration.md
Due: markdown-lint

fix: Add GitLab Pages Auth site to CSP
  nuxt.config.js
Due: eslint, prettier
