Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v9.2.0
  package.json
  yarn.lock
Due: none

chore: Add descriptions to frontmatter
  contents/components/accordion.md
  contents/components/breadcrumb.md
  contents/components/card.md
  contents/components/checkbox.md
  contents/components/color-picker.md
  contents/components/date-picker.md
  contents/components/drawer.md
  contents/components/dropdown.md
  contents/components/file-uploader.md
  contents/components/filter.md
  contents/components/form.md
  contents/components/infinite-scroll.md
  contents/components/label.md
  contents/components/list.md
  contents/components/modal.md
  contents/components/pagination.md
  contents/components/path.md
  contents/components/popover.md
  contents/components/progress-bar.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/segmented-control.md
  contents/components/skeleton-loader.md
  contents/components/socks.md
  contents/components/sorting.md
  contents/components/spinner.md
  contents/components/table.md
  contents/components/tabs.md
  contents/components/toast.md
  contents/components/toggle.md
  contents/components/token.md
  contents/components/tooltip.md
  contents/components/tree.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v9.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/ui to v32.7.1
  package.json
  yarn.lock
Due: none

feat(navigation): Don't replace parent nav items
  contents/regions/navigation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(navigation): Keep top level nav consistent
  contents/regions/navigation.md
Due: markdown-lint

feat(EmptyStates): Add empty state variants
  contents/regions/empty-states.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v32.8.0
  package.json
  yarn.lock
Due: none

Update Navigation docs to say don't replace parent nav items
  contents/regions/navigation.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v32.9.0
  package.json
  yarn.lock
Due: none

Create a page for the mini pipeline graph docs
  mini-pipeline-graph.md
Due: markdown-lint

fix: Description frontmatter wont display without vueComponent
  components/componentinfo.vue
Due: eslint, prettier

chore(release): 2.60.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  42/8408dae77feb5203144dc0fcf3101712739dfe
Due: none

chore(deps): update dependency @gitlab/ui to v32.10.0
  package.json
  yarn.lock
Due: none

feat(FileUploader): Update file uploader docs to new template
  contents/components/file-uploader.md
  static/img/file-uploader-structure.svg
Due: markdown-lint

feat(Breadcrumb): Update content to new template
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint

feat(Breadcrumb): Simplify behavior section
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Toast): Update content to new template
  contents/components/toast.md
  static/img/toast-structure.svg
Due: markdown-lint

feat(Breadcrumb): Remove appearance section
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Checkbox): Update content to use new template
  contents/components/checkbox.md
  static/img/checkbox-structure.svg
Due: markdown-lint

feat(mini pipeline graph): Create a page
  mini-pipeline-graph.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  mini-pipeline-graph.md
Due: markdown-lint
