Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(release): 2.89.2 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  bd/056127c0049b92d242db616bbee3becce16b9f
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/components/date-time-format.md
Due: markdown-lint

feat(date): change file name and location
  contents/content/date-time.md
Due: markdown-lint

feat(date): Add date-time-format md file
  contents/components/date-time-format.md
  static/img/Date and time format flow chart.png
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/content/date-time.md
Due: markdown-lint

feat(date): add date time to navigation
  nav.json
Due: none

feat(date): update flow chart image
  static/img/Date and time format flow chart.png
Due: none

feat(date): apply new changes
  contents/content/date-time.md
Due: markdown-lint

fix(issue-template): Use correct label for component issue template
  .gitlab/issue_templates/Component documentation.md
Due: markdown-lint

chore(release): 2.89.3 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ef/d5073419fb7f202db4d13b5942ef1a3b2e8c5e
Due: none

feat(Accordion): Update accordion docs to new template
  contents/components/accordion.md
  examples/accordion/accordion.basic.example.vue
  static/img/accordion-structure.svg
Due: eslint, prettier, markdown-lint
