Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(VimeoEmbeds): Add VimeoPlayer component
  components/vimeo_player.vue
  contents/brand-design/motion.md
  plugins/register_global_components.js
Due: eslint, prettier, markdown-lint

feat(BrandMotion): Embed video samples
  components/vimeo_player.vue
  contents/brand-design/motion.md
  nuxt.config.js
  plugins/register_global_components.js
Due: eslint, prettier, markdown-lint

fix: Reference popover example
  contents/data-visualization/charts.md
Due: markdown-lint

fix: Update or remove broken links
  components/color_palette/color_palette.vue
  contents/data-visualization/charts.md
  contents/data-visualization/overview.md
Due: eslint, prettier, markdown-lint

chore: Update inline text hover/focus color
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_typography.scss
Due: none

fix: Add meaningful alt text
  contents/components/alert.md
  contents/components/banner.md
Due: markdown-lint

feat(Tooltip): Update structure
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

fix: Use new figure element
  contents/components/tooltip.md
Due: markdown-lint

docs: Add label guidelines
  README.md
Due: markdown-lint

docs: Apply label suggestions
  README.md
Due: markdown-lint

feat(Tooltip): Add tooltip structure diagram
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

fix: Update dropdown frontmatter
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.2.9
  package.json
  yarn.lock
Due: none

fix(deps): update dependency nuxt to v2.16.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency start-server-and-test to ^1.15.4
  package.json
  yarn.lock
Due: none

feat(Dashboard): Init dashboard definitions
  contents/patterns/dashboards.md
  nav.json
Due: markdown-lint

feat(Dashboards): Add visual todo
  contents/patterns/dashboards.md
Due: markdown-lint

feat(Modal): specify dropdown usage in modal window version two
  contents/components/modal.md
Due: markdown-lint

Add page headers pattern
  contents/patterns/headers.md
Due: markdown-lint

Link fix
  contents/patterns/headers.md
Due: markdown-lint

fix: Add missing "Contribute" tabs
  contents/components/checkbox.md
  contents/components/color-picker.md
  contents/components/date-picker.md
  contents/components/dropdown-overview.md
  contents/components/file-uploader.md
  contents/components/filter.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/select.md
  contents/components/text-input.md
  contents/components/textarea.md
  contents/components/token.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

Use new Lookbook preview embeds
  nuxt.config.js
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

Tidy up computed properties
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
