Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Notes added by 'git notes add'
  49/ad993b2e2d4c7285691e79b46b9a29d0f9a7ae
Due: none

feat(DatePicker): Update content to use new template
  contents/components/date-picker.md
  static/img/date-picker-structure.svg
Due: markdown-lint

feat(navigation): Add initial guidance for in-app messaging
  contents/regions/navigation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(Spinner): Update content to new template
  contents/components/spinner.md
  static/img/spinner-structure.svg
Due: markdown-lint

feat(Analytics): Add Google Analytics to Pajamas
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

feat(Spinner): Apply awesome suggestions
  contents/components/spinner.md
Due: markdown-lint

feat(Analytics): Add Google Analytics to design.gitlab.com
  nuxt.config.js
  package.json
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

wip
  components/cookie_consent_banner.vue
  layouts/default.vue
Due: eslint, prettier

feat(typography): Add guidance on use of monospace
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

fix: Remove progress bar component broken page
  contents/components/progress-bar.md
Due: markdown-lint

feat(navigation): Add guidance around top-level menu item additions
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.71.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  68/e8a816c54486e729e7980e561450f24bcee644
Due: none

chore(release): 2.71.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d0/546fee7e4b8ff3c02838a197d9d84548283ea1
Due: none

feat(Tabs): Update edited content to new template
  contents/components/tabs.md
  static/img/tabs-structure.svg
Due: markdown-lint

feat(Navigation): Minor content tweak
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.72.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  73/ad8641b373b90e2f1811eaac93181f2c564904
Due: none

Update tabs.md
  contents/components/tabs.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
