Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: Apply suggestion(s)
  contents/components/button.md
Due: markdown-lint

chore: remove reference to badge sizes
  contents/usability/feature-management.md
Due: markdown-lint

fix: remove sticky
  assets/stylesheets/framework/_sidebar.scss
Due: none

feat(Button): Update emoji details
  contents/components/button.md
Due: markdown-lint

feat(notifications): Adding parity guidance
  contents/patterns/notifications.md
Due: markdown-lint

fix: remove z-index property
  assets/stylesheets/framework/_sidebar.scss
Due: none

fix: expanded nav section
  assets/stylesheets/framework/_sidebar.scss
Due: none

feat(UIKit): Add slot component construction guidance
  contents/get-started/uik-components.md
Due: markdown-lint

feat(UIKit): Add slot component construction guidance
  contents/get-started/uik-components.md
  static/img/slot-area-do-1.svg
  static/img/slot-area-dont-1.svg
  static/img/slot-area-dont-2.svg
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.15
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/patterns/notifications.md
Due: markdown-lint

feat(notifications): Adding notification guidance
  contents/patterns/notifications.md
  nav.json
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v20.2.0
  package.json
  yarn.lock
Due: none

Add context for which breakpoint is mobile
  contents/components/button.md
Due: markdown-lint

docs: update documentation related to full screen mobile buttons
  contents/components/button.md
Due: markdown-lint

feat(BrandLogo): updating color variations
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
Due: markdown-lint

feat(principles): Adding link to values
  contents/get-started/principles.md
Due: markdown-lint

fix: link to more appropriate spot in handbook
  contents/components/button.md
Due: markdown-lint

chore(deps): update dependency sass to ^1.78.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v91.12.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency markdownlint-cli2 to ^0.14.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v20.2.1
  package.json
  yarn.lock
Due: none

feat(Buttons): Update documentation related to full screen mobile buttons
  contents/components/button.md
Due: markdown-lint

feat(Homepage): Use section lead-ins
  assets/images/content.svg
  assets/images/contribute.png
  assets/images/contribute@2x.png
  assets/images/pajamas_stars.svg
  assets/images/personas/james-mackey.png
  assets/images/personas/karolina-plaskaty.png
  assets/images/personas/matthieu-poirier.png
  assets/images/personas/nazim-ahmad.png
  assets/images/resources/code.svg
  assets/images/resources/figma.svg
  assets/images/resources/issues.svg
  assets/images/resources/r-figma.png
  assets/images/resources/r-outline.png
  assets/images/resources/r-sketch.png
  assets/images/resources/r-solid.png
  assets/stylesheets/framework/_typography.scss
  components/layout.vue
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update brand lead-in
  pages/index.vue
Due: eslint, prettier

chore: Apply suggestion(s)
  contents/brand-logo/logomark.md
Due: markdown-lint

chore: tidy up page headings
  contents/get-started/uik-components.md
Due: markdown-lint

chore: Clarify relationship between slot and component
  contents/get-started/uik-components.md
  static/img/slot-area-do-1.svg
  static/img/slot-area-dont-1.svg
Due: markdown-lint

chore: Add calendar-overdue icon
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(FeatureManagement): remove illustration
  static/img/do-feature-maturity.svg
Due: none

feat(FeatureManagement): rework content to match main
  contents/usability/feature-management.md
Due: markdown-lint

feat(FeatureManagement): refactor content to match main
  contents/usability/feature-management.md
Due: markdown-lint
