Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix(deps): update dependency @gitlab/ui to v44
  package.json
  yarn.lock
Due: none

chore(release): 2.136.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  a5/dd78b3904781999dec453888d9d8440440706a
Due: none

fix(deps): update dependency @gitlab/ui to v46
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.25.0
  package.json
  yarn.lock
Due: none

Add links to navigation pages
  contents/regions/navigation.md
Due: markdown-lint

refactor: migrate to GitLab UI CSS utils
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_alignment.scss
  assets/stylesheets/framework/_display.scss
  assets/stylesheets/framework/_flex.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  components/svg_explorer/svg_album.vue
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
  contents/layout/grid.md
  contents/layout/spacing.md
  contents/product-foundations/illustration.md
  layouts/default.vue
  layouts/error.vue
  pages/_section/_slug.vue
  pages/index.vue
Due: eslint, prettier, markdown-lint

feat(nav): Add cross-links to navigation pages
  contents/regions/navigation.md
Due: markdown-lint

chore: Introduce VPAT 2.4 WCAG template
  contents/accessibility/a11y.md
  contents/accessibility/vpat.md
  contents/vpat/508.md
  contents/vpat/wcag.md
  nav.json
Due: markdown-lint

feat(GLLink): add documentation for link component
  contents/components/breadcrumb.md
  contents/components/button.md
  contents/components/dropdown-listbox.md
  contents/components/link.md
  contents/usability/helping-users.md
  nav.json
Due: markdown-lint

feat(GlBanner): add removal guidelines
  contents/components/banner.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/components/link.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.1.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @babel/preset-env to v7.19.4
  package.json
  yarn.lock
Due: none

chore: don't apply GitLab UI styles globally
  assets/stylesheets/app.scss
Due: none

feat(ErrorPage): Teach nginx about our error page
  components/page_not_found.vue
  layouts/error.vue
  nginx.conf
  pages/404.vue
Due: eslint, prettier

feat(ErrorPage): Add custom error page
  layouts/error.vue
  layouts/no_footer.vue
  nuxt.config.js
Due: eslint, prettier

feat(ErrorPage): Format better error page
  components/page_not_found.vue
  layouts/error.vue
  layouts/no_footer.vue
  nginx.conf
  nuxt.config.js
  pages/404.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v46.1.0
  package.json
  yarn.lock
Due: none

Apply 5 suggestion(s) to 1 file(s)
  contents/components/link.md
Due: markdown-lint

feat(GLLink): Remove accessibility, appearance, references
  contents/components/breadcrumb.md
  contents/components/dropdown-listbox.md
  contents/components/link.md
  contents/usability/helping-users.md
Due: markdown-lint

feat(GLLink): removed changes to files
  contents/components/breadcrumb.md
  contents/components/dropdown-listbox.md
  contents/usability/helping-users.md
Due: markdown-lint

chore(deps): update vue to v2.7.13
  package.json
  yarn.lock
Due: none

chore(deps): update jest to v29.2.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
