Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(empty-state): add considerations to Blank content use case
  contents/regions/empty-states.md
Due: markdown-lint

fix(deps): update dependency @gitlab/svgs to v2.15.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v41.2.0
  package.json
  yarn.lock
Due: none

feat(Interactions): Add new use considerations
  contents/product-foundations/interaction.md
Due: markdown-lint

feat(Dropdown): Unify validation guides
  contents/components/dropdown-combobox.md
  contents/components/dropdown-listbox.md
  contents/components/form.md
Due: markdown-lint

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: none

chore(release): 2.123.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  17/21e93dd60f456570e02ba196911f2856871335
Due: none

feat(Dropdowns): Add validation notes
  contents/components/dropdown-combobox.md
  contents/components/dropdown-listbox.md
  contents/components/form.md
Due: markdown-lint

Update breakpoints
  assets/stylesheets/utilities/_mixins.scss
Due: none

docs(contributing): adding a section for contribution guidelines
  CONTRIBUTING.md
Due: markdown-lint

Adding a section for contribution guidelines.
  CONTRIBUTING.md
Due: markdown-lint

feat(empty-state): reword blank state recommendation
  contents/regions/empty-states.md
Due: markdown-lint

feat(FeatureManagement): Usage update
  contents/usability/feature-management.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

Fix vue package mismatch and add missing package
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/content/error-messages.md
Due: markdown-lint

chore(release): 2.124.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  79/458286f468346e3d8a5db0bcc4126d70d4947f
Due: none

fix(deps): update dependency @gitlab/ui to v41.6.0
  package.json
  yarn.lock
Due: none

fix(Socks): Optimise image size
  contents/components/socks.md
  static/img/component-socks.jpg
  static/img/component-socks.png
Due: markdown-lint

docs(error-messages): clarify guidelines for error message text
  contents/content/error-messages.md
Due: markdown-lint

feat(Illustration): Add xs grid details
  contents/product-foundations/illustration.md
  static/img/illus-focal-point.svg
Due: markdown-lint

ci: add broken link checker script
  .gitlab-ci.yml
  package.json
  scripts/check_links.js
  yarn.lock
Due: eslint, prettier
