Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(dropdown): Update storybook examples
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
Due: markdown-lint

feat(dropdown): Document height optionsi
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
Due: markdown-lint

feat(Dropdown): Document height options
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
Due: markdown-lint

feat(BrandMotion): embed samples
  contents/brand-design/motion.md
  contents/brand-design/test.md
Due: markdown-lint

feat(Link): Apply multiple suggestions
  contents/components/link.md
Due: markdown-lint

feat(Link): Document link appearance
  contents/components/link.md
Due: markdown-lint

fix: Add componentLabel front-matter for dropdown pages
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/dropdown-overview.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

feat(Label): clarify behaviour on a view that can be filtered
  contents/components/label.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/modal.md
Due: markdown-lint

feat(Modal):move changes to the behavior session
  contents/components/modal.md
Due: markdown-lint

Redraw tooltip structure diagram
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

Fix spelling error and remove trailing whitespace
  contents/components/tooltip.md
Due: markdown-lint

docs(Tooltip): add tooltip structure diagram
  contents/components/tooltip.md
  static/img/tooltip-structure.svg
Due: markdown-lint

feat(Modal): specify dropdown usage in modal window
  contents/components/modal.md
Due: markdown-lint

chore(deps): update jest to v29.4.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.8.4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v55
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v3.20.0
  package.json
  yarn.lock
Due: none

chore(release): 2.150.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ab/588e3e0e31031d90130601d292aed30e37927a
Due: none

feat(Link): include truncation reference
  contents/components/link.md
Due: markdown-lint

fix: Update label frontmatter
  contents/components/checkbox.md
  contents/components/color-picker.md
  contents/components/date-picker.md
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/file-uploader.md
  contents/components/filter.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/select.md
  contents/components/text-input.md
  contents/components/textarea.md
  contents/components/token.md
Due: markdown-lint

fix: Update or remove broken links
  contents/data-visualization/charts.md
  contents/data-visualization/overview.md
Due: markdown-lint

feat(VimeoEmbeds): Allow Vimeo embeds
  contents/brand-design/test.md
  nuxt.config.js
Due: eslint, prettier, markdown-lint

chore: properly spread shade classes
  components/color_palette/color_palette.vue
Due: eslint, prettier

chore(deps): update dependency eslint to v8.34.0
  package.json
  yarn.lock
Due: none
