Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

# This is a non git-hook-target which we use in CI
# in order to parallelize linting / spec execution
test-in-ci:
  parallel: true
  commands:
    eslint:
      run: yarn run eslint
    markdownlint:
      run: yarn run markdown-lint
    prettier:
      run: yarn run prettier
    unit_tests:
      run: yarn run test:unit

feat(BrandIntroduction): adding brand personality section
  contents/brand-overview/introduction.md
  static/img/brand/intro-hero.png
Due: markdown-lint

feat(BrandVoice): adding link to brand personality section
  contents/brand-messaging/brand-voice.md
Due: markdown-lint

feat(BrandStyleFormatting): fixing indentations
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

Update empty state guidelines
  contents/patterns/empty-states.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-messaging/brand-voice.md
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

feat(BrandMessaging): adding new pages and content
  contents/brand-messaging/brand-voice.md
  contents/brand-messaging/style-formatting.md
  contents/brand-overview/brand-voice.md
  nav.json
Due: markdown-lint

feat(FeatureDiscovery): add back intro section
  contents/usability/feature-discovery.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/content/date-and-time.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.18
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/patterns/duo-feedback.md
Due: markdown-lint

feat(AI): reworded info about form customization
  contents/patterns/duo-feedback.md
  static/img/duo-feedback-cta.svg
  static/img/duo-feedback-modal.png
  static/img/duo-feedback-modal.svg
  static/img/duo-thumbs-feedback.svg
Due: markdown-lint

feat(date): change from 03 to 3 for date format
  contents/content/date-and-time.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/patterns/duo-calls-to-action.md
  contents/patterns/empty-states.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/patterns/filtering.md
Due: markdown-lint

feat(Popover): revert guidance about opening popover
  contents/components/popover.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/components/popover.md
Due: markdown-lint

feat(Popover): guidance to show only upon user action
  contents/components/popover.md
Due: markdown-lint

fix(deps): update dependency mermaid to ^10.9.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v20.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.25.7
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v94.10.0
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/content/ui-text.md
  pages/content/index.vue
Due: eslint, prettier, markdown-lint

refactor: Add initial content collection page
  contents/content/date-and-time.md
  contents/content/i18n.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  contents/get-started/navigating-pajamas.md
  nav.json
  pages/content/index.vue
Due: eslint, prettier, markdown-lint

fix: Handle nil semantic_commit in lint_mr method
  danger/commit/Dangerfile
Due: none

ci(Danger): Only lint commits when squash is disabled
  danger/commit/Dangerfile
Due: none

Pin Bootstrap version to 4.6.2
  package.json
  yarn.lock
Due: none

chore(deps): Pin Bootstrap version to 4.6.2
  package.json
  yarn.lock
Due: none

refactor: Add initial pattern collection page
  contents/get-started/navigating-pajamas.md
  contents/patterns/duo-calls-to-action.md
  contents/patterns/duo-slash-commands.md
  contents/patterns/empty-states.md
  contents/patterns/filtering.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
  contents/patterns/searching.md
  pages/patterns/index.vue
Due: eslint, prettier, markdown-lint

docs(CODEOWNERS): Add Austin as a maintainer
  .gitlab/CODEOWNERS
Due: none
