Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: add basic search
  components/search/search.vue
  components/search/search_result.vue
  layouts/default.vue
  modules/content_preparer.js
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

chore: catch fetch errors
  components/search/search.vue
Due: eslint, prettier

chore: render empty space while search is loading
  layouts/default.vue
Due: eslint, prettier

feat(locked settings): applying tw text suggestion
  contents/regions/settings.md
Due: markdown-lint

feat:(locked settings) adds new documentation
  contents/regions/settings.md
Due: markdown-lint

docs:(locked settings) adds new documentation
  contents/regions/settings.md
  static/img/locked-setting.png
Due: markdown-lint

fix(Iconography): Concise and direct language
  contents/product-foundations/iconography.md
Due: markdown-lint

fix(settings): updating linked image
  static/img/locked-setting-example.png
  static/img/locked-setting.png
Due: none

fix(settings): updating image link
  contents/regions/settings.md
Due: markdown-lint

fix(charts): updating chart component guidelines
  contents/data-visualization/charts.md
Due: markdown-lint

fix(settings): updating copy
  contents/regions/settings.md
Due: markdown-lint

fix(charts): tidy up text
  contents/data-visualization/charts.md
Due: markdown-lint

docs: Explain when to use toggles & checkboxes
  contents/components/toggle.md
Due: markdown-lint

docs(toggle): Reformat in when to use sections
  contents/components/toggle.md
Due: markdown-lint

chore(release): 2.18.3 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  f9/25e8da9350ea3104ee3c9570c0cf06493a0340
Due: none

fix(Iconography): Add additional action
  contents/product-foundations/iconography.md
Due: markdown-lint

fix(Iconography): Add icon meaning details
  contents/product-foundations/iconography.md
Due: markdown-lint

chore(release): 2.18.4 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  2f/3bcba9536f2880e8504f5d308db40a773fb4d2
Due: none

chore(Toggle): Change status to in progress
  contents/components/toggle.md
Due: markdown-lint

chore: make search results more relevant
  components/search/search.vue
  nuxt.config.js
Due: eslint, prettier

chore: improve search results dropdown UX
  components/search/search.vue
Due: eslint, prettier

chore: improve search results relevance
  components/search/search.vue
Due: eslint, prettier

feat(Buttons): Add hierarchy and variant details
  assets/stylesheets/components/_table.scss
  contents/components/button.md
Due: markdown-lint

feat(Table): Add responsive details
  contents/components/table.md
Due: markdown-lint
