Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Settings): Update icon only button recommendation
  contents/usability/settings-management.md
Due: markdown-lint

feat(Settings): Clarify sentence structure
  contents/usability/settings-management.md
Due: markdown-lint

feat(Settings): Refactor settings guidelines
  contents/usability/settings-management.md
Due: markdown-lint

feat: add dark mode
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  components/layout.vue
  components/sidebar.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

chore: update homepage background color
  pages/index.vue
Due: eslint, prettier

chore: update border colors
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore: update table styles
  assets/stylesheets/components/_table.scss
Due: none

chore(deps): update babel to v7.24.7
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v3.3.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency start-server-and-test to ^2.0.4
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

Add feedback animations
  contents/product-foundations/animation-feedback.md
  contents/product-foundations/animation-fundamentals.md
  nav.json
  static/video/feedback-active.mp4
  static/video/feedback-focus.mp4
  static/video/feedback-group-transition-do.mp4
  static/video/feedback-group-transition-dont.mp4
  static/video/feedback-hover.mp4
  static/video/feedback-list-focus.mp4
  static/video/feedback-list-hover.mp4
  static/video/feedback-transition-duration-do.mp4
  static/video/feedback-transition-duration-dont-1.mp4
  static/video/feedback-transition-duration-dont-2.mp4
  static/video/feedback-transition-easing-do.mp4
  static/video/feedback-transition-easing-dont-1.mp4
  static/video/feedback-transition-easing-dont-2.mp4
Due: markdown-lint

feat(ReleaseNotes): Add new illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.6.15
  package.json
  yarn.lock
Due: none

feat(ReleaseNotes): fix broken link, grammar, tidy up
  contents/get-started/uik-release-notes.md
Due: markdown-lint

docs: Add product illustrations to template
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

Add scan-alert-sm illustration
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(BrandColor): color code typos
  contents/brand-design/color.md
Due: markdown-lint

feat(BrandColor): fixing PMS typos
  contents/brand-design/color.md
Due: markdown-lint

chore: apply suggestion
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

feat(ReleaseNotes): add changes, link 17.2 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(ReleaseNotes): Fix markdown lint
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(BrandColor): correct color codes
  contents/brand-design/color.md
Due: markdown-lint

docs(IssueTemplates): Add product illustrations link to UI kit release issue template
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/animation-feedback.md
Due: markdown-lint

chore(deps): update dependency prettier to v3.3.2
  package.json
  yarn.lock
Due: none

chore: Apply suggestions
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Backup product illustrations
  ui-kit/GitLab Product Illustrations.fig
Due: none

docs: Adds issue template for release notes
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

chore(deps): update dependency prettier to v3.3.0
  package.json
  yarn.lock
Due: none
