Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/layout/content-reflow.md
Due: markdown-lint

Updated guidelines for tab usage.
  contents/components/tabs.md
Due: markdown-lint

Adding a section for contribution guidelines.
  CONTRIBUTING.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v35
  package.json
  yarn.lock
Due: none

chore(badge): migrate examples to embedded stories
  contents/components/badge.md
  examples/badge/badge.action.example.vue
  examples/badge/badge.basic.example.vue
  examples/badge/badge.button.example.vue
  examples/badge/badge.icon.example.vue
  examples/badge/badge.sizes.example.vue
  examples/badge/badge.variants.example.vue
  examples/badge/index.js
Due: eslint, prettier, markdown-lint

Migrate checkbox examples to story format
  contents/components/checkbox.md
  examples/form/form_checkbox/form_checkbox.checked.example.vue
  examples/form/form_checkbox/form_checkbox.checked_disabled.example.vue
  examples/form/form_checkbox/form_checkbox.disabled.example.vue
  examples/form/form_checkbox/form_checkbox.help.example.vue
  examples/form/form_checkbox/form_checkbox.indeterminant.example.vue
  examples/form/form_checkbox/form_checkbox.unchecked.example.vue
  examples/form/form_checkbox/form_checkbox.values.example.vue
  examples/form/form_checkbox/form_checkbox_group.options_array.example.vue
  examples/form/form_checkbox/form_checkbox_group.slots.example.vue
  examples/form/form_checkbox/index.js
Due: eslint, prettier, markdown-lint

chore(checkbox): Migrate checkbox examples to story format
  contents/components/checkbox.md
  examples/form/form_checkbox/form_checkbox.checked.example.vue
  examples/form/form_checkbox/form_checkbox.checked_disabled.example.vue
  examples/form/form_checkbox/form_checkbox.disabled.example.vue
  examples/form/form_checkbox/form_checkbox.help.example.vue
  examples/form/form_checkbox/form_checkbox.indeterminant.example.vue
  examples/form/form_checkbox/form_checkbox.unchecked.example.vue
  examples/form/form_checkbox/form_checkbox.values.example.vue
  examples/form/form_checkbox/form_checkbox_group.options_array.example.vue
  examples/form/form_checkbox/form_checkbox_group.slots.example.vue
  examples/form/form_checkbox/index.js
Due: eslint, prettier, markdown-lint

feat(Breadcrumb): Improve style compliance
  contents/components/breadcrumb.md
Due: markdown-lint

feat(issue template): Add Object issue template
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat(issue template): Update issue template
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat: Add additional behaviour info for popovers
  contents/components/popover.md
Due: markdown-lint

feat(Alert): Remove max-width requirement
  contents/components/alert.md
  static/img/alert-max-width.png
Due: markdown-lint

docs: Improve UI text criteria
  contents/components/checkbox.md
  contents/components/form.md
Due: markdown-lint

docs(tabs): Updated guidelines for tab usage
  contents/components/tabs.md
Due: markdown-lint

Fix: Apply suggestion
  contents/components/popover.md
Due: markdown-lint

fix: Update node and lefthook versions for native M1 support
  .tool-versions
  Dockerfile
  package.json
  yarn.lock
Due: none

fix: Native M1 support
  .tool-versions
  Dockerfile
  package.json
  yarn.lock
Due: none

feat(Iconography): Add 1.5px stroke note to icon guidelines
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(Alert): Allow fluid layout to determine width
  contents/components/alert.md
  static/img/alert-max-width.png
Due: markdown-lint

feat(documentation): Add additional behaviour info for popovers
  contents/components/popover.md
Due: markdown-lint

chore: Update non-todo admonition layout
  assets/stylesheets/framework/_content.scss
  components/md_display.vue
Due: eslint, prettier

feat(A11yGuides): Add macOS Safari and Firefox settings
  contents/accessibility-audits/keyboard-only.md
  static/img/a11y-keyboard-macos.png
  static/img/a11y-keyboard-safari.png
Due: markdown-lint

feat(A11yGuides): Text clean up
  contents/accessibility-audits/keyboard-only.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint
