Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs: document embedded GitLab UI stories
  doc/component-examples.md
  doc/embed-gitlab-ui-stories.md
Due: markdown-lint

feature(documentation): add ability to embed GitLab UI stories
  babel.config.js
  components/componentinfo.vue
  components/md_display.vue
  components/story_iframe.vue
  components/story_viewer.vue
  contents/components/alert.md
  contents/components/banner.md
  modules/content_preparer.js
  nuxt.config.js
  package.json
  plugins/gitlab-ui.js
  tests/__mocks__/file_mock.js
  tests/components/story_iframe.spec.js
  tests/components/story_viewer.spec.js
  yarn.lock
Due: eslint, prettier, markdown-lint

chore: Fix CSP warnings
  nuxt.config.js
Due: eslint, prettier

feature(documentation): add ability to embed GitLab UI stories
  babel.config.js
  components/componentinfo.vue
  components/md_display.vue
  components/story_iframe.vue
  components/story_viewer.vue
  contents/components/alert.md
  contents/components/banner.md
  doc/component-examples.md
  doc/embed-gitlab-ui-stories.md
  modules/content_preparer.js
  nuxt.config.js
  package.json
  plugins/gitlab-ui.js
  tests/__mocks__/file_mock.js
  tests/components/story_iframe.spec.js
  tests/components/story_viewer.spec.js
  yarn.lock
Due: eslint, prettier, markdown-lint

feat(Illustration): Add more in-depth guides
  contents/product-foundations/illustration.md
  static/img/illus-focal-point-example.svg
  static/img/illus-isometric-example.svg
  static/img/illus-reuse.svg
Due: markdown-lint

feat(Button): Deprecate split buttons
  contents/components/button.md
Due: markdown-lint

feat(Dropdown): Deprecate split dropdown button
  contents/components/dropdown.md
Due: markdown-lint

feat(Button): Deprecate split button dropdowns
  contents/components/button.md
  contents/components/dropdown.md
Due: markdown-lint

fix(help): Fix referenced blue color
  contents/usability/helping-users.md
Due: markdown-lint

chore(release): 2.103.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  e5/afa25aad9f4b773a1e2225df5cb46afac5dafe
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/components/card.md
Due: markdown-lint

feat(Card):apply changes
  contents/components/card.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v32.43.2
  package.json
  yarn.lock
Due: none

feat(card): expand card documents
  contents/components/card.md
Due: markdown-lint

Add Jarek to CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix(UI text): Removed Please, added period, and updated examples
  examples/form/form_group/form_group/form_group.validation.example.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v32.43.1
  package.json
  yarn.lock
Due: none

feat(card):apply changes
  contents/components/card.md
Due: markdown-lint

feat(card):add variants section
  contents/components/card.md
Due: markdown-lint
