Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Add RTL, update accessibility & breakpoints
  contents/patterns/headers.md
Due: markdown-lint

feat(Dashboards): Apply suggestion
  contents/patterns/navigation.md
Due: markdown-lint

feat(Dashboards): Apply clarifying suggestions
  contents/patterns/dashboards.md
  contents/patterns/navigation.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(release): 2.151.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  30/dddbf0b434630f4a495c299f4720bd6068eb9f
Due: none

feat(BrandMarketingIllustrations): Add diagram guidelines
  contents/brand-design/marketing-illustrations.md
  static/img/brand/diagram.svg
Due: markdown-lint

feat(BrandMarketingIllustrations): content edits
  contents/brand-design/marketing-illustrations.md
Due: markdown-lint

fix(deps): update dependency mermaid to v10
  .eslintrc.js
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  tests/__mocks__/file_mock.js
  tests/__mocks__/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

Changing numbers to bullet points
  contents/brand-design/marketing-illustrations.md
Due: markdown-lint

feat(Dashboards): Add description to layout
  contents/patterns/dashboards.md
Due: markdown-lint

feat(BrandMotion): content updates
  contents/brand-design/motion.md
Due: markdown-lint

feat(BrandMotion): adding vimeo and updated graphics
  contents/brand-design/motion.md
  static/img/brand/illustration-animation-deconstructed.png
  static/img/brand/illustration-animation-example.png
  static/img/brand/lower-thirds-sample.png
  static/img/brand/lower-thirds.png
  static/img/brand/type-repetition-motion.svg
  static/img/brand/type-repetitions-motion.svg
Due: markdown-lint

docs(Breadcrumb): Update per new specs
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint

feat(Breadcrumb): Update spec notes
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint

feat(Modal): Apply suggestions
  contents/components/modal.md
Due: markdown-lint

fix(Popover): update popover trigger guidance
  contents/components/popover.md
Due: markdown-lint

fix(Popover): fix some typos
  contents/components/popover.md
Due: markdown-lint

feat(nav): Remove process content for top-level additions
  contents/patterns/navigation.md
Due: markdown-lint

feat(nav): Remove top-level recommendations
  contents/patterns/navigation.md
Due: markdown-lint

feat(nav): Remove additions section
  contents/patterns/navigation.md
Due: markdown-lint

feat(nav): Remove link to non-existent section
  contents/patterns/navigation.md
Due: markdown-lint

Refactor structure section and todos
  contents/patterns/headers.md
Due: markdown-lint

Add headers item to nav
  nav.json
Due: none

feat(Modal): specify dropdown usage in modal window version two
  contents/components/modal.md
Due: markdown-lint

fix: Add missing "Contribute" tabs
  contents/components/checkbox.md
  contents/components/color-picker.md
  contents/components/date-picker.md
  contents/components/dropdown-overview.md
  contents/components/file-uploader.md
  contents/components/filter.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/select.md
  contents/components/text-input.md
  contents/components/textarea.md
  contents/components/token.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

chore(release): 2.151.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v55.3.1
  package.json
  yarn.lock
Due: none

chore: increase sorting example iframe height
  contents/components/sorting.md
Due: markdown-lint

fix(deps): update dependency @nuxtjs/sentry to ^7.0.4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency iframe-resizer to ^4.3.4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v56
  package.json
  yarn.lock
Due: none

chore(deps): update jest to v29.4.3
  package.json
  yarn.lock
Due: none

fix: update dropdowns decision tree
  contents/components/dropdown-overview.md
Due: markdown-lint

fix(deps): update dependency mermaid to ^9.4.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.21.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
