Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

refactor(CollectionPages): Add collection component
  components/collection.vue
Due: eslint, prettier

refactor: create component collection page
  pages/components/index.vue
Due: eslint, prettier

fix: remove component overview page
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/product-foundations/design-tokens-using.md
  nav.json
  pages/components/overview.vue
  static/_redirects
Due: eslint, prettier, markdown-lint

feat(Homepage): Use section lead-ins
  assets/images/content.svg
  assets/images/contribute.png
  assets/images/contribute@2x.png
  assets/images/pajamas_stars.svg
  assets/images/personas/james-mackey.png
  assets/images/personas/karolina-plaskaty.png
  assets/images/personas/matthieu-poirier.png
  assets/images/personas/nazim-ahmad.png
  assets/images/resources/code.svg
  assets/images/resources/figma.svg
  assets/images/resources/issues.svg
  assets/images/resources/r-figma.png
  assets/images/resources/r-outline.png
  assets/images/resources/r-sketch.png
  assets/images/resources/r-solid.png
  assets/stylesheets/framework/_typography.scss
  components/layout.vue
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update brand lead-in
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update content links
  pages/index.vue
Due: eslint, prettier

fix: use nuxt-link for internal links
  pages/index.vue
Due: eslint, prettier

chore: link to brand introduction
  pages/index.vue
Due: eslint, prettier

feat(AI): rewording and example for multiple CTAs
  contents/patterns/duo-feedback.md
  static/img/general-feedback.svg
Due: markdown-lint

build: Removes the semantic release jobs
  .gitlab-ci.yml
  Dangerfile
  danger/commit/Dangerfile
  package.json
Due: none

build: removes dangerrules that mention releases
  danger/commit/.Dangerfile.swp
  danger/commit/Dangerfile
Due: none

build: removes dangerrules that mention releases
  danger/commit/Dangerfile
Due: none

refactor(CollectionPages): fall back to description if no summary
  components/collection.vue
Due: eslint, prettier

refactor(CollectionPages): fall back to description if no summary
  components/collection.vue
  pages/components/index.vue
  pages/components/template.md
Due: eslint, prettier, markdown-lint

fix: MR draft title regex
  danger/semantic-commit/Dangerfile
Due: none

ci(Danger): Improve error and warning messages
  danger/commit/Dangerfile
Due: none

feat(principles): Reworking around sophisticated simplicity
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Removing repeated sentence
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Clarifying learning description
  contents/get-started/principles.md
Due: markdown-lint

chore(deps): update dependency sass to ^1.79.4
  package.json
  yarn.lock
Due: none

refactor(CollectionPages): create components collection page
  components/collection.vue
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/product-foundations/design-tokens-using.md
  nav.json
  pages/components/index.vue
  pages/components/overview.vue
  pages/components/template.md
  static/_redirects
Due: eslint, prettier, markdown-lint

refactor: Add initial content collection page
  contents/content/date-and-time.md
  contents/content/i18n.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  contents/get-started/navigating-pajamas.md
  nav.json
Due: markdown-lint

refactor: Add initial content collection page
  contents/content/date-and-time.md
  contents/content/i18n.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  contents/get-started/navigating-pajamas.md
  nav.json
  pages/content/index.vue
Due: eslint, prettier, markdown-lint

refactor: Add initial pattern collection page
  contents/get-started/navigating-pajamas.md
  contents/patterns/duo-calls-to-action.md
  contents/patterns/duo-slash-commands.md
  contents/patterns/empty-states.md
  contents/patterns/filtering.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
  contents/patterns/searching.md
  pages/patterns/index.vue
Due: eslint, prettier, markdown-lint

feat(AI): make content more concise
  contents/patterns/duo-feedback.md
  static/img/general-feedback.svg
Due: markdown-lint

feat(FeatureDiscovery):reword guidance to decision tree
  contents/usability/feature-discovery.md
  static/img/create-project.svg
  static/img/feature-discovery-banner.svg
  static/img/info-on-hover.svg
Due: markdown-lint

feat(Popover): guidance to show only upon user action
  contents/components/popover.md
Due: markdown-lint

feat(date): change from 03 to 3 for date
  contents/content/date-and-time.md
Due: markdown-lint

ci(Danger): Only lint commits when squash is disabled
  danger/commit/Dangerfile
Due: none

fix: Correct if block
  danger/commit/Dangerfile
Due: none

fix: Match updated MR draft regex
  danger/commit/Dangerfile
Due: none

fix: MR draft title regex
  danger/commit/Dangerfile
Due: none

fix: Markdown links and MR title lint conditions
  danger/commit/Dangerfile
Due: none

fix: Handle nil semantic_commit in lint_mr method
  danger/commit/Dangerfile
Due: none

feat(BrandIntroduction): adding brand personality section
  contents/brand-overview/introduction.md
  static/img/brand/intro-hero.png
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
