Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.8.5
  package.json
  yarn.lock
Due: none

feat(DesignTokens): Add init dark mode figma guidance
  contents/product-foundations/design-tokens-using.md
  static/img/design-tokens-figma-frame-appearance-mode-select.png
  static/img/design-tokens-figma-page-mode-select.png
Due: markdown-lint

feat(DesignTokens): Add init dark mode figma guidance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

feat(ReleaseNotes): 17.7 notes
  contents/get-started/uik-file-structure.md
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency sass to ^1.81.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.82.0
  package.json
  yarn.lock
Due: none

feat(UIKit): copy change, single lines become a paragraph
  contents/get-started/uik-contributing.md
Due: markdown-lint

chore(deps): update dependency prettier to v3.4.2
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v105
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.9.0
  package.json
  yarn.lock
Due: none

feat(AI): fix broken link
  contents/patterns/duo-feedback.md
Due: markdown-lint

feat(AI): updated to storybook link
  contents/patterns/duo-feedback.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-design/typography.md
Due: markdown-lint

feat(BrandTypography): condensing the list of guidelines
  contents/brand-design/typography.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

Applys @jeldergl suggestions
  contents/product-foundations/design-tokens-in-code.md
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

First draft ish
  contents/product-foundations/design-tokens-in-code.md
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

First proper draft of using design tokens in eng
  contents/product-foundations/design-tokens-in-code.md
Due: markdown-lint

Renames utils to utilities
  contents/product-foundations/design-tokens-in-code.md
Due: markdown-lint

Removes the utils guidance and points folks to the engineering docs
  contents/product-foundations/design-tokens-in-code.md
Due: markdown-lint

Adds clarification on why we chose dark variants
  contents/product-foundations/design-tokens-in-code.md
Due: markdown-lint

feat(DesignTokens): Adds guidance on engineering with design tokens
  contents/product-foundations/design-tokens-in-code.md
  contents/product-foundations/design-tokens-using.md
  nav.json
Due: markdown-lint

chore(deps): update dependency markdownlint-cli2 to ^0.16.0
  package.json
  yarn.lock
Due: none

feat: add dark mode toggle
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_navbar.scss
  components/dark_mode_toggle.vue
  components/layout.vue
  components/logo.vue
  components/menu_toggle.vue
  components/navbar.vue
  components/sidebar.vue
  helpers/gitlab_ui.js
Due: eslint, prettier

feat: add sun and moon icons
  components/dark_mode_toggle.vue
Due: eslint, prettier

chore: cleanup class usage
  components/navbar.vue
  components/sidebar.vue
Due: eslint, prettier

Spellors and link fixes (rebase me)
  contents/product-foundations/design-tokens-in-code.md
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

feat(BrandIcons): removing template link
  contents/brand-design/visual-design-brand-icons.md
Due: markdown-lint

feat(BrandCoreElements): content edit
  contents/brand-design/visual-design-core-elements.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-design/visual-design-core-elements.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
