Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(GlTable): Update usage guidelines
  contents/components/table.md
  static/img/table-valign-middle.svg
  static/img/table-valign-top.svg
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/tabs.md
Due: markdown-lint

chore(tabs): migrate to embedded stories
  contents/components/tabs.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(Iconography): Update icon guidelines
  contents/product-foundations/iconography.md
  static/img/icons-0-inside.svg
  static/img/icons-1-inside.svg
  static/img/icons-2-inside.svg
  static/img/icons-3-inside.svg
  static/img/icons-angles.svg
  static/img/icons-border-radius-alternates.svg
  static/img/icons-border-radius-angle.svg
  static/img/icons-border-radius-example.svg
  static/img/icons-border-radius-none.svg
  static/img/icons-border-radius.svg
  static/img/icons-clip-do.svg
  static/img/icons-clip-dont.svg
  static/img/icons-concept-clear.svg
  static/img/icons-concept-dup-dont.svg
  static/img/icons-concept-dup.svg
  static/img/icons-concept-meaning-do.svg
  static/img/icons-concept-meaning-dont.svg
  static/img/icons-concept-new.svg
  static/img/icons-concept-old.svg
  static/img/icons-concept-style-do-2.svg
  static/img/icons-concept-style-do.svg
  static/img/icons-concept-style-dont-2.svg
  static/img/icons-concept-style-dont.svg
  static/img/icons-concept-unclear.svg
  static/img/icons-counter-do.svg
  static/img/icons-counter-dont.svg
  static/img/icons-depth-do-2.svg
  static/img/icons-depth-dont-2.svg
  static/img/icons-keyline-examples.svg
  static/img/icons-line-mitar.svg
  static/img/icons-line-miter.svg
  static/img/icons-line-round-join.svg
  static/img/icons-pixel-grid-do.svg
  static/img/icons-pixel-grid-dont.svg
  static/img/icons-shape-complex.svg
  static/img/icons-shape-corners.svg
  static/img/icons-shape-simple.svg
  static/img/icons-strokes.svg
Due: markdown-lint

feat(Color): Applying suggestions
  contents/product-foundations/colors.md
Due: markdown-lint

feat(Color): Text and use updates
  contents/product-foundations/colors.md
Due: markdown-lint

fix(Settings): Updating svg example
  static/img/settings-hover.svg
Due: none

fix(Settings): Updating svg example due to svg export error
  static/img/settings-hover.svg
Due: none

feat(Settings): Revert to prod formatting to reduce size of diff
  contents/regions/settings.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat(FeatureManagement): Add higher tier badge image
  static/img/higher-tier-feature-badges.svg
Due: none

feat(FeatureManagement): Update higher tier badge svg
  static/img/higher-tier-feature-badges.svg
Due: none

feat(FeatureManagement): add guidelines for highlighting higher tier features
  contents/usability/feature-management.md
  static/img/higher-tier-feature-badges.svg
Due: markdown-lint

Fix some eslint violations by renaming files
  components/navbar.vue
  helpers/navigation/nav_node.js
  helpers/navigation/nav_tree.js
  nuxt.config.js
  plugins/gitlab_ui.js
Due: eslint, prettier

Alter config to add initial support for onetrust cookie banner
  nuxt.config.js
Due: eslint, prettier

Adjust CSP to allow for cookie preference updates
  nuxt.config.js
Due: eslint, prettier

Add cookie preferences button to footer and style it to match
  assets/stylesheets/framework/_footer.scss
  layouts/default.vue
Due: eslint, prettier

Enable or disable google analytics based on cookie prefs
  nuxt.config.js
  plugins/gtag.js
Due: eslint, prettier

Apply 4 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

feat(Settings): Update svg and change wording
  contents/regions/settings.md
  static/img/settings-hover.svg
Due: markdown-lint

Remove jarek from CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

chore(release): 2.116.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  61/abbd1318b1da4e85d58978ef17b8470ef4ec1f
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

fix(objects): Embed conceptual model example
  contents/objects/overview.md
Due: markdown-lint

feat(Settings): add guidance about linking from feature page to Settings
  contents/regions/settings.md
  static/img/settings-hover.svg
Due: markdown-lint
