Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(filtered-search): Migrate examples to embedded stories
  contents/components/filter.md
  examples/filtered_search/filtered_search.default.example.vue
  examples/filtered_search/filtered_search.history.example.vue
  examples/filtered_search/filtered_search.single_unique.example.vue
  examples/filtered_search/index.js
Due: eslint, prettier, markdown-lint

chore(buttons): Migrate to embedded stories
  contents/components/button.md
  examples/button/basic/button.basic.example.vue
  examples/button/basic/button.disabled.example.vue
  examples/button/basic/button.link.example.vue
  examples/button/basic/button.selected.example.vue
  examples/button/categories/button.primary.example.vue
  examples/button/categories/button.secondary.example.vue
  examples/button/categories/button.tertiary.example.vue
  examples/button/combinations/button.ellipsis.example.vue
  examples/button/combinations/button.emoji.example.vue
  examples/button/combinations/button.icon.example.vue
  examples/button/combinations/button.icon_and_text.example.vue
  examples/button/combinations/button.label.example.vue
  examples/button/combinations/button.loading.example.vue
  examples/button/deprecated-variants/button.info.example.vue
  examples/button/deprecated-variants/button.success.example.vue
  examples/button/deprecated-variants/button.warning.example.vue
  examples/button/dropdowns/button.dropdown.example.vue
  examples/button/dropdowns/button.dropdown_full_width.example.vue
  examples/button/dropdowns/button.dropdown_split.example.vue
  examples/button/dropdowns/button.dropdown_with_icon.example.vue
  examples/button/dropdowns/button.dropdown_with_icon_and_split.example.vue
  examples/button/dropdowns/button.dropdown_with_icon_and_text.example.vue
  examples/button/index.js
  examples/button/sizing/button.full_width.example.vue
  examples/button/sizing/button.medium.example.vue
  examples/button/sizing/button.sizes.example.vue
  examples/button/sizing/button.small.example.vue
  examples/button/variants/button.confirm.example.vue
  examples/button/variants/button.danger.example.vue
  examples/button/variants/button.dashed.example.vue
  examples/button/variants/button.variants.example.vue
  examples/button_group/button_group.basic.example.vue
  examples/button_group/button_group.dropdown.example.vue
  examples/button_group/button_group.sizes.example.vue
  examples/button_group/button_group.variants.example.vue
  examples/button_group/index.js
Due: eslint, prettier, markdown-lint

chore: Remove GlExampleDisplay and wrappers
  components/example_display.vue
  nuxt.config.js
  package.json
  plugins/gitlab_ui.js
  plugins/register_global_components.js
  yarn.lock
Due: eslint, prettier

chore: Remove old markdown renderers
  components/md_display.vue
  helpers/render_markdown.js
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

chore: Remove legacy component documentation code
  components/componentinfo.vue
Due: eslint, prettier

chore(componentinfo): Remove unused data attributes
  components/componentinfo.vue
Due: eslint, prettier

chore: upgrade GitLab UI
  package.json
  yarn.lock
Due: none

feat: Move to proper static side generation
  nuxt.config.js
  pages/_section/_slug.vue
Due: eslint, prettier

fix: Broken internal links
  contents/accessibility/best-practices.md
  contents/components/banner.md
  contents/components/list.md
  contents/components/sorting.md
  contents/content/error-messages.md
  contents/content/punctuation.md
  contents/product-foundations/motion.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

chore: fix broken links
  contents/accessibility/best-practices.md
  contents/components/banner.md
  contents/components/list.md
  contents/components/sorting.md
  contents/content/error-messages.md
  contents/content/punctuation.md
  contents/product-foundations/motion.md
Due: markdown-lint

chore: let Nuxt guess app routes
  nuxt.config.js
Due: eslint, prettier

perf: render as much as we can server-side
  components/componentinfo.vue
  pages/_section/_slug.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v38.10.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v12.1.0
  package.json
  yarn.lock
Due: none

style: rename components
  components/component_info.vue
  components/navbar.vue
  components/search/search_box.vue
  pages/_section/_slug.vue
Due: eslint, prettier

chore(eslint): disable vue/multi-word-component-names rule
  .eslintrc.js
Due: eslint, prettier

style: don't use this inside templates
  components/component_info.vue
Due: eslint, prettier

chore: Stop globally importing GitLab UI
  components/componentinfo.vue
  components/search/search.vue
  components/search/search_result.vue
  plugins/gitlab_ui.js
Due: eslint, prettier

chore: Properly include plugins, even when SSR
  nuxt.config.js
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v38.10.2
  package.json
  yarn.lock
Due: none

draft: Proper routing
  components/componentinfo.vue
  components/search/search.vue
  components/search/search_result.vue
  components/story_iframe.vue
  components/story_viewer.vue
  components/todo.vue
  helpers/gitlab_ui.js
  nginx.conf
  nuxt.config.js
  pages/_section/_slug/code.vue
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
Due: eslint, prettier

perf: render as much as we can server-side
  components/component_info.vue
  components/search/search_box.vue
  components/search/search_result.vue
  components/story_iframe.vue
  components/story_viewer.vue
  components/todo.vue
  helpers/gitlab_ui.js
  nginx.conf
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/code.vue
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
  plugins/gitlab_ui.js
Due: eslint, prettier
