Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Notes added by 'git notes add'
  dd/fd02db2121d7e220f6cf5b005333bf13f6b23e
Due: none

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/ui to v32.17.0
  package.json
  yarn.lock
Due: none

feat(Analytics): Add consent banner for cookies
  components/cookie_consent_banner.vue
  layouts/default.vue
  plugins/gtag.js
Due: eslint, prettier

chore: Fix minor unrelated eslint violation
  pages/components/overview.vue
Due: eslint, prettier

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v32.18.0
  package.json
  yarn.lock
Due: none

Add date-time-format.md
  contents/components/date-time-format.md
  static/img/Date and time format flow chart.png
Due: markdown-lint

feat(Footer): Add policy links
  assets/stylesheets/framework/_footer.scss
  layouts/default.vue
Due: eslint, prettier

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(navigation): Add initial guidance for in-app messaging
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.76.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  75/d2f111bb51b8fc16fc4fe549c421fa2e13209f
Due: none

feat(Analytics): Add Google Analytics to design.gitlab.com
  nuxt.config.js
  package.json
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency @gitlab/svgs to v1.215.0
  package.json
  yarn.lock
Due: none

docs: Adds URL guidelines to tab component
  contents/components/tabs.md
Due: markdown-lint

feat(EmptyStates): Add empty state variants
  contents/regions/empty-states.md
  examples/empty_state/empty_state.basic.example.vue
Due: eslint, prettier, markdown-lint

feat(tabs): Adds URL guidelines to tab component
  contents/components/tabs.md
Due: markdown-lint

chore(release): 2.77.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  44/0593fb8db70f24df9ae08c848e95a4f3af11ee
Due: none

fix(deps): update dependency @gitlab/svgs to v1.217.0
  package.json
  yarn.lock
Due: none

chore(release): 2.77.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
