Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Add iframe to show ViewComponent previews
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

feat: Update Pajamas navigation markup and styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  layouts/default.vue
  layouts/no_footer.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore(deps): update dependency eslint to v8.27.0
  package.json
  yarn.lock
Due: none

feat(Feature management): Document beta features
  contents/usability/feature-management.md
Due: markdown-lint

chore: Update documentation heading border styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_card.scss
  assets/stylesheets/framework/_typography.scss
  pages/_section/_slug.vue
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
  pages/components/overview.vue
Due: eslint, prettier

feat: Update Pajamas navigation markup and styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  layouts/default.vue
  layouts/no_footer.vue
  static/pajamas-logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore(deps): update dependency @evilmartians/lefthook to ^1.2.0
  package.json
  yarn.lock
Due: none

feat: Add iframe to show ViewComponent previews
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

chore(deps): update jest to v29.3.0
  package.json
  yarn.lock
Due: none

chore: Update Pajamas navigation markup and styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/layout.vue
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  static/pajamas-logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

refactor: Inject Lookbook URL from env
  nuxt.config.js
  pages/_section/_slug/lookbook.vue
  plugins/expose_env_vars.js
Due: eslint, prettier

chore: Rename tab title
  pages/_section/_slug.vue
Due: eslint, prettier

chore(deps): update jest to v29.3.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.56.1
  package.json
  yarn.lock
Due: none

chore(deps): update vue to v2.7.14
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v49.8.0
  package.json
  yarn.lock
Due: none

chore: Fix homepage image rendering on small screens
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_alignment.scss
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

chore(release): 2.140.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  0a/203fbc86fd040167cd8246b22b51a711d63b8f
Due: none

feat(HelpingUsers): Add info icon context
  contents/usability/helping-users.md
Due: markdown-lint

feat(Feature management): Document beta features
  contents/usability/feature-management.md
  static/img/beta-feature-badge.svg
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
