Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: create and leverage note component
  components/admonition.vue
  components/note.vue
  contents/accessibility/vpat.md
  contents/data-visualization/charts.md
  contents/data-visualization/color.md
  contents/layout/spacing.md
  contents/product-foundations/colors.md
  contents/regions/navigation.md
  plugins/register_global_components.js
Due: eslint, prettier, markdown-lint

chore: setup nuxt-content module
  assets/stylesheets/framework/_typography.scss
  components/admonition.vue
  components/componentinfo.vue
  modules/content_preparer.js
  nuxt.config.js
  package.json
  pages/_section/_slug.vue
  plugins/gitlab_ui.js
  yarn.lock
Due: eslint, prettier

docs: update docs on how to insert component examples
  doc/component-examples.md
  doc/embed-gitlab-ui-stories.md
Due: markdown-lint

chore: Deduplicate dependencies
  yarn.lock
Due: none

chore: create example-display wrapper component
  components/example_display.vue
  nuxt.config.js
  plugins/gitlab_ui.js
  plugins/register_global_components.js
Due: eslint, prettier

chore: leverage example-display component
  contents/components/button.md
  contents/components/date-picker.md
  contents/components/drawer.md
  contents/components/filter.md
  contents/components/form.md
  contents/components/infinite-scroll.md
  contents/components/modal.md
  contents/components/pagination.md
  contents/components/path.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/segmented-control.md
  contents/components/skeleton-loader.md
  contents/components/sorting.md
  contents/components/spinner.md
  contents/components/table.md
  contents/components/toggle.md
  contents/components/tooltip.md
  contents/data-visualization/charts.md
  contents/data-visualization/overview.md
  contents/data-visualization/single-stat.md
Due: markdown-lint

chore: remove deprecated code
  components/md_display.vue
Due: eslint, prettier

chore(progress-bar): add code example and implementation tab
  contents/components/progress-bar.md
Due: markdown-lint

chore(progress-bar): remove legacy examples
  examples/progress_bar/index.js
  examples/progress_bar/progress_bar.basic.example.vue
Due: eslint, prettier

chore(table): migrate to embedded stories
  contents/components/table.md
  examples/table/index.js
  examples/table/table.basic.example.vue
  examples/table/table.custom_fields.example.vue
  examples/table/table.sortable.example.vue
Due: eslint, prettier, markdown-lint

chore(segmented-control): migrate to embedded stories
  contents/components/segmented-control.md
  examples/segmented_control/index.js
  examples/segmented_control/segmented_control.basic.example.vue
  examples/segmented_control/segmented_control.whitespace.example.vue
Due: eslint, prettier, markdown-lint

chore(release): 2.117.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  20/ecf65122c620bcd2024c8234735ab83534d030
Due: none

chore(progress-bar): Update progress-bar documentation
  contents/components/progress-bar.md
  examples/progress_bar/index.js
  examples/progress_bar/progress_bar.basic.example.vue
Due: eslint, prettier, markdown-lint

chore: Allow to provide props to the storybook iFrame
  components/story_viewer.vue
  contents/components/toggle.md
  examples/toggle/index.js
  examples/toggle/toggle.default.example.vue
  examples/toggle/toggle.disabled.example.vue
  examples/toggle/toggle.loading.example.vue
  tests/components/story_viewer.spec.js
Due: eslint, prettier, markdown-lint

feat(Settings): Add more information about setting inheritance
  contents/regions/settings.md
  static/img/allow-overrides.svg
  static/img/settings-inheritance-dont.svg
  static/img/settings-inheritance.svg
Due: markdown-lint

chore: Move component overview to @nuxt/content
  pages/components/overview.vue
Due: eslint, prettier

chore: Replace search indexing with simpler implementation
  modules/content_preparer.js
  modules/nuxt_lunr_content_bridge.js
  nuxt.config.js
  tests/modules/nuxt_lunr_content_bridge.spec.js
Due: eslint, prettier

chore: Move lastUpdatedAt timestamp to @nuxt/content
  components/componentinfo.vue
  layouts/default.vue
  modules/nuxt_content_extension.js
  nuxt.config.js
Due: eslint, prettier

chore: remove unused frontmatter related code from VueX store
  components/componentinfo.vue
  middleware/frontmatter.js
  nuxt.config.js
  pages/_section/_slug.vue
  store/mutations.js
  store/state.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
