Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(VPAT): Apply suggestions
  contents/accessibility/508.md
Due: markdown-lint

feat(Modal): Clarify guidelines and structure
  contents/components/modal.md
  static/img/modal-structure.svg
Due: markdown-lint

feat(VPAT): Align WCAG with 508
  contents/accessibility/508.md
  contents/accessibility/vpat.md
  contents/accessibility/wcag.md
Due: markdown-lint

feat(ReleaseNotes): Add deprecations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(GlStepper): add usage guidelines
  contents/components/stepper.md
  nav.json
  static/img/stepper-visual.png
Due: markdown-lint

feat(GlStepper): add usage guidelines
  contents/components/stepper.md
Due: markdown-lint

feat(ReleaseNotes): Add badge updates for avatar instances and menu components
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(ReleaseNotes): Use non-breaking space and bold for component names
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add fix to _base/color swatch component
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Apply suggestions
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add 16-1 updates
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add final details
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.4.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.63.4
  package.json
  yarn.lock
Due: none

feat(Tokens): integrate design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  package.json
  yarn.lock
Due: none

chore(release): 2.162.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  18/6be70a00018b4c7c88789182bf7f1af6e127b5
Due: none

Pajamas UI Kit 16.1 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Use GitLab analytics
  Dockerfile
  nuxt.config.js
  package.json
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

chore: Use GitLab analytics
  Dockerfile
  components/todo.vue
  nuxt.config.js
  package.json
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency eslint to v8.43.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.4.3
  package.json
  yarn.lock
Due: none

feat: Dogfood GitLab analytics
  Dockerfile
  components/todo.vue
  nuxt.config.js
  package.json
  plugins/analytics.js
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

feat(Typography): Init type scale changes
  contents/product-foundations/type-fundamentals.md
  contents/product-foundations/type-markdown.md
  contents/product-foundations/type-scales.md
Due: markdown-lint

feat(Typography): Update addnl refs
  contents/components/table.md
  contents/get-started/uik-file-structure.md
  contents/product-foundations/type-scales.md
  nav.json
Due: markdown-lint

fix: Correct privacy link
  components/layout.vue
Due: eslint, prettier

Footer Link text edit
  components/layout.vue
Due: eslint, prettier
