Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix(Alert): Remove initial change
  contents/components/alert.md
Due: markdown-lint

fix(Alert): Specify when dismissals reappear
  contents/components/alert.md
Due: markdown-lint

fix(Alert): Clarify existing point
  contents/components/alert.md
Due: markdown-lint

chore(release): 2.32.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  2b/e1114cd3cbef27a5faf3a3d8e6235ffb067799
Due: none

feat(componentTemplate): Initial effort for implementing template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
Due: eslint, prettier, markdown-lint

feat(componentTemplate): Ongoing template and content refinements
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
Due: eslint, prettier, markdown-lint

feat(Modal): Add inline editing examples under alternatives
  contents/components/modal.md
  static/img/modal/inline-editing-1.png
  static/img/modal/inline-editing-2.png
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v29.38.0
  package.json
  yarn.lock
Due: none

feat(Navigation): add top-menu variant guideline
  contents/regions/navigation.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v29.38.1
  package.json
  yarn.lock
Due: none

chore: collapse sidebar upon navigation
  layouts/default.vue
  middleware/navigation.js
  nuxt.config.js
  store/mutations.js
Due: eslint, prettier

feat(usability): Feature configuration and discovery moments
  contents/usability/feature-management.md
Due: markdown-lint

chore: reset focus upon navigation
  layouts/default.vue
  middleware/navigation.js
Due: eslint, prettier

chore: switch to a main tag
  layouts/default.vue
  middleware/navigation.js
Due: eslint, prettier

refactor: move navigation to standalone component
  components/navbar.vue
  layouts/default.vue
Due: eslint, prettier

chore: focus body after navigation
  layouts/default.vue
  middleware/navigation.js
  nuxt.config.js
Due: eslint, prettier

chore: reset focus upon navigation
  layouts/default.vue
  middleware/navigation.js
  nuxt.config.js
Due: eslint, prettier

chore(deps): update dependency eslint to v7.29.0
  package.json
  yarn.lock
Due: none

feat(componentTemplate): Fix bullet wrapping
  contents/components/alert.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

docs(lifecycle): Update component lifecycle docs
  contents/contribute/lifecycle.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v30
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
