Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency @gitlab/ui to v29.29.2
  package.json
  yarn.lock
Due: none

feat(GlButton): Update split dropdown docs based on latest research
  contents/components/button.md
Due: markdown-lint

chore(release): 2.23.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ec/4942d5a563b5969f16787ae52b91e0b6968007
Due: none

Apply 2 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Component documentation.md
Due: markdown-lint

fix(issue-templates): Add issue template cross links
  .gitlab/issue_templates/Component documentation.md
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

chore(release): 2.23.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  34/b43229de0b689cf073b084bc8490a3598e2abe
Due: none

refactor: split store in multiple files
  store/.eslintrc.js
  store/index.js
  store/mutations.js
  store/state.js
  tests/layouts/default.spec.js
Due: eslint, prettier

chore: drop summary elements, do not auto-select first item
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  layouts/default.vue
  store/actions.js
  store/mutations.js
  store/state.js
  tests/layouts/__snapshots__/default.spec.js.snap
  tests/layouts/default.spec.js
Due: eslint, prettier

Use tempalte from a branch
  .gitlab-ci.yml
Due: none

Use 14.0 container scanning
  .gitlab-ci.yml
Due: none

Specific about browser dialog
  contents/components/button.md
Due: markdown-lint

Add tool-versions to gitignore
  .gitignore
Due: none

feat(GlButton): Add language around groups of danger buttons
  contents/components/button.md
Due: markdown-lint

chore(release): 2.24.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  77/1654d867befed465a0c0762a586b30bc05972d
Due: none

feat(UserHelp): Simplify change to just popover
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
  static/img/help-popover.png
  static/img/info-popover-with-help.png
  static/img/info-popover-without-help.png
  static/img/info-popover.png
Due: markdown-lint

feat(UserHelp): Clarify wording of info
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Small grammar fix
  contents/usability/helping-users.md
Due: markdown-lint

chore: Add tool-versions to gitignore
  .gitignore
Due: none

chore(deps): update dependency @gitlab/svgs to v1.198.0
  package.json
  yarn.lock
Due: none

feat: Support deeper nesting in left sidebar
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  components/nav_sidebar_menu_item.vue
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

fix(settings):adding updated image
  static/img/locked-setting-example.png
Due: none

feat:(locked settings) adds new documentation
  contents/regions/settings.md
Due: markdown-lint

feat(locked settings): applying tw text suggestion
  contents/regions/settings.md
Due: markdown-lint

fix(settings): updated copy
  contents/regions/settings.md
Due: markdown-lint
