Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(UserHelp): Replace icons with images
  static/img/help-popover.png
  static/img/info-popover.png
Due: none

feat(UserHelp): Replace with high res images
  static/img/help-popover.png
  static/img/info-popover.png
Due: none

feat(UserHelp): Adding a third example
  static/img/info-popover-with-help.png
  static/img/info-popover-without-help.png
Due: none

feat(UserHelp): Simplify change to just popover
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
  static/img/help-popover.png
  static/img/info-popover-with-help.png
  static/img/info-popover-without-help.png
  static/img/info-popover.png
Due: markdown-lint

feat(UserHelp): Small grammar fix
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Clarify icon usage and link popover
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Remove floating link
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Clarify wording of info
  contents/usability/helping-users.md
Due: markdown-lint

chore(docTabs): Rename content tabs that switch docimentation view
  README.md
  components/componentinfo.vue
  contents/contribute/lifecycle.md
  doc/component-examples.md
  nginx.conf
Due: eslint, prettier, markdown-lint

chore(docTabs): Rename content tabs that switch documentation view
  README.md
  components/componentinfo.vue
  contents/contribute/lifecycle.md
  doc/component-examples.md
  nginx.conf
Due: eslint, prettier, markdown-lint

Encourage use of popover with help icon
  .gitlab-ci.yml
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
Due: markdown-lint

feat(Toggle): Update pajamas toggle docs
  contents/components/toggle.md
Due: markdown-lint

feat(Table): Add border guideline for last row item
  contents/components/table.md
Due: markdown-lint

feat(UserHelp): Add tooltip and require popover
  contents/usability/helping-users.md
  static/img/help-tooltip.png
Due: markdown-lint

feat(UserHelp): Center table content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Add related content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Encourage use of popover with help icon
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
Due: markdown-lint

feat(UserHelp): Remove resizing from example
  contents/usability/helping-users.md
Due: markdown-lint

chore(release): 2.30.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  a8/9c673e3a01bf83709fbfe0021b118202d65fb7
Due: none

refactor: split store in multiple files
  store/.eslintrc.js
  store/index.js
  store/mutations.js
  store/state.js
  tests/layouts/default.spec.js
Due: eslint, prettier

chore: drop summary elements, do not auto-select first item
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  layouts/default.vue
  store/actions.js
  store/mutations.js
  store/state.js
  tests/layouts/__snapshots__/default.spec.js.snap
  tests/layouts/default.spec.js
Due: eslint, prettier

chore(a11y): improve navbar accessibility
  components/menu_item.vue
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier

refactor: drop actions in favor of composable mutations
  components/menu_item.vue
  store/mutations.js
  tests/layouts/default.spec.js
Due: eslint, prettier

chore: render all nav items
  assets/stylesheets/framework/_display.scss
  components/menu_item.vue
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier

feat(componentTemplate): Initial effort for implementing template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
Due: eslint, prettier, markdown-lint

refactor: cleanup scss with nav-sidebar section
  assets/stylesheets/framework/_sidebar.scss
Due: none

refactor(scss): deduplicate anchor rules
  assets/stylesheets/framework/_sidebar.scss
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
