Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency eslint to v8.40.0
  package.json
  yarn.lock
Due: none

feat: Use new Lookbook preview embeds
  nuxt.config.js
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

refactor: Tidy up computed properties
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

fix: Initialize embeds on component mount
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

feat(Modal): Apply recommendations
  contents/components/modal.md
Due: markdown-lint

feat(BreakingChanges): Add helpful tips
  contents/get-started/uik-breaking-changes.md
  contents/get-started/uik-release-process.md
Due: markdown-lint

feat(Layout): Relabel edit links
  components/layout.vue
Due: eslint, prettier

feat(AIHumanInteraction): Add more references
  contents/usability/ai-human-interaction.md
Due: markdown-lint

feat(AIHumanInteraction): Add headings to guidelines
  contents/usability/ai-human-interaction.md
Due: markdown-lint

feat(AIHumanInteraction): Add framework initial content
  contents/usability/ai-human-interaction.md
Due: markdown-lint

Add links to patterns video and slides
  contents/usability/ai-human-interaction.md
Due: markdown-lint

feat(ReleaseNotes): Add reply icon
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(DropdownCombobox): Clarify actions and options
  contents/components/dropdown-combobox.md
Due: markdown-lint

Remove duplicate approval and link to breaking changes in review task
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

Convert release process link to reference link
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

Link to release notes in release process task of post-review
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

Clarify that branching applies to any Pajamas UI Kit file
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

refactor: Tidy up computed properties
  pages/_section/_slug/lookbook.vue
  tests/components/lookbook.spec.js
Due: eslint, prettier

fix: Initialize embeds on component mount
  nuxt.config.js
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

docs(FigmaUpdate): Apply suggestions
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

docs(FigmaUpdate): Update review tasks
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

fix: Correct typo
  contents/components/modal.md
Due: markdown-lint

feat(ReleaseNotes): Adding dropdown updates
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Update filter to accept text input
  contents/components/filter.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  components/layout.vue
Due: eslint, prettier

feat(GlFilteredSearch): Clarify use of text values
  contents/components/filter.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/filter.md
Due: markdown-lint
