Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Charts): Adding more chart types
  contents/data-visualization/charts.md
Due: markdown-lint

Update language
  contents/components/button.md
Due: markdown-lint

feat(GlButton): Add language around groups of danger buttons
  contents/components/button.md
Due: markdown-lint

chore(release): 2.22.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  5d/c5e528cd9f96ffa3719fc6bd05933eb20b1073
Due: none

docs(navigation): Separate sub nav groups
  contents/regions/navigation.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v8.4.0
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  doc/navbar.md
Due: markdown-lint

Apply 3 suggestion(s) to 2 file(s)
  doc/navbar.md
  tests/layouts/default.spec.js
Due: eslint, prettier, markdown-lint

test: test navbar structure
  .eslintrc.js
  babel.config.js
  components/menu_item.vue
  contents/accessibility-audits/accessibility-audits.md
  contents/accessibility-audits/content.md
  contents/accessibility-audits/keyboard-only.md
  contents/accessibility-audits/screen-readers.md
  contents/accessibility-audits/visual.md
  nav.json
  package.json
  scripts/test.sh
  tests/layouts/__snapshots__/default.spec.js.snap
  tests/layouts/default.spec.js
  tests/test_setup.js
  yarn.lock
Due: eslint, prettier, markdown-lint

chore: make navbar configurable
  components/menu_section.vue
  components/sub_menu.vue
  contents/accessibility-audits/1-accessibility-audits.md
  contents/accessibility-audits/2-keyboard-only.md
  contents/accessibility-audits/3-Screen readers.md
  contents/accessibility-audits/4-visual.md
  contents/accessibility-audits/5-content.md
  layouts/default.vue
  nav.json
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier, markdown-lint

docs: document navbar configuration
  README.md
  doc/navbar.md
Due: markdown-lint

chore: make navbar configurable
  components/menu_item.vue
  components/menu_section.vue
  components/sub_menu.vue
  contents/accessibility-audits/1-accessibility-audits.md
  contents/accessibility-audits/2-keyboard-only.md
  contents/accessibility-audits/3-Screen readers.md
  contents/accessibility-audits/4-visual.md
  contents/accessibility-audits/5-content.md
  layouts/default.vue
  nav.json
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier, markdown-lint

chore: reorder data visualization nav items
  nav.json
  tests/layouts/__snapshots__/default.spec.js.snap
Due: none

docs(lifecycle): Update component lifecycle docs
  contents/contribute/lifecycle.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/contribute/lifecycle.md
Due: markdown-lint

docs(issue-template): Add component documentation issue template
  .gitlab/issue_templates/Component documentation.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

fix(navigation): Separate sub nav groups
  contents/regions/navigation.md
Due: markdown-lint

Apply 5 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Component documentation.md
Due: markdown-lint

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none
