Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(Navigation): Small grammar fixes
  contents/usability/navigation-sidebar.md
Due: markdown-lint

feat(ReleaseNotes): updated Navigation component
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(RadioButton): Improve guidelines to avoid nesting elements
  contents/components/radio-button.md
Due: markdown-lint

chore(deps): update babel to v7.24.5
  package.json
  yarn.lock
Due: none

Detailing that slash commands need more work
  contents/usability/ai-human-interaction.md
Due: markdown-lint

chore: Remove padding from code insight pre
  assets/stylesheets/framework/_typography.scss
Due: none

chore(deps): update dependency sass to ^1.76.0
  package.json
  yarn.lock
Due: none

chore(release): 2.197.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  2d/5c092bb6df113b98f084dc85fcb8d600b6073b
Due: none

feat(DesignTokens): Design token section
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens-using.md
  contents/product-foundations/design-tokens.md
  nav.json
  static/img/design-tokens-constant.svg
  static/img/design-tokens-contextual.svg
  static/img/design-tokens-example-01.svg
  static/img/design-tokens-example-02.svg
  static/img/design-tokens-example-03.svg
  static/img/design-tokens-json.svg
  static/img/design-tokens-name-value.svg
  static/img/design-tokens-naming-context.svg
  static/img/design-tokens-naming-convention.svg
  static/img/design-tokens-naming-element.svg
  static/img/design-tokens-naming-properties.svg
  static/img/design-tokens-semantic.svg
  static/img/design-tokens-specificity.svg
  static/img/design-tokens.svg
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v80
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens.md
Due: markdown-lint

Revert "Merge branch 'work-around-pages-multiple-deployments-issue' into 'main'"
  .gitlab-ci.yml
Due: none

ci: Fix urls in review apps in `<fig-img>` component
  components/figure_img.vue
Due: eslint, prettier

ci: Fix video source URLs in review apps
  nuxt-content-plugins/fix_review_urls.js
Due: eslint, prettier

ci: Fix urls in review apps in `<figure-img>` component
  components/figure_img.vue
Due: eslint, prettier

chore: Add maintainer checklist to MR template
  .gitlab/merge_request_templates/Documentation.md
Due: markdown-lint

docs(MaintainerChecklist): Extend checklist with notes from the component template
  doc/maintainer-checklist.md
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  doc/maintainer-checklist.md
Due: markdown-lint

docs(MaintainerChecklist): Extend checklist with notes from the component template
  .gitlab/merge_request_templates/Documentation.md
  doc/maintainer-checklist.md
Due: markdown-lint

feat(ReleaseNotes): 17.0 init
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): added Navigation component
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: clean up init
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feature(ReleaseNotes): Add annotations and utilities file
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(DesignTokens): Suggested updates
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens.md
  static/img/design-tokens-specificity.svg
  static/img/design-tokens.svg
Due: markdown-lint

feat(DesignTokens): Further refinements
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens-using.md
  contents/product-foundations/design-tokens.md
  static/img/design-tokens-example-01.svg
  static/img/design-tokens-example-02.svg
  static/img/design-tokens-example-03.svg
  static/img/design-tokens-naming-convention.svg
Due: markdown-lint

feat(ReleaseNotes): add Group Navigation
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Dropdown description
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix: Button icon colors
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens-reading.md
Due: markdown-lint

feat(DesignTokens): Init token section
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens-using.md
  contents/product-foundations/design-tokens.md
  nav.json
  static/img/design-tokens-constant.svg
  static/img/design-tokens-contextual.svg
  static/img/design-tokens-example-01.svg
  static/img/design-tokens-example-02.svg
  static/img/design-tokens-example-03.svg
  static/img/design-tokens-json.svg
  static/img/design-tokens-name-value.svg
  static/img/design-tokens-naming-context.svg
  static/img/design-tokens-naming-convention.svg
  static/img/design-tokens-naming-element.svg
  static/img/design-tokens-naming-properties.svg
  static/img/design-tokens-semantic.svg
  static/img/design-tokens-specificity.svg
  static/img/design-tokens.svg
Due: markdown-lint

chore(deps): update dependency sass to ^1.77.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
