Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
---
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update babel to v7.23.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v68
  package.json
  yarn.lock
Due: none

fix(deps): update dependency mermaid to ^10.6.1
  package.json
  yarn.lock
Due: none

fix(deps): update dependency iframe-resizer to ^4.3.9
  package.json
  yarn.lock
Due: none

chore(release): 2.176.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  93/4edb943f969f5727bec019788148a80e4d7fdf
Due: none

feat(UIKitReleaseNotes): Icons and illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(UIKitReleaseNotes): Banner img size
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(icons): using pipeline and status icons
  contents/product-foundations/iconography.md
  static/img/icons-collection-file-folder.svg
  static/img/icons-collection-pipeline.svg
  static/img/icons-collection-status.svg
  static/img/icons-collection-ui.svg
Due: markdown-lint

feat(UIKReleaseNotes): Icons and formatting
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(seo): generate context-aware meta tags
  helpers/seo.js
  nuxt.config.js
  pages/_section/_slug.vue
Due: eslint, prettier

chore(deps): update dependency prettier to v3.1.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @nuxtjs/sentry to ^8.0.2
  package.json
  yarn.lock
Due: none

Minor typo correction in accordion.md
  contents/components/accordion.md
Due: markdown-lint

feat(UIKitReleaseNotes): Icon collections
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(UIKitReleaseNotes): Move out of draft
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(UIKitReleaseNotes): Apply suggestions
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(UIKitReleaseNotes): Clarify modal selection
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Rename file
  ui-kit/DRAFT_ Patterns and Page Templates.fig
  ui-kit/🚧 DRAFT Patterns and Page Templates.fig
Due: none

Resolve "Create Pajamas UI Kit 16.6 release notes"
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency start-server-and-test to ^2.0.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @nuxtjs/sentry to ^8.0.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v69
  package.json
  yarn.lock
Due: none

feat(Colors): use colors from gitlab-ui design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_color.scss
  assets/stylesheets/framework/_footer.scss
  components/color_palette/color_contrast_score.vue
  components/color_palette/color_palette.vue
  contents/data-visualization/color.md
  contents/product-foundations/color.md
  package.json
  plugins/register_global_components.js
  tests/components/color_palette/color_contrast_score.spec.js
  tests/components/color_palette/color_palette.spec.js
  yarn.lock
Due: eslint, prettier, markdown-lint

fix(deps): update dependency @gitlab/svgs to v3.71.0
  package.json
  yarn.lock
Due: none

chore(release): 2.177.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  b6/7eab86f07670116f7f6c5d85bba9f2a21abb62
Due: none

feat(content): Moved button details
  contents/components/button.md
  contents/content/terminology.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/button.md
Due: markdown-lint

chore(deps): update dependency eslint to v8.54.0
  package.json
  yarn.lock
Due: none

feat(Colors): use colors from gitlab-ui design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_color.scss
  assets/stylesheets/framework/_footer.scss
  components/color_palette/color_contrast_score.vue
  components/color_palette/color_palette.vue
  contents/data-visualization/color.md
  contents/product-foundations/color.md
  plugins/register_global_components.js
  tests/components/color_palette/color_contrast_score.spec.js
  tests/components/color_palette/color_palette.spec.js
Due: eslint, prettier, markdown-lint

feat(Layout): Suggest ellipsis button for truncation
  contents/components/table.md
  contents/product-foundations/layout.md
  contents/usability/progressive-disclosure.md
Due: markdown-lint

Add new line about not creating mascot
  contents/brand-logo/logomark.md
Due: markdown-lint

feat(GlBadge): Update guidelines for icons
  contents/components/badge.md
  static/img/badge-lg-icon-size.svg
  static/img/badge-md-icon-size.svg
  static/img/badge-round-icons-right.svg
  static/img/badge-round-icons-wrong.svg
  static/img/badge-sm-icon-size.svg
Due: markdown-lint

Update file charts.md
  contents/data-visualization/charts.md
Due: markdown-lint

docs(GlChart): Update guidelines for using non GitLab-UI charts
  contents/data-visualization/charts.md
Due: markdown-lint

Fix typo
  contents/data-visualization/charts.md
Due: markdown-lint

feat(Layout): Clarify tabs truncation with tooltip
  contents/components/tabs.md
Due: markdown-lint
