Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix(deps): update dependency @gitlab/ui to v41.9.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v2.19.0
  package.json
  yarn.lock
Due: none

feat(Brand): Edits to brand guidelines
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand/overview.md
  static/img/brand/core-logo-logo-variations.svg
  static/img/brand/marketing-illustrations.svg
Due: markdown-lint

feat(GlTable): add edit action usage guidelines
  contents/components/table.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v41.9.1
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v41.10.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v2.20.0
  package.json
  yarn.lock
Due: none

feat(Illustration): Apply suggestions
  contents/product-foundations/illustration.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v42
  package.json
  yarn.lock
Due: none

feat(color): Update $gray-10
  assets/stylesheets/_variables.scss
Due: none

feat(color): Update $gray-10
  assets/stylesheets/_variables.scss
  contents/product-foundations/colors.md
Due: markdown-lint

feat(Color): Update $gray-10 from #fafafa to #f5f5f5
  assets/stylesheets/_variables.scss
  contents/product-foundations/colors.md
Due: markdown-lint

ci: add broken link checker script
  .gitlab-ci.yml
  package.json
  scripts/check_links.js
  yarn.lock
Due: eslint, prettier

chore: Remove consola
  package.json
  scripts/check_links.js
Due: eslint, prettier

feat(Illustration): Update punctuation
  contents/product-foundations/illustration.md
Due: markdown-lint

chore: improve output
  scripts/check_links.js
Due: eslint, prettier

chore: use static import
  package.json
  scripts/check_links.mjs
Due: none

feat(Illustration): Add XS grid size
  contents/product-foundations/illustration.md
  static/img/illus-focal-point.svg
Due: markdown-lint

chore: remove m-a-0 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-t-0 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-r-0 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-b-0 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-l-0 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-a-1 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-t-1 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-r-1 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-b-1 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-l-1 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-a-2 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-t-2 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: remove m-r-2 utility
  assets/stylesheets/framework/_spacing.scss
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
