Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs:(locked settings) adds new documentation
  contents/regions/settings.md
  static/img/locked-setting.png
Due: markdown-lint

feat:(locked settings) adds new documentation
  contents/regions/settings.md
Due: markdown-lint

fix(settings): updating image link
  contents/regions/settings.md
Due: markdown-lint

fix(settings): updating copy
  contents/regions/settings.md
Due: markdown-lint

fix(settings): updating linked image
  static/img/locked-setting-example.png
  static/img/locked-setting.png
Due: none

feat(Settings): Adding a lock icon to settings to show state
  contents/regions/settings.md
  static/img/locked-setting-example.png
Due: markdown-lint

chore(release): 2.25.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  7b/63a3d6c8d0812b95592de0980386290654ad1c
Due: none

chore: Add tool-versions file for asdf
  .gitignore
  .tool-versions
Due: none

chore: Add tool-versions file for asdf
  .tool-versions
Due: none

style: Add gl-markdown styles to md pages
  layouts/default.vue
Due: eslint, prettier

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

Use default container-scanning analyzer
  .gitlab-ci.yml
Due: none

Apply 3 suggestion(s) to 1 file(s)
  doc/nvda-setup.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  doc/nvda-setup.md
Due: markdown-lint

docs(NVDASetup): Setup NVDA in VirtualBox
  doc/nvda-setup.md
Due: markdown-lint

docs(NVDASetup): Add remaining steps and visuals
  doc/images/nvda-1-vb-new.png
  doc/images/nvda-2-vb-setup.png
  doc/images/nvda-3-vb-size.png
  doc/images/nvda-4-vb-disc.png
  doc/images/nvda-5-w-guest-additions.png
  doc/images/nvda-6-vb-screen-size.png
  doc/images/nvda-7-nvda-settings.png
  doc/images/nvda-8-karabiner.png
  doc/nvda-setup.md
Due: markdown-lint

docs(NVDASetup): Setup NVDA in VirtualBox
  doc/images/nvda-1-vb-new.png
  doc/images/nvda-2-vb-setup.png
  doc/images/nvda-3-vb-size.png
  doc/images/nvda-4-vb-disc.png
  doc/images/nvda-5-w-guest-additions.png
  doc/images/nvda-6-vb-screen-size.png
  doc/images/nvda-7-nvda-settings.png
  doc/images/nvda-8-karabiner.png
  doc/nvda-setup.md
Due: markdown-lint

docs(codeowners): Add amelia as pajamas mainainer
  .gitlab/CODEOWNERS
Due: none

chore: update Yarn version
  .tool-versions
Due: none

feat: Support deeper nesting in left sidebar
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  components/nav_sidebar_menu_item.vue
  tests/layouts/__snapshots__/default.spec.js.snap
Due: eslint, prettier

chore(deps): update dependency @gitlab/ui to v29.31.0
  package.json
  yarn.lock
Due: none

Update the usage of help text and description
  contents/components/toggle.md
Due: markdown-lint

chore(deps): update dependency eslint to v7.27.0
  package.json
  yarn.lock
Due: none

style: Add gl-markdown styles to md pages
  layouts/default.vue
  pages/_section/_slug.vue
Due: eslint, prettier
