Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

ci: Start caching node_modules
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/components/drawer.md
Due: markdown-lint

New purchase illustration
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(Drawer): Enhancing guidelines for drawer usage
  contents/components/drawer.md
Due: markdown-lint

chore: two minor things from the review
  nuxt.config.js
  scripts/build.sh
Due: eslint, prettier

chore(deps): update babel to v7.23.6
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/patterns/merge-request-reports.md
Due: markdown-lint

feat(Colors): use colors from gitlab-ui design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_color.scss
  assets/stylesheets/framework/_footer.scss
  components/color_palette/color_contrast_score.vue
  components/color_palette/color_palette.vue
  contents/data-visualization/color.md
  contents/product-foundations/color.md
  plugins/register_global_components.js
  tests/components/color_palette/color_contrast_score.spec.js
  tests/components/color_palette/color_palette.spec.js
Due: eslint, prettier, markdown-lint

feat(Empty state): Update guideline for merge status report
  contents/patterns/merge-request-reports.md
Due: markdown-lint

feat(content): Creating central UI text guidance
  contents/content/terminology.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  nav.json
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v71.11.0
  package.json
  yarn.lock
Due: none

chore(release): 2.180.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  5d/adadb4841a55c10b920b6744beeb1befb9fe8c
Due: none

Fixes broken link
  contents/content/ui-text.md
Due: markdown-lint

feat(Color): Update chromatic headings
  components/color_palette/color_palette.vue
Due: eslint, prettier

feat(Layout):
  contents/product-foundations/layout.md
Due: markdown-lint

feat(Layout): Clarifying cascading layout
  contents/product-foundations/layout.md
Due: markdown-lint

chore(deps): update dependency eslint to v8.56.0
  package.json
  yarn.lock
Due: none

fix: Make anchor links work
  nuxt.config.js
Due: eslint, prettier

feat(UIKitReleaseNotes) 16.7 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(Layout): Clarify cascading layout
  contents/product-foundations/layout.md
Due: markdown-lint

feat(Color): Group lighting concepts
  contents/product-foundations/color.md
Due: markdown-lint

feat(UIKitReleaseNotes): 16.7 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Addressed review feedback
  contents/content/ui-text.md
  contents/content/verb-tenses.md
Due: markdown-lint

feat(TypeFundamentals): Add object
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

feat(TypeFundamentals): Add contrast notes
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

chore: Fix borked link
  contents/patterns/merge-request-reports.md
Due: markdown-lint

Adding link to Papercuts
  contents/content/ui-text.md
Due: markdown-lint

chore: Remove first look references
  contents/get-started/resources.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

feat(UIKReleaseNotes): Theme 10 step
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Update file label.md
  contents/components/label.md
Due: markdown-lint

chore(deps): update dependency sass-loader to ^10.5.1
  package.json
  yarn.lock
Due: none

feat(Color): Clarify palette and concepts
  components/color_palette/color_palette.vue
  contents/accessibility/visual.md
  contents/components/link.md
  contents/components/spinner.md
  contents/product-foundations/color.md
Due: eslint, prettier, markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(release): 2.181.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
