Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(VoiceTone): Add contractions reference
  contents/content/voice-tone.md
Due: markdown-lint

feat(UI text): Added content guidance for blank states
  contents/regions/empty-states.md
Due: markdown-lint

docs(Breadcrumbs): Improve style compliance
  contents/components/breadcrumb.md
Due: markdown-lint

chore(release): 2.106.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  b1/eb8429d38cb0a6eea0aabbc5a27d959e2b97a9
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/get-started/structure.md
Due: markdown-lint

chore: migrate accordion to embedded stories
  .tool-versions
  contents/components/accordion.md
  examples/accordion/accordion.basic.example.vue
  examples/accordion/accordion.collapse_other.example.vue
  examples/accordion/accordion.initial_visible.example.vue
  examples/accordion/index.js
Due: eslint, prettier, markdown-lint

chore: migrate avatar to embedded stories
  contents/components/avatar.md
  examples/avatar/avatar.fallback.example.vue
  examples/avatar/avatar.image.example.vue
  examples/avatar/avatar.rect.example.vue
  examples/avatar/avatar.tooltip.example.vue
  examples/avatar/index.js
  examples/avatar_labeled/avatar.labeled.example.vue
  examples/avatar_labeled/avatar.labeled_badges.example.vue
  examples/avatar_labeled/avatar.labeled_tooltip.example.vue
  examples/avatar_labeled/index.js
  examples/avatar_link/avatar.link.example.vue
  examples/avatar_link/index.js
  examples/avatars_inline/avatars.inline.example.vue
  examples/avatars_inline/avatars.inline_large.example.vue
  examples/avatars_inline/avatars.inline_links_and_tooltips.example.vue
  examples/avatars_inline/avatars.inline_links_and_tooltips_badge.example.vue
  examples/avatars_inline/index.js
Due: eslint, prettier, markdown-lint

chore: migrate broadcast message to embedded stories
  contents/components/broadcast-message.md
  examples/broadcast_message/broadcast_message.basic.example.vue
  examples/broadcast_message/broadcast_message.themes.example.vue
  examples/broadcast_message/index.js
Due: eslint, prettier, markdown-lint

chore: migrate card to embedded stories
  contents/components/card.md
  examples/card/card.basic.example.vue
  examples/card/card.headerfooter.example.vue
  examples/card/index.js
Due: eslint, prettier, markdown-lint

chore: migrate label to embedded stories
  contents/components/label.md
  examples/label/index.js
  examples/label/label.basic.example.vue
  examples/label/label.scoped.example.vue
Due: eslint, prettier, markdown-lint

chore: migrate accordion to embedded stories
  contents/components/accordion.md
  examples/accordion/accordion.basic.example.vue
  examples/accordion/accordion.collapse_other.example.vue
  examples/accordion/accordion.initial_visible.example.vue
  examples/accordion/index.js
Due: eslint, prettier, markdown-lint

chore: add examples titles
  contents/components/accordion.md
  contents/components/avatar.md
  contents/components/broadcast-message.md
  contents/components/card.md
  contents/components/label.md
Due: markdown-lint

chore: Migrate to embedded stories instead of examples
  contents/components/accordion.md
  contents/components/avatar.md
  contents/components/broadcast-message.md
  contents/components/card.md
  contents/components/label.md
  examples/accordion/accordion.basic.example.vue
  examples/accordion/accordion.collapse_other.example.vue
  examples/accordion/accordion.initial_visible.example.vue
  examples/accordion/index.js
  examples/avatar/avatar.fallback.example.vue
  examples/avatar/avatar.image.example.vue
  examples/avatar/avatar.rect.example.vue
  examples/avatar/avatar.tooltip.example.vue
  examples/avatar/index.js
  examples/avatar_labeled/avatar.labeled.example.vue
  examples/avatar_labeled/avatar.labeled_badges.example.vue
  examples/avatar_labeled/avatar.labeled_tooltip.example.vue
  examples/avatar_labeled/index.js
  examples/avatar_link/avatar.link.example.vue
  examples/avatar_link/index.js
  examples/avatars_inline/avatars.inline.example.vue
  examples/avatars_inline/avatars.inline_large.example.vue
  examples/avatars_inline/avatars.inline_links_and_tooltips.example.vue
  examples/avatars_inline/avatars.inline_links_and_tooltips_badge.example.vue
  examples/avatars_inline/index.js
  examples/broadcast_message/broadcast_message.basic.example.vue
  examples/broadcast_message/broadcast_message.themes.example.vue
  examples/broadcast_message/index.js
  examples/card/card.basic.example.vue
  examples/card/card.headerfooter.example.vue
  examples/card/index.js
  examples/label/index.js
  examples/label/label.basic.example.vue
  examples/label/label.scoped.example.vue
Due: eslint, prettier, markdown-lint

feat(EmptyState): Add space between todos on empty state page
  contents/regions/empty-states.md
Due: markdown-lint

feat(Breadcrumb): Improve style compliance
  contents/components/breadcrumb.md
Due: markdown-lint

Add Object documentation issue template
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat(Layout): Add a new page to layout section
  contents/layout/content-reflow.md
  static/img/content-reflow-strategy-buttons.png
  static/img/content-reflow-strategy-table.png
Due: markdown-lint

feat(Layout): Adding more info
  contents/layout/content-reflow.md
Due: markdown-lint

Add content reflow page
  contents/layout/reflow.md
Due: markdown-lint

feat(structure): Add more details to objects definition
  contents/get-started/structure.md
Due: markdown-lint

chore(release): 2.107.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  f9/d58defb9dadafd00bd8f5b9024f4fe9416a723
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
