Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
---
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

fix(Search): Add Pajamas UI kit link
  contents/components/search.md
Due: markdown-lint

fix(Token): Rename stories to match variants
  contents/components/token.md
Due: markdown-lint

docs(Feature Discovery): Converting the onboarding page into a broader feature discovery page.
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/progressive-disclosure.md
  nav.json
  nginx.conf
Due: markdown-lint

fix(Pagination): Retitle and fix offset pagination examples
  contents/components/pagination.md
Due: markdown-lint

fix(Toggle): Add left label position story
  contents/components/toggle.md
Due: markdown-lint

fix(Label): Add story with close
  contents/components/label.md
Due: markdown-lint

fix(Path): Fix and retitle stories
  contents/components/path.md
Due: markdown-lint

fix(Modal): Add scrolling content and without actions stories
  contents/components/modal.md
Due: markdown-lint

fix(Tooltip): Add right, bottom, and left stories
  contents/components/tooltip.md
Due: markdown-lint

fix(Toast): Add action and long content stories
  contents/components/toast.md
Due: markdown-lint

fix(Popover): Add story with close button
  contents/components/popover.md
Due: markdown-lint

docs(Feature Discovery): Introducing feature discovery
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/progressive-disclosure.md
  nav.json
  nginx.conf
Due: markdown-lint

fix(Stories): Update multiple component stories
  contents/components/breadcrumb.md
  contents/components/button.md
  contents/components/checkbox.md
  contents/components/date-picker.md
  contents/components/drawer.md
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/token.md
Due: markdown-lint

feat(DesignTokens): Clarify modes
  contents/product-foundations/design-tokens.md
Due: markdown-lint

feat(DesignTokens): Initial docs
  contents/product-foundations/design-tokens.md
Due: markdown-lint

docs(Feature Management): Introducing discovery patterns and examples
  contents/usability/feature-management.md
  static/img/contextual-link-example.svg
  static/img/contextual-menu-example.svg
  static/img/visual-cues.svg
Due: markdown-lint

feat(Nav): Update chevron direction
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
Due: eslint, prettier

feat(Nav): Update sidebar spec
  tests/components/__snapshots__/sidebar.spec.js.snap
Due: none

feat(PajamasPres): Font size and measure
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_typography.scss
Due: none

feat(Nav): Update chevron direction
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  tests/components/__snapshots__/sidebar.spec.js.snap
Due: eslint, prettier

fix(Pagination): Retitle and fix pagination examples
  contents/components/pagination.md
Due: markdown-lint

chore(deps): update babel to v7.22.15
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.4.10
  package.json
  yarn.lock
Due: none

feat(ReleaseNotes): Option state updates
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(PajamasPres): More refinements
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_typography.scss
  contents/product-foundations/color.md
  contents/product-foundations/spacing.md
Due: markdown-lint

feat(DelayedResponse): Apply suggestion
  contents/usability/saving-and-feedback.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v66.5.0
  package.json
  yarn.lock
Due: none

feat(PajamasPres): Font size and measure
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_typography.scss
  contents/product-foundations/color.md
  contents/product-foundations/spacing.md
Due: markdown-lint

chore(release): 2.170.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  c0/40127e840f2c712ad737b545eff20a87575702
Due: none

chore(deps): update dependency @babel/core to v7.22.17
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.49.0
  package.json
  yarn.lock
Due: none
