Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs(Pajamas): Add pattern page for Duo slash commands
  contents/patterns/slash-commands.md
  contents/usability/ai-human-interaction.md
  nav.json
  static/img/slash-command-arguments.svg
  static/img/slash-commands-conditional.svg
  static/img/slash-commands-not-conditional.svg
Due: markdown-lint

docs(Pajamas): create AI CTA page
  contents/patterns/calls-to-action.md
  nav.json
  static/img/ai-cta-too-long.svg
  static/img/ai-cta-with-icon.svg
  static/img/ai-cta-without-icon.svg
  static/img/do-feature-maturity.svg
  static/img/dont-feature-maturity.svg
Due: markdown-lint

feat(ReleaseNotes): Add 50* illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.3
  package.json
  yarn.lock
Due: none

feat(Drawer): Add preference action for forms
  contents/components/drawer.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

refactor: use `GlAlert` for deprecated component message
  helpers/gitlab_ui.js
  pages/_section/_slug.vue
Due: eslint, prettier

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

chore: update gitlab-ui to 86.10.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.4
  package.json
  yarn.lock
Due: none

feat(ReleaseNotes): Update tanuki-ai icon sparkles
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(Date): clarify guideline wording
  contents/content/date-and-time.md
Due: markdown-lint

feat(DesignTokens): Add action design token conceptual guidance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.5
  package.json
  yarn.lock
Due: none

docs(BreakingChanges): Change deprecated style naming convention
  contents/get-started/uik-breaking-changes.md
Due: markdown-lint

Backup Figma file Amn6vBN9edRtuaTgy6ygkl image for node 0:1
  figma_backups/Amn6vBN9edRtuaTgy6ygkl/0:1.png
Due: none

Backup Figma file Amn6vBN9edRtuaTgy6ygkl image for node 1:104
  figma_backups/Amn6vBN9edRtuaTgy6ygkl/1:104.png
Due: none

Backup Figma file Amn6vBN9edRtuaTgy6ygkl image for node 8:10280
  figma_backups/Amn6vBN9edRtuaTgy6ygkl/8:10280.png
Due: none

Backup Figma file Amn6vBN9edRtuaTgy6ygkl image for node 6:34
  figma_backups/Amn6vBN9edRtuaTgy6ygkl/6:34.png
Due: none

Update last backup info for Amn6vBN9edRtuaTgy6ygkl
  figma_backups/Amn6vBN9edRtuaTgy6ygkl_last_backup_info.json
Due: none

Backup Figma file dWP1ldkBU4jeUqx5rO3jrn JSON
  figma_backups/dWP1ldkBU4jeUqx5rO3jrn/dWP1ldkBU4jeUqx5rO3jrn.json
Due: none

Backup Figma file dWP1ldkBU4jeUqx5rO3jrn image for node 0:1
  figma_backups/dWP1ldkBU4jeUqx5rO3jrn/0:1.png
Due: none

Backup Figma file dWP1ldkBU4jeUqx5rO3jrn image for node 2002:34
  figma_backups/dWP1ldkBU4jeUqx5rO3jrn/2002:34.png
Due: none

Update last backup info for dWP1ldkBU4jeUqx5rO3jrn
  figma_backups/dWP1ldkBU4jeUqx5rO3jrn_last_backup_info.json
Due: none

Backup Figma file tiAetVi1j5MGP8WA5FswcD JSON
  figma_backups/tiAetVi1j5MGP8WA5FswcD/tiAetVi1j5MGP8WA5FswcD.json
Due: none

Backup Figma file tiAetVi1j5MGP8WA5FswcD image for node 2194:34
  figma_backups/tiAetVi1j5MGP8WA5FswcD/2194:34.png
Due: none

Backup Figma file tiAetVi1j5MGP8WA5FswcD image for node 2194:35
  figma_backups/tiAetVi1j5MGP8WA5FswcD/2194:35.png
Due: none

Backup Figma file tiAetVi1j5MGP8WA5FswcD image for node 0:1
  figma_backups/tiAetVi1j5MGP8WA5FswcD/0:1.png
Due: none

Update last backup info for tiAetVi1j5MGP8WA5FswcD
  figma_backups/tiAetVi1j5MGP8WA5FswcD_last_backup_info.json
Due: none

Backup Figma file 17NxNEMa7i28Is8sMetO2H image for node 3:0
  figma_backups/17NxNEMa7i28Is8sMetO2H/3:0.png
Due: none

Backup Figma file 17NxNEMa7i28Is8sMetO2H image for node 3:54
  figma_backups/17NxNEMa7i28Is8sMetO2H/3:54.png
Due: none

Backup Figma file 17NxNEMa7i28Is8sMetO2H image for node 16:110
  figma_backups/17NxNEMa7i28Is8sMetO2H/16:110.png
Due: none

Backup Figma file 17NxNEMa7i28Is8sMetO2H image for node 63:238
  figma_backups/17NxNEMa7i28Is8sMetO2H/63:238.png
Due: none

Backup Figma file 17NxNEMa7i28Is8sMetO2H image for node 2347:5837
  figma_backups/17NxNEMa7i28Is8sMetO2H/2347:5837.png
Due: none
