Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

Alter config to add initial support for onetrust cookie banner
  nuxt.config.js
Due: eslint, prettier

Adjust CSP to allow for cookie preference updates
  nuxt.config.js
Due: eslint, prettier

Add cookie preferences button to footer and style it to match
  assets/stylesheets/framework/_footer.scss
  layouts/default.vue
Due: eslint, prettier

feat(OneTrust): Enable or disable google analytics
  nuxt.config.js
  plugins/gtag.js
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v38.6.0
  package.json
  yarn.lock
Due: none

feat(Settings): Document logic of where to place new settings
  contents/regions/settings.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

feat(OneTrust): Implement cookie consent modal
  assets/stylesheets/framework/_footer.scss
  layouts/default.vue
  nuxt.config.js
  plugins/gtag.js
Due: eslint, prettier

Add subheadings to "Helping users"
  contents/usability/helping-users.md
Due: markdown-lint

Add guideline to use aria-label with "Learn more"
  contents/usability/helping-users.md
Due: markdown-lint

feat(HelpingUsers): Add subheadings to "Helping users"
  contents/usability/helping-users.md
Due: markdown-lint

feat(HelpingUsers): Add guideline to use aria-label with "Learn more"
  contents/usability/helping-users.md
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  contents/regions/settings.md
Due: markdown-lint

feat(Settings): Fix urlfor ampersand encoding
  contents/regions/settings.md
Due: markdown-lint

feat(Pattern): add pattern section and add to list page
  contents/patterns/adding-data-to-a-list.md
  nav.json
  static/img/add-data-to-list-table.svg
  static/img/modal-protected-tags.svg
Due: markdown-lint

feat(HelpingUsers): Apply reviewers' feedback
  contents/usability/helping-users.md
Due: markdown-lint

feat(HelpingUsers): Add link to docs for /help
  contents/usability/helping-users.md
Due: markdown-lint

chore: setup nuxt-content module
  assets/stylesheets/framework/_typography.scss
  components/componentinfo.vue
  components/md_display.vue
  nuxt.config.js
  package.json
  pages/_section/_slug.vue
  yarn.lock
Due: eslint, prettier

chore(alert): migrate doc to content-module
  content/components/alert.md
Due: markdown-lint

feat(layers): Update information in layers documentation to match changes made to figma. Remove depricated example images and replace with new images matching specs
  contents/layout/layers.md
Due: markdown-lint

feat(layersr): Update layers documentation
  CHANGELOG.md
  contents/components/spinner.md
  contents/layout/layers.md
  static/img/layers/dragging-layers.png
  static/img/layers/layers-interactive.png
  static/img/layers/layers-scrolling.png
  static/img/layers/layers-shadow-large.png
  static/img/layers/layers-shadow-medium.png
  static/img/layers/layers-shadow-small.png
  static/img/layers/lg-shadow-example.png
  static/img/layers/lg-shadow.png
  static/img/layers/md-shadow-example.png
  static/img/layers/md-shadow.png
  static/img/layers/scrolling-layers.png
  static/img/layers/sm-shadow-example.png
  static/img/layers/sm-shadow.png
  static/img/layers/stacking-layers.png
  static/img/layers/xl-shadow-example.png
  static/img/layers/xl-shadow.png
Due: markdown-lint

feat(HelpingUsers): Use ARIA labels with "Learn more" links
  contents/usability/helping-users.md
Due: markdown-lint

chore: log some stuff
  components/componentinfo.vue
  pages/_section/_slug.vue
Due: eslint, prettier

feat(layers): Update layers docs
  contents/layout/layers.md
  static/img/layers/dragging-layers.png
  static/img/layers/layers-interactive.png
  static/img/layers/layers-scrolling.png
  static/img/layers/layers-shadow-large.png
  static/img/layers/layers-shadow-medium.png
  static/img/layers/layers-shadow-small.png
  static/img/layers/lg-shadow-example.png
  static/img/layers/lg-shadow.png
  static/img/layers/md-shadow-example.png
  static/img/layers/md-shadow.png
  static/img/layers/scrolling-layers.png
  static/img/layers/sm-shadow-example.png
  static/img/layers/sm-shadow.png
  static/img/layers/stacking-layers.png
  static/img/layers/xl-shadow-example.png
  static/img/layers/xl-shadow.png
Due: markdown-lint

feat(empty-state): Update search filter guidelines
  contents/components/filter.md
  contents/components/search.md
  contents/regions/empty-states.md
Due: markdown-lint

feat(GlTable): Update usage guidelines
  contents/components/table.md
  static/img/table-valign-middle-incorrect.svg
  static/img/table-valign-middle.svg
  static/img/table-valign-top-incorrect.svg
  static/img/table-valign-top.svg
Due: markdown-lint

feat(spinner): Link to spinner docs to button example
  contents/components/spinner.md
Due: markdown-lint

chore: setup nuxt-content module
  assets/stylesheets/framework/_typography.scss
  components/admonition.vue
  components/componentinfo.vue
  components/md_display.vue
  modules/content_preparer.js
  nuxt.config.js
  package.json
  pages/_section/_slug.vue
  plugins/gitlab_ui.js
  yarn.lock
Due: eslint, prettier
