Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

# This is a non git-hook-target which we use in CI
# in order to parallelize linting / spec execution
test-in-ci:
  parallel: true
  commands:
    eslint:
      run: yarn run eslint
    markdownlint:
      run: yarn run markdown-lint
    prettier:
      run: yarn run prettier
    unit_tests:
      run: yarn run test:unit

feat(BrandDesign): adding visual design sub-folder
  contents/brand-design/visual-design/core-elements.md
  contents/brand-design/visual-design/marketing-icons.md
  contents/brand-design/visual-design/marketing-illustrations.md
  nav.json
Due: markdown-lint

feat(saving-and-feedback): edit auto-save guidelines
  contents/usability/saving-and-feedback.md
Due: markdown-lint

feat(BrandVisualDesign): renaming pages from marketing to brand
  contents/brand-design/visual-design/brand-icons.md
  contents/brand-design/visual-design/brand-illustrations.md
Due: markdown-lint

feat(BrandDesign): adding new content for icons & illustrations
  contents/brand-design/visual-design/brand-icons.md
  contents/brand-design/visual-design/brand-illustrations.md
Due: markdown-lint

feat(BrandDesign): adding new page for diagram section
  contents/brand-design/visual-design/brand-illustrations.md
  contents/brand-design/visual-design/diagrams-infographics.md
  nav.json
Due: markdown-lint

feat(BrandElements): adding visual examples throughout the page
  contents/brand-design/visual-design/core-elements.md
  static/img/brand/core-accents.png
  static/img/brand/core-code.png
  static/img/brand/core-curved.png
  static/img/brand/core-devops.png
  static/img/brand/core-labels.png
  static/img/brand/core-pipelines.png
Due: markdown-lint

chore(deps): update dependency sass to ^1.80.3
  package.json
  yarn.lock
Due: none

chore(deps): Update gitlab/ui, remove Bootstrap
  package.json
  yarn.lock
Due: none

feat(Homepage): Use section lead-ins
  assets/images/content.svg
  assets/images/contribute.png
  assets/images/contribute@2x.png
  assets/images/pajamas_stars.svg
  assets/images/personas/james-mackey.png
  assets/images/personas/karolina-plaskaty.png
  assets/images/personas/matthieu-poirier.png
  assets/images/personas/nazim-ahmad.png
  assets/images/resources/code.svg
  assets/images/resources/figma.svg
  assets/images/resources/issues.svg
  assets/images/resources/r-figma.png
  assets/images/resources/r-outline.png
  assets/images/resources/r-sketch.png
  assets/images/resources/r-solid.png
  components/layout.vue
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update content links
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update brand lead-in
  pages/index.vue
Due: eslint, prettier

fix: use nuxt-link for internal links
  pages/index.vue
Due: eslint, prettier

chore: link to brand introduction
  pages/index.vue
Due: eslint, prettier

chore: Apply suggestion to improve wording
  contents/usability/settings-management.md
Due: markdown-lint

chore: add guidance header
  contents/usability/settings-management.md
Due: markdown-lint

chore: more grammar improvments
  contents/usability/settings-management.md
Due: markdown-lint

chore: Fix broken in-page link
  contents/usability/settings-management.md
Due: markdown-lint

chore: refine settings restrictions
  contents/usability/settings-management.md
Due: markdown-lint

chore: Update heading styling
  contents/usability/settings-management.md
Due: markdown-lint

chore: update sentence for child settings
  contents/usability/settings-management.md
Due: markdown-lint

chore: move shortcut bullet
  contents/usability/settings-management.md
Due: markdown-lint

chore: Remove doc link examples
  contents/usability/settings-management.md
Due: markdown-lint

chore: Move the namespace link
  contents/usability/settings-management.md
Due: markdown-lint

chore: fix syntax on link
  contents/usability/settings-management.md
Due: markdown-lint

feat(BrandStyle): Add intro blurb
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

feat(Homepage): Update lead-ins
  pages/index.vue
Due: eslint, prettier

feat(AI): create page for ai feedback
  contents/patterns/duo-feedback.md
  nav.json
  static/img/duo-feedback-modal.png
Due: markdown-lint

chore: Apply suggestion(s)
  contents/usability/feature-discovery.md
Due: markdown-lint

test: Move commit count warning
  danger/commit/Dangerfile
Due: none

Commit
  CONTRIBUTING.md
Due: markdown-lint
