Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: Resolve layout shift on page navigation
  assets/stylesheets/framework/_content.scss
  layouts/default.vue
  pages/_section/_slug.vue
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore(deps): update dependency @evilmartians/lefthook to ^1.1.4
  package.json
  yarn.lock
Due: none

chore(nginx): do not force trailing slash
  nginx.conf
Due: none

chore(nginx): Try /index.html explicitly
  nginx.conf
Due: none

test: Avoid missing directive warnings
  components/story_iframe.vue
  directives/skip_one_trust_directive.js
  nuxt.config.js
Due: eslint, prettier

refactor(Helping users): Update helping users page to guidelines from GLLink
  contents/usability/helping-users.md
Due: markdown-lint

feat: Update Pajamas navigation markup and styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  layouts/default.vue
  layouts/no_footer.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore(deps): update dependency sass to ^1.56.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @vue/test-utils to v1.3.3
  package.json
  yarn.lock
Due: none

chore: Add rewrite rules for URLs in nginx
  nginx.conf
Due: none

feat: Set up test redirect
  nginx.conf
Due: none

chore(release): 2.139.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  00/0d7f64647dd2769a9352f208f6b5b334fdee2a
Due: none

chore: Why is review failing
  nginx.conf
Due: none

chore: Back to changes
  nginx.conf
Due: none

chore: Why is this not working
  nginx.conf
Due: none

chore: Try moving it here
  nginx.conf
Due: none

chore: DRY up nginx config
  nginx.conf
Due: none

Draft: Add iframe to show ViewComponent previews
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

refactor: deduplicate default and no-footer layouts
  components/layout.vue
  layouts/default.vue
  layouts/no_footer.vue
Due: eslint, prettier

refactor: consolidate error pages
  components/error/default.vue
  components/error/layout.vue
  components/error/not_found.vue
  components/page_not_found.vue
  layouts/error.vue
  pages/404.vue
Due: eslint, prettier

chore(deps): update babel to v7.20.2
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore: Cleanup nginx rules
  nginx.conf
Due: none

chore: Update page contents
  contents/components/date-picker.md
  contents/components/dropdown-combobox.md
  contents/components/dropdown-disclosure.md
  contents/components/dropdown-listbox.md
  contents/components/dropdown-menu.md
  contents/components/select.md
  contents/components/text-input.md
  contents/components/textarea.md
  contents/get-started/navigating-pajamas.md
  nav.json
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
