Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(ReleaseProcess): Add formatting note
  contents/get-started/uik-release-process.md
Due: markdown-lint

chore: use Tailwind class for text decoration
  pages/components/overview.vue
Due: eslint, prettier

refactor: use `GlAlert` for deprecated component message
  helpers/gitlab_ui.js
  pages/_section/_slug.vue
Due: eslint, prettier

chore: update action design token usage
  assets/stylesheets/framework/_sidebar.scss
Due: none

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore(deps): update dependency start-server-and-test to ^2.0.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.11
  package.json
  yarn.lock
Due: none

feat(ReleaseNotes): Add label tidy up work
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(BrandContent): wording and URL updates
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  nav.json
Due: markdown-lint

chore: update homepage banner
  assets/images/cover-gradient.png
  assets/images/pajamas_logo.svg
  assets/stylesheets/pages/_index.scss
  assets/stylesheets/utilities/_mixins.scss
  pages/index.vue
Due: eslint, prettier

refactor: homepage and component overview remove custom styles
  assets/stylesheets/pages/_index.scss
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

refactor: remove row class styles
  assets/stylesheets/framework/_content.scss
  components/layout.vue
  components/story_viewer.vue
  pages/_section/_slug.vue
Due: eslint, prettier

chore: increase gap on homepage cards
  pages/index.vue
Due: eslint, prettier

chore(deps): update babel to v7.25.2
  package.json
  yarn.lock
Due: none

chore: reuse same pajamas logo asset
  assets/images/pajamas_logo.svg
  pages/index.vue
Due: eslint, prettier

chore: brand heading gradient
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/application-sdk-browser to ^0.3.3
  package.json
  yarn.lock
Due: none

feat: add dark mode
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  helpers/gitlab_ui.js
  nuxt.config.js
  pages/_section/_slug.vue
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore: Apply suggestion(s)
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/resources.md
Due: markdown-lint

feat(BrandContent): Rename GitLab Logo and update various anchors
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  nav.json
Due: markdown-lint

chore(deps): update dependency @babel/preset-env to v7.25.3
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

docs(Button): Link button dropdown to disclosure
  contents/components/button.md
Due: markdown-lint

chore: update homepage hero
  assets/images/cover-gradient.png
  assets/stylesheets/app.scss
  assets/stylesheets/pages/_homepage.scss
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier
