Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: Update Pajamas navigation markup and styles
  README.md
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_sidebar.scss
  components/layout.vue
  components/menu_item.vue
  components/navbar.vue
  components/search/search_box.vue
  components/sidebar.vue
  doc/navigation.md
  static/pajamas-logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
  tests/components/__snapshots__/sidebar.spec.js.snap
  tests/components/sidebar.spec.js
Due: eslint, prettier, markdown-lint

feat(Loading): Restructure load more content
  contents/usability/loading.md
  static/img/load-more-interaction.svg
Due: markdown-lint

feat(Loading): Add loading to nav
  nav.json
Due: none

feat(Loading): Minor edits
  contents/usability/loading.md
Due: markdown-lint

feat(UIKitContribution): Add changelog notes
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(UIKitContribution): Add changelog contribution notes
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

chore: Update mobile navigation styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_toggle-button.scss
  components/layout.vue
  components/logo.vue
  components/navbar.vue
  components/sidebar.vue
  components/toggle_button.vue
Due: eslint, prettier

docs(Skeleton): update do's and dont's
  contents/components/skeleton-loader.md
Due: markdown-lint

feat(Filtering): initial elaboration on filtering
  contents/patterns/filtering.md
Due: markdown-lint

feat(UIKitContribution): Apply suggestions
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(UIKitContribution): Include full name
  doc/pajamas-ui-kit.md
Due: markdown-lint

chore: Update mobile navigation styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  components/layout.vue
  components/logo.vue
  components/navbar.vue
  components/sidebar.vue
Due: eslint, prettier

feat(Settings): Reword and remove duplications
  contents/regions/settings.md
Due: markdown-lint

feat(Settings): Reword
  contents/regions/settings.md
Due: markdown-lint

feat(Settings): Add layout guidelines for Settings
  contents/usability/settings-management.md
  static/img/settings-1-column.png
  static/img/settings-2-column.png
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.8.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v3.11.0
  package.json
  yarn.lock
Due: none

feat(Settings): Apply suggestions
  contents/usability/feature-management.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v50
  package.json
  yarn.lock
Due: none

chore(release): 2.142.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  86/15e37187b24078b555c64b7bea2fe72dba3eca
Due: none

feat(Loading): Apply suggestions
  contents/usability/loading.md
Due: markdown-lint

feat(LoadMore): Apply suggestions
  contents/usability/loading.md
Due: markdown-lint

feat(Feature management): Remove example
  contents/usability/feature-management.md
Due: markdown-lint

docs(Skeleton): update when to use / when not to use
  contents/components/skeleton-loader.md
Due: markdown-lint

docs(DateTime): update with the API information
  contents/content/date-and-time.md
Due: markdown-lint

Add documentation for tier variant
  contents/components/badge.md
Due: markdown-lint

feat(Loading): Add button position
  contents/usability/loading.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
