Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

Notes added by 'git notes add'
  af/4339391e1516060f10b36b1895e8ef8e6e0be0
Due: none

Update pages/components/object-template.md
  pages/components/object-template.md
Due: markdown-lint

fix(AccessibilityLinks): Update links and order
  contents/accessibility-audits/accessibility-audits.md
  nav.json
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(navigation): Add initial guidance for in-app messaging
  contents/regions/navigation.md
Due: markdown-lint

fix(AccessibilityLinks): Update page name
  contents/accessibility-audits/content.md
  contents/accessibility-audits/semantics-and-content.md
Due: markdown-lint

fix(AccessibilityAudits): Update links and order
  contents/accessibility-audits/accessibility-audits.md
  contents/accessibility-audits/content.md
  contents/accessibility-audits/semantics-and-content.md
  nav.json
Due: markdown-lint

feat(Analytics): Add Google Analytics to design.gitlab.com
  nuxt.config.js
  package.json
  plugins/gtag.js
  yarn.lock
Due: eslint, prettier

chore(release): 2.77.2 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  57/a37c79d185e4e05e702c6ef774bae18fda6475
Due: none

feat(Navigation): Update note about toast
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.78.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  6a/6b41c4bacbf03cc45036eb97707805a63e1067
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(release): 2.78.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  81/522f3360c06ef8716148c6b270e1f4e439c209
Due: none

fix(Badge): Add aria-label for icon-only badge
  examples/badge/badge.icon.example.vue
Due: eslint, prettier
