Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(BrandOverview): Add extensions, voice, resources
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/brand-voice.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  contents/brand/overview.md
  nav.json
Due: markdown-lint

fix(deps): update dependency iframe-resizer to ^4.4.5
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.24.8
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @nuxtjs/tailwindcss to ^6.12.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.77.8
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v86.9.1
  package.json
  yarn.lock
Due: none

feat(Button): Apply suggestions
  contents/components/button.md
  contents/usability/feature-management.md
Due: markdown-lint

docs(Pajamas): reword context-aware
  contents/patterns/slash-commands.md
Due: markdown-lint

ci: Only create review apps when pages_multiple_versions is on
  .gitlab-ci.yml
Due: none

fix(Documentation): Replace svg diagram with mermaid diagram
  contents/content/date-and-time.md
  static/img/date-time-format-flow-chart.svg
Due: markdown-lint

refactor(Documentation): Replace svg diagram with mermaid diagram
  contents/content/date-and-time.md
  static/img/date-time-format-flow-chart.svg
Due: markdown-lint

feat(Alert): Update guidelines for new navigation
  contents/components/alert.md
  static/img/alert-form-validation.png
  static/img/alert-global.png
  static/img/alert-global.svg
  static/img/alert-in-page.png
  static/img/alert-in-page.svg
  static/img/alert-page-level.png
  static/img/alert-page-level.svg
Due: markdown-lint

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

refactor: use `GlAlert` for deprecated component message
  helpers/gitlab_ui.js
  pages/_section/_slug.vue
Due: eslint, prettier

chore: update gitlab-ui to 86.10.0
  package.json
  yarn.lock
Due: none

Add deprecations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(BrandResources): updating correct URL
  contents/brand-overview/resources.md
Due: markdown-lint

chore(deps): update dependency prettier to v3.3.3
  package.json
  yarn.lock
Due: none

feat(BrandOverview): Adding sub pages
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/brand-voice.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  contents/brand/overview.md
  nav.json
Due: markdown-lint

feat(Banner): Update static images
  contents/components/banner.md
  static/img/banner-in-page.png
  static/img/banner-in-page.svg
  static/img/banner-page-level.png
  static/img/banner-page-level.svg
Due: markdown-lint

chore: resolve GitLab UI Tailwind class generation
  tailwind.config.js
Due: eslint, prettier

feat(ReleaseNotes): Deprecate duplicated icons
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion
  contents/components/tabs.md
Due: markdown-lint

feat(Tabs): add guideline about when to use scrollable tabs
  contents/components/tabs.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v19.6.0
  package.json
  yarn.lock
Due: none

fix(docs): Remove unused svg
  static/img/component-lifecycle.svg
Due: none

chore(deps): update dependency @babel/core to v7.24.9
  package.json
  yarn.lock
Due: none

chore: Update link existing commands
  contents/patterns/slash-commands.md
Due: markdown-lint
