Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: migrate p-b-7 to gl-pb-7
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate p-a-8 to gl-p-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-t-8 to gl-pt-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-b-8 to gl-pb-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-a-10 to gl-p-13
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-t-10 to gl-pt-13
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate p-b-10 to gl-pb-13
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/svgs to v2.25.0
  package.json
  yarn.lock
Due: none

feat(Settings): Column layout and form input size
  contents/regions/settings.md
Due: markdown-lint

Apply review suggestion
  contents/content/punctuation.md
Due: markdown-lint

feat(content): Update guidelines for ellipses punctuation
  contents/content/punctuation.md
Due: markdown-lint

docs(punctuation): clarify guidelines for ellipsis
  contents/content/punctuation.md
Due: markdown-lint

chore: create color palette components
  components/color_contrast_score.vue
  components/foundations_color_palette.vue
  plugins/register_global_components.js
Due: eslint, prettier

chore: migratre foudations colors to palette components
  contents/product-foundations/colors.md
Due: markdown-lint

chore(deps): update dependency eslint to v8.19.0
  package.json
  yarn.lock
Due: none

fix: fix broken links
  contents/accessibility/vpat.md
  contents/components/breadcrumb.md
  contents/components/modal.md
  contents/components/pagination.md
  contents/content/terminology.md
  contents/data-visualization/overview.md
  contents/product-foundations/illustration.md
  contents/product-foundations/interaction.md
  contents/regions/merge-request-reports.md
  contents/research/get-started.md
  contents/usability/helping-users.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v42.13.0
  package.json
  yarn.lock
Due: none

ci(untamper-my-lockfile): use branch_pipelines template
  .gitlab-ci.yml
Due: none

chore: pull packages from Yarn registry
  yarn.lock
Due: none

Switch to branch template fir untamper-my-lockfile
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

chore: Revert dependencies to before MR that breaks untamper-my-lockfile
  package.json
  yarn.lock
Due: none

ci: Fix untamper-my-lockfile job in branch pipelines
  .gitlab-ci.yml
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore: create color palette components
  components/color_contrast_score.vue
  components/foundations_color_palette.vue
  plugins/register_global_components.js
  tests/components/color_contrast_score.spec.js
  tests/components/foundations_color_palette.spec.js
Due: eslint, prettier

chore: migrate blue color palette to palette component
  contents/product-foundations/colors.md
Due: markdown-lint

chore(deps): update vue to v2.7.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
