Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(Token): Update content to use new template
  contents/components/token.md
  static/img/token-structure.svg
Due: markdown-lint

feat(Token): Update description
  contents/components/token.md
Due: markdown-lint

feat(Token): Update content to utilize new template
  contents/components/token.md
  static/img/token-structure.svg
Due: markdown-lint

chore(release): 2.95.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  90/1423fd327e88afb7ed5e3beeec0c01691629d3
Due: none

feat(Dropdown): Initiate changes to align with template
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Content organization
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Ongoing updates to content
  contents/components/dropdown.md
Due: markdown-lint

feat(Accordion): Update accordion structure image
  static/img/accordion-structure.svg
Due: none

feat(Dropdown): Content updates
  contents/components/dropdown.md
Due: markdown-lint

feat(InfiniteScroll): Update infinite scroll docs to new template
  contents/components/infinite-scroll.md
  static/img/infinite-scroll-structure.svg
Due: markdown-lint

chore(release): 2.96.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  c3/6f056d8a01bae3588aad30a6aabdc24fb6918c
Due: none

feat(Dropdown): Apply suggestions
  contents/components/dropdown.md
Due: markdown-lint

feat(Toggle): Update toggle docs to use new template
  contents/components/toggle.md
  static/img/toggle-structure.svg
Due: markdown-lint

feat: Add open issue link to todos
  components/md_display.vue
Due: eslint, prettier

docs(UIKitGuide): Added branch name example
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat: Add open issue link to todos
  components/md_display.vue
  package.json
  pages/components/overview.vue
Due: eslint, prettier

ci: Ensure Google Analytics variable is passed on
  Dockerfile
  nuxt.config.js
Due: eslint, prettier

chore(release): 2.97.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
