Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

Fix elint issue related to new rule
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

chore(release): 2.131.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  a7/85fc2994a0506b68f60a0eb04b7023b2910956
Due: none

chore(deps): update jest to v29.0.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.23.0
  package.json
  yarn.lock
Due: none

chore: migrate to CSS grid in button page
  contents/components/button.md
Due: markdown-lint

feat(nav): Replace icon reference
  contents/regions/navigation.md
Due: markdown-lint

feat(nav): Update top bar term
  contents/regions/navigation.md
Due: markdown-lint

feat(nav): Replace term for GitLab Start Page
  contents/regions/navigation.md
Due: markdown-lint

feat(nav): Replace top menu term with top bar
  contents/regions/navigation.md
Due: markdown-lint

fix: correct numbering of list
  contents/components/filter.md
Due: markdown-lint

feat(alert): add when not to use guidelines
  contents/components/alert.md
Due: markdown-lint

feat(Alert): Add when not to use guidelines
  contents/components/alert.md
Due: markdown-lint

feat(nav): Add guidance around persisting left sidebar
  contents/regions/navigation.md
Due: markdown-lint

fix: update structure image and list numbering
  contents/components/filter.md
Due: markdown-lint

feat(line-chart): add no data guidelines
  contents/data-visualization/charts.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/filter.md
Due: markdown-lint

chore(deps): update dependency sass to ^1.54.6
  package.json
  yarn.lock
Due: none

fix: upload the new structure image
  static/img/filter-structure.svg
Due: none

feat(GlFilteredSearch): Add structure image and notes
  contents/components/filter.md
  static/img/filter-structure.svg
Due: markdown-lint

chore(deps): update dependency sass to ^1.54.8
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

ci: Switch from AutoDevops to pages
  .gitlab-ci.yml
  Dockerfile
  nuxt.config.js
Due: eslint, prettier

Bump node version
  .gitlab-ci.yml
Due: none

Fix URLs of static images coming from content
  nuxt.config.js
  package.json
  plugins/rehype_fix_review_urls.js
  yarn.lock
Due: eslint, prettier

Move GitLab logo to assets folder
  assets/images/gitlab-tanuki.svg
  components/navbar.vue
  static/gitlab_logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier
