Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(release): 2.38.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d8/67ea308dbcaede47dd375a159ebbcb72ab2ced
Due: none

refactor: move navigation to standalone component
  components/navbar.vue
  layouts/default.vue
  tests/components/__snapshots__/navbar.spec.js.snap
  tests/components/navbar.spec.js
Due: eslint, prettier

docs: Add guidelines for images in README
  README.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

docs(GlFormGroup): Add description and update help text example
  contents/components/form.md
  examples/form/form_group/form_group/form_group.description.example.vue
  examples/form/form_group/form_group/form_group.help_text.example.vue
  examples/form/form_group/form_group/index.js
Due: eslint, prettier, markdown-lint

Prettify
  contents/contribute/lifecycle.md
  nav.json
  pages/components/status.vue
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: Deprecate status page
  contents/contribute/lifecycle.md
  nav.json
  pages/components/status.vue
  pages/index.vue
Due: eslint, prettier, markdown-lint

feat(Themes): Add theme notes
  contents/product-foundations/colors.md
Due: markdown-lint

feat(UserHelp): Encourage use of popover with help icon
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
Due: markdown-lint

feat(UserHelp): Center table content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Separate links from formatting
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Add related content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Remove resizing from example
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Add tooltip and require popover
  contents/usability/helping-users.md
  static/img/help-tooltip.png
Due: markdown-lint

feat(Themes): Update neutral theme
  contents/product-foundations/colors.md
Due: markdown-lint

chore: Restore indentation
  contents/product-foundations/colors.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

feat(Color): Add color theme notes
  contents/product-foundations/colors.md
Due: markdown-lint

chore(release): 2.39.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  29/af310a4b0dd6649c7ac4a4ebae6b9868340e3b
Due: none

feat(Regions): Init mr reports region
  assets/stylesheets/framework/_content.scss
  contents/regions/merge-request-reports.md
  nav.json
Due: markdown-lint

fix(banner): Update SVG URL in examples
  examples/banner/banner.introducing_illustration.example.vue
  examples/banner/banner.promoting_illustration.example.vue
Due: eslint, prettier

chore(release): 2.39.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  3b/41833236838333b8d5cb3ac6ebfb30cfb798ec
Due: none

feat(Regions): Adding mr widget content and assets
  contents/regions/merge-request-reports.md
  static/img/a11y-annotation-note.svg
  static/img/a11y-annotation-region.svg
  static/img/a11y-annotation-screen-reader.svg
  static/img/a11y-annotation-tab-order.svg
  static/img/mr-status-critical.svg
  static/img/mr-status-error.svg
  static/img/mr-status-failed-1.svg
  static/img/mr-status-failed.svg
  static/img/mr-status-high.svg
  static/img/mr-status-info.svg
  static/img/mr-status-loading-1.svg
  static/img/mr-status-low.svg
  static/img/mr-status-medium.svg
  static/img/mr-status-neutral-1.svg
  static/img/mr-status-neutral.svg
  static/img/mr-status-notice.svg
  static/img/mr-status-success-1.svg
  static/img/mr-status-success.svg
  static/img/mr-status-unknown.svg
  static/img/mr-status-warning-1.svg
  static/img/mr-status-warning.svg
Due: markdown-lint

feat(Navigation): Reorg nav items to better location
  .gitlab/issue_templates/Component documentation.md
  README.md
  contents/get-started/contribute.md
  contents/get-started/lifecycle.md
  doc/component-lifecycle.md
  nav.json
  pages/index.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

feat(labels): Add usage documentation for scoped labels
  contents/components/label.md
Due: markdown-lint

chore(deps): update dependency eslint to v7.31.0
  package.json
  yarn.lock
Due: none

feat(Navigation): Update link after moving
  contents/get-started/contribute.md
Due: markdown-lint
