Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

docs(codeowners): add Dan MH as pajamas maintainer
  .gitlab/CODEOWNERS
Due: none

feat(BrandIntroduction): adding hero image to the page
  contents/brand-overview/introduction.md
  static/img/brand/intro-hero.png
Due: markdown-lint

chore(deps): update dependency sass to ^1.79.2
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v94
  package.json
  yarn.lock
Due: none

ci: Remove AutoDevops related deployment and review related jobs
  .gitlab-ci.yml
Due: none

ci: Remove AutoDevops related build job and migrate nginx redirects
  .gitlab-ci.yml
  Dockerfile
  nginx.conf
  static/_redirects
Due: none

ci: Convert test job from AutoDevOps to a custom one
  .gitlab-ci.yml
Due: none

feat(Homepage): Use section lead-ins
  assets/images/content.svg
  assets/images/contribute.png
  assets/images/contribute@2x.png
  assets/images/pajamas_stars.svg
  assets/images/personas/james-mackey.png
  assets/images/personas/karolina-plaskaty.png
  assets/images/personas/matthieu-poirier.png
  assets/images/personas/nazim-ahmad.png
  assets/images/resources/code.svg
  assets/images/resources/figma.svg
  assets/images/resources/issues.svg
  assets/images/resources/r-figma.png
  assets/images/resources/r-outline.png
  assets/images/resources/r-sketch.png
  assets/images/resources/r-solid.png
  assets/stylesheets/framework/_typography.scss
  components/layout.vue
  pages/index.vue
Due: eslint, prettier

feat(Homepage): Update brand lead-in
  pages/index.vue
Due: eslint, prettier

feat(CollectionPages): make description optional
  components/collection.vue
  pages/components/index.vue
  pages/content/index.vue
  pages/data-visualization/index.vue
  pages/objects/index.vue
  pages/patterns/index.vue
  pages/product-foundations/index.vue
  pages/usability/index.vue
Due: eslint, prettier

feat(CollectionPages): Add collections
  contents/content/date-and-time.md
  contents/content/i18n.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/patterns/duo-calls-to-action.md
  contents/patterns/duo-slash-commands.md
  contents/patterns/empty-states.md
  contents/patterns/filtering.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
  contents/patterns/searching.md
  contents/product-foundations/design-tokens-using.md
  contents/usability/affordance.md
  contents/usability/ai-human-interaction.md
  contents/usability/contextual-help.md
  contents/usability/destructive-actions.md
  contents/usability/drag-and-drop.md
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/loading.md
  contents/usability/navigation-sidebar.md
  contents/usability/obfuscation.md
  contents/usability/progressive-disclosure.md
  contents/usability/saving-and-feedback.md
  contents/usability/settings-management.md
  nav.json
  pages/components/collection.vue
  pages/content/collection.vue
  pages/objects/collection.vue
  pages/patterns/collection.vue
  pages/product-foundations/collection.vue
  pages/usability/collection.vue
Due: eslint, prettier, markdown-lint

feat(CollectionPages): add collection component and rename index pages
  components/collection.vue
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/product-foundations/design-tokens-using.md
  pages/components/index.vue
  pages/content/index.vue
  pages/data-visualization/index.vue
  pages/objects/index.vue
  pages/patterns/index.vue
  pages/product-foundations/index.vue
  pages/usability/index.vue
Due: eslint, prettier, markdown-lint

feat(CollectionPages): Apply patch and include data viz
  components/collection.vue
  contents/get-started/navigating-pajamas.md
  pages/components/collection.vue
  pages/content/collection.vue
  pages/data-visualization/collection.vue
  pages/objects/collection.vue
  pages/patterns/collection.vue
  pages/product-foundations/collection.vue
  pages/usability/collection.vue
Due: eslint, prettier, markdown-lint

chore: Apply suggestion(s)
  contents/patterns/duo-feedback.md
Due: markdown-lint

feat(AI): add tableau link
  contents/patterns/duo-feedback.md
Due: markdown-lint

feat(CollectionPages): Add Brand design collection page
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/motion.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  pages/brand-design/index.vue
Due: eslint, prettier, markdown-lint

feat(Homepage): Update content links
  pages/index.vue
Due: eslint, prettier

chore(deps): update dependency sass to ^1.79.3
  package.json
  yarn.lock
Due: none

feat(Buttons): create buttons nav to house similar components
  nav.json
Due: none

fix: use nuxt-link for internatl links
  pages/index.vue
Due: eslint, prettier

feat(principles): Adding Pedro edits
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Updating productivity examples
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Updating second principle examples
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Fixing hanging quote
  contents/get-started/principles.md
Due: markdown-lint

feat(BrandIntroduction): adding who are the guidelines for section
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(principles): Removing conflicts between first and second principle
  contents/get-started/principles.md
Due: markdown-lint

feat(BrandIntroduction): fixing content typos
  contents/brand-overview/introduction.md
Due: markdown-lint

fix: Migrate to tailwind utilities
  assets/stylesheets/app.scss
  assets/stylesheets/components/_table.scss
  components/error/layout.vue
  components/layout.vue
  components/logo.vue
  components/menu_item.vue
  components/sidebar.vue
  components/story_iframe.vue
  components/svg_explorer/svg_album.vue
  components/todo.vue
  pages/_section/_slug.vue
  pages/components/overview.vue
  pages/index.vue
  tests/components/__snapshots__/sidebar.spec.js.snap
Due: eslint, prettier

chore: Run prettier with tailwind plugin
  .prettierrc
  components/error/layout.vue
  components/logo.vue
  components/menu_item.vue
  components/note.vue
  components/sidebar.vue
  components/story_iframe.vue
  components/svg_explorer/svg_album.vue
  components/todo.vue
  components/vimeo_player.vue
  package.json
  pages/_section/_slug.vue
  pages/_section/_slug/lookbook.vue
  pages/components/overview.vue
  pages/index.vue
  tests/components/__snapshots__/sidebar.spec.js.snap
  yarn.lock
Due: eslint, prettier

chore: Ensure that tailwind is included _after_ the app css
  nuxt.config.js
Due: eslint, prettier

chore: Fix utility classes in markdown content
  contents/brand-overview/introduction.md
  contents/components/button.md
  contents/components/link.md
  contents/patterns/merge-request-reports.md
  contents/product-foundations/design-tokens-reading.md
  contents/product-foundations/design-tokens.md
  contents/product-foundations/illustration.md
  contents/product-foundations/type-fundamentals.md
  contents/product-foundations/type-headings.md
  contents/usability/contextual-help.md
  contents/usability/feature-discovery.md
Due: markdown-lint

ci: Migrate test script to utilize lefthook
  .gitlab-ci.yml
  lefthook.yml
  package.json
  scripts/test.sh
Due: none

ci: Update build script to match AutoDevOps less future
  scripts/build.sh
Due: none

chore: link to brand introduction, remove brand-design overview
  pages/brand-design/index.vue
  pages/index.vue
Due: eslint, prettier

fix: use nuxt-link for internal links
  pages/index.vue
Due: eslint, prettier

chore: link to brand introduction
  pages/index.vue
Due: eslint, prettier

chore(deps): update dependency chokidar to v4.0.1
  package.json
  yarn.lock
Due: none
