Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(Card): Use new content template
  contents/components/card.md
Due: markdown-lint

feat(navigation): Add initial guidance for in-app messaging
  contents/regions/navigation.md
Due: markdown-lint

feat(navigation): Clean up nav content to make it easier to read
  contents/regions/navigation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

feat(DatePicker): Update content to use new template
  contents/components/date-picker.md
  static/img/date-picker-structure.svg
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

test: setup visual reviews tool
  nuxt.config.js
Due: eslint, prettier

test: setup visual reviews tool
  nuxt.config.js
  scripts/build.sh
Due: eslint, prettier

Apply 2 suggestion(s) to 1 file(s)
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.66.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  05/c17e4cfad69aab2ed57c996a1f653535934522
Due: none

Apply 1 suggestion(s) to 1 file(s)
  nav.json
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v9.4.0
  package.json
  yarn.lock
Due: none

chore: Update structure image title definition
  pages/components/template.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Move to Data Vis folder
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Add Figma link
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Update nav.json
  nav.json
Due: none

feat(mini pipeline graph): Add the page to nav
  nav.json
Due: none

feat(mini pipeline graph): Create a page
  mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Remove duplicate content
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
