Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(date): update timezone related info
  contents/content/date-time.md
Due: markdown-lint

feat(Tooltip): Update tooltip docs to new template
  contents/components/tooltip.md
Due: markdown-lint

feat(Table): Update table docs to new template
  contents/components/table.md
Due: markdown-lint

feat(Form): Playing with content structure
  contents/components/form.md
Due: markdown-lint

feat(Form): Add details and formatting
  contents/components/form.md
Due: markdown-lint

feat(Form): Add space
  contents/components/form.md
Due: markdown-lint

feat(Form): Update content to utilize new template
  contents/components/form.md
Due: markdown-lint

feat(Button): Apply suggestion
  contents/components/button.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Update content to utilize new template
  contents/components/dropdown.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/tooltip.md
Due: markdown-lint

feat(Button): Update ellipsis use docs
  contents/components/button.md
Due: markdown-lint

feat(EmptyState): Add issue template link to empty state docs
  contents/regions/empty-states.md
Due: markdown-lint

style: Style TODO blocks
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/utilities/_mixins.scss
  components/md_display.vue
Due: eslint, prettier

style: Style TODO blocks
  assets/stylesheets/framework/_content.scss
  components/md_display.vue
Due: eslint, prettier

feat(EmptyState): Add empty state issue template process to docs
  contents/regions/empty-states.md
Due: markdown-lint

feat(Illustration): init changes
  contents/product-foundations/illustration.md
Due: markdown-lint

feat(Illustration): init changes 2
  contents/product-foundations/illustration.md
Due: markdown-lint

Update contents/regions/list-view.md
  contents/regions/list-view.md
Due: markdown-lint

chore(release): 2.101.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  cd/fdedeb2a0b19529c2662272ab080c791c591af
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore: add ability to embed GitLab UI stories
  components/componentinfo.vue
  components/md_display.vue
  components/story_viewer.vue
  contents/components/alert.md
  contents/components/banner.md
  modules/content_preparer.js
  nuxt.config.js
  package.json
  plugins/gitlab-ui.js
  yarn.lock
Due: eslint, prettier, markdown-lint

docs: document embedded GitLab UI stories
  doc/component-examples.md
  doc/embed-gitlab-ui-stories.md
Due: markdown-lint

test: add spec for story viewer component
  babel.config.js
  components/story_viewer.vue
  package.json
  tests/__mocks__/file_mock.js
  tests/components/story_viewer.spec.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
