Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: add gauge chart examples to the docs
  contents/data-visualization/charts.md
Due: markdown-lint

chore: rename gauge chart examples directory
  examples/gauge/gauge.basic.example.vue
  examples/gauge_chart/gauge.basic.example.vue
  examples/gauge_chart/gauge.no_thresholds.example.vue
  examples/gauge_chart/gauge.no_value.example.vue
  examples/gauge_chart/gauge.with_text.example.vue
  examples/gauge_chart/index.js
Due: eslint, prettier

Add gauge chart examples
  contents/data-visualization/charts.md
  doc/component-examples.md
  examples/gauge/gauge.basic.example.vue
  examples/gauge/gauge.no_thresholds.example.vue
  examples/gauge/gauge.no_value.example.vue
  examples/gauge_chart/gauge.basic.example.vue
  examples/gauge_chart/gauge.no_thresholds.example.vue
  examples/gauge_chart/gauge.no_value.example.vue
  examples/gauge_chart/gauge.with_text.example.vue
  examples/gauge_chart/index.js
Due: eslint, prettier, markdown-lint

feat(Banner): Update banner docs to new template
  contents/components/banner.md
  static/img/banner-structure.svg
Due: markdown-lint

feat(Badge): Update badge ui kit link
  contents/components/badge.md
Due: markdown-lint

feat(navigation): Don't replace parent nav items
  contents/regions/navigation.md
Due: markdown-lint

chore(release): 2.55.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  23/07da9ccbcb295104e6c013ec429562fa938d91
Due: none

feat(navigation): Link to handbook guidance for nav changes
  contents/regions/navigation.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v32.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/ui to v32.2.3
  package.json
  yarn.lock
Due: none

Apply 4 suggestion(s) to 1 file(s)
  contents/components/banner.md
Due: markdown-lint

feat(VPAT): Report updates for GitLab v14.0
  contents/accessibility/a11y.md
  contents/accessibility/vpat.md
Due: markdown-lint

chore(release): 2.56.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  19/804f3a30b237893719ed924bfb1c769d11ab40
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/accessibility/vpat.md
Due: markdown-lint

feat(VPAT): Update VPAT for GitLab v14.0
  contents/accessibility/a11y.md
  contents/accessibility/vpat.md
Due: markdown-lint

chore(release): 2.57.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  5f/e140a07ec960d7f4cbc10021d1d5927cd5a3d5
Due: none

chore(release): 2.58.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
