Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(BrandColor): making more content edits
  contents/brand-design/color.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-design/color.md
Due: markdown-lint

feat(DesignTokens): Add action design token conceptual guidance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-design/color.md
  contents/brand-design/typography.md
Due: markdown-lint

feat(DesignTokens): Add init status and feedback guideance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Revision following feedback
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

feat(BrandColor): expanding guidelines
  contents/brand-design/color.md
  contents/brand-design/typography.md
Due: markdown-lint

refactor: Overhaul site navigation
  contents/components/socks.md
  contents/get-started/navigating-pajamas.md
  contents/get-started/resources.md
  contents/get-started/uik-roadmap.md
  nav.json
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.7
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.9
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v87
  package.json
  yarn.lock
Due: none

docs(Typography): use design token for text color documentation
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

fix(deps): update dependency @gitlab/svgs to v3.110.0
  package.json
  yarn.lock
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

refactor: use `GlAlert` for deprecated component message
  helpers/gitlab_ui.js
  pages/_section/_slug.vue
Due: eslint, prettier

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

chore: update action design token usage
  assets/stylesheets/framework/_sidebar.scss
Due: none

chore: refactor content to separate status and feedback
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

feat: update chosing between status and feedback docs
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore(deps): update dependency @babel/preset-env to v7.25.0
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

Adding new icon and illustration
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Adding new icon and illustration
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Cleanup following feedback
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Fix period usage
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Change format to simple present
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(Badge): Update variant definitions and guidelines
  contents/components/badge.md
Due: markdown-lint

feat(DesignTokens): Add init status and feedback guidance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Add formatting note
  contents/get-started/uik-release-process.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-release-process.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
