Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Form): adding option for required field
  contents/components/form.md
Due: markdown-lint

feat(Illustration): Add more in-depth details
  contents/product-foundations/illustration.md
  static/img/illus-focal-point-example.svg
  static/img/illus-isometric-example.svg
  static/img/illus-reuse.svg
Due: markdown-lint

feat(Socks): Warm your feet with some humor
  contents/components/socks.md
Due: markdown-lint

feat(Card): Adjust content in card, finalize
  contents/components/card.md
Due: markdown-lint

feat(Card): Update card docs with new guidelines
  contents/components/card.md
Due: markdown-lint

ci: Switch from AutoDevops to pages
  .gitlab-ci.yml
  Dockerfile
  nuxt.config.js
Due: eslint, prettier

feat(Socks): Update socks to new template, have a laugh
  contents/components/socks.md
  static/img/component-socks.jpg
  static/img/component-socks.png
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

[WIP] Add Content Reflow page
  contents/layout/reflow.md
Due: markdown-lint

feat(Layout): Add Content Reflow page
  contents/layout/reflow.md
Due: markdown-lint

feat(Button): Specify the icon used for split button
  contents/components/button.md
Due: markdown-lint

feat(Button): Use an ellipsis instead of split dropdown
  contents/components/button.md
Due: markdown-lint

feat(color-picker): Update color picker to new template
  contents/components/color-picker.md
Due: markdown-lint

chore: Add content cards to homepage
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v32.50.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v2
  package.json
  yarn.lock
Due: none

feat(Dropdown): Apply change on split dropdown icon
  contents/components/button.md
Due: markdown-lint

feat(single-stat): Add placeholder page with implementation details
  contents/components/card.md
  contents/components/single-stat.md
  nav.json
Due: markdown-lint

fix(card): Add link to single stat
  contents/components/card.md
Due: markdown-lint

chore: Fix card responsiveness
  assets/stylesheets/pages/_index.scss
  pages/index.vue
Due: eslint, prettier

chore(release): 2.104.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  8c/77a9715789c6dffaf230258f1f64382339e37c
Due: none

feat(Form): Clarify text elements
  contents/components/form.md
Due: markdown-lint

Structure numbers were out of sync with image
  contents/components/banner.md
Due: markdown-lint

feat(Form): Update example format
  contents/components/form.md
Due: markdown-lint

feat(Form): Apply suggestions
  contents/components/form.md
Due: markdown-lint
