Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: Apply good suggestion
  contents/components/button.md
Due: markdown-lint

chore: Update deprecation notes
  contents/get-started/uik-breaking-changes.md
Due: markdown-lint

chore: update heading and remove hero text and legacy classes
  assets/stylesheets/pages/_homepage.scss
  pages/index.vue
Due: eslint, prettier

feat(Iconography): Highlight naming difference for pipeline status
  contents/product-foundations/iconography.md
Due: markdown-lint

chore: update logo styles
  assets/stylesheets/framework/_logo.scss
  components/logo.vue
Due: eslint, prettier

chore: Change to links to svg preview list
  contents/product-foundations/iconography.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/product-foundations/iconography.md
Due: markdown-lint

chore: update homepage styles
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/pages/_homepage.scss
  assets/stylesheets/pages/_index.scss
  assets/stylesheets/utilities/_mixins.scss
  components/layout.vue
  components/logo.vue
  components/story_viewer.vue
  pages/_section/_slug.vue
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

feat(Button): Link button dropdown to disclosure
  contents/components/button.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-breaking-changes.md
Due: markdown-lint

feat(ReleaseNotes): Add 17.3 stuff
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add 17.4 stuff
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Update tanuki-ai icon sparkles
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Deprecate duplicated icons
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Update comment-* and add duo-* icons
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Adding new icon and illustration
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Deprecate Tooltip in favor of new Tooltip
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add 50* illustrations
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): Add label tidy up work
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Change format to simple present
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): 17.3 release
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(deps): update dependency iframe-resizer to v5
  package.json
  yarn.lock
Due: none

chore: Backup illustration file
  ui-kit/GitLab Product Illustrations.fig
Due: none

Resolve "Create 17.3 Pajamas UI kit release notes"
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Draft: chore: update homepage banner
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/pages/_homepage.scss
  assets/stylesheets/pages/_index.scss
  assets/stylesheets/utilities/_mixins.scss
  components/layout.vue
  components/logo.vue
  components/story_viewer.vue
  pages/_section/_slug.vue
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore: replace iframe-resizer with @iframe-resizer/parent
  components/story_iframe.vue
  package.json
  tests/components/story_iframe.spec.js
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency @gitlab/eslint-plugin to v19.6.1
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v87.8.0
  package.json
  yarn.lock
Due: none
