Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(BrandPersonality): numbering the personality traits
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(BrandIntroduction): adding brand personality section
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(BrandIntroduction): adding hero image to the page
  contents/brand-overview/introduction.md
  static/img/brand/intro-hero.png
Due: markdown-lint

feat(BrandIntroduction): fixing content typos
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(BrandIntroduction): adding who are the guidelines for section
  contents/brand-overview/introduction.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand-overview/introduction.md
Due: markdown-lint

feat(Settings): Rewrite settings content for decision making
  contents/usability/settings-management.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.16
  package.json
  yarn.lock
Due: none

Removes the semantic release jobs
  .gitlab-ci.yml
  package.json
Due: none

Renames the semantic commit dangerfile to a general commit
  Dangerfile
  danger/commit/Dangerfile
Due: none

Deletes the dangerfile so we can comment on it
  Dangerfile
  danger/commit/Dangerfile
Due: none

fix(Badge): Remove size options from docs
  contents/components/badge.md
Due: markdown-lint

Removes all danger rules related to semantic commits
  danger/commit/Dangerfile
Due: none

ci(Danger): Only lint commits when squash is disabled
  danger/semantic-commit/Dangerfile
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.17
  package.json
  yarn.lock
Due: none

refactor(Badge): Remove size options from docs
  contents/components/badge.md
Due: markdown-lint

feat(FeatureDiscovery): rewrite feature discovery
  contents/usability/feature-discovery.md
  static/img/create-project.svg
  static/img/feature-discovery-banner.svg
  static/img/info-on-hover.svg
Due: markdown-lint

fix: Correct if block
  danger/semantic-commit/Dangerfile
Due: none

fix: Match updated MR draft regex
  danger/semantic-commit/Dangerfile
Due: none

feat(CollectionPages): Add collections
  contents/content/date-and-time.md
  contents/content/i18n.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/patterns/duo-calls-to-action.md
  contents/patterns/duo-slash-commands.md
  contents/patterns/empty-states.md
  contents/patterns/filtering.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
  contents/patterns/searching.md
  contents/product-foundations/design-tokens-using.md
  contents/usability/affordance.md
  contents/usability/ai-human-interaction.md
  contents/usability/contextual-help.md
  contents/usability/destructive-actions.md
  contents/usability/drag-and-drop.md
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/loading.md
  contents/usability/navigation-sidebar.md
  contents/usability/obfuscation.md
  contents/usability/progressive-disclosure.md
  contents/usability/saving-and-feedback.md
  contents/usability/settings-management.md
  nav.json
  pages/components/collection.vue
  pages/components/overview.vue
  pages/content/collection.vue
  pages/objects/collection.vue
  pages/patterns/collection.vue
  pages/product-foundations/collection.vue
  pages/usability/collection.vue
Due: eslint, prettier, markdown-lint

feat(CollectionPages): add collection component and rename index pages
  components/collection.vue
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  contents/product-foundations/design-tokens-using.md
  pages/components/index.vue
  pages/content/index.vue
  pages/data-visualization/index.vue
  pages/objects/index.vue
  pages/patterns/index.vue
  pages/product-foundations/index.vue
  pages/usability/index.vue
Due: eslint, prettier, markdown-lint

feat(CollectionPages): Apply patch and include data viz
  components/collection.vue
  contents/get-started/navigating-pajamas.md
  pages/components/collection.vue
  pages/content/collection.vue
  pages/data-visualization/collection.vue
  pages/objects/collection.vue
  pages/patterns/collection.vue
  pages/product-foundations/collection.vue
  pages/usability/collection.vue
Due: eslint, prettier, markdown-lint

feat(CollectionPages): make description optional
  components/collection.vue
  pages/components/index.vue
  pages/content/index.vue
  pages/data-visualization/index.vue
  pages/objects/index.vue
  pages/patterns/index.vue
  pages/product-foundations/index.vue
  pages/usability/index.vue
Due: eslint, prettier

refactor: update collection to use tailwind classes
  components/collection.vue
Due: eslint, prettier

chore(deps): remove chokidar resolution
  package.json
  yarn.lock
Due: none

chore(deps): downgrade `chokidar` to `v3.6.0`
  package.json
  yarn.lock
Due: none

chore: update content descriptions
  contents/content/date-and-time.md
  contents/content/punctuation.md
  contents/content/ui-text.md
  contents/content/verb-tenses.md
Due: markdown-lint

chore: update patterns descriptions
  contents/patterns/duo-slash-commands.md
  contents/patterns/keyboard-shortcuts.md
  contents/patterns/merge-request-reports.md
  contents/patterns/searching.md
Due: markdown-lint

chore(deps): update dependency prettier-plugin-tailwindcss to ^0.6.7
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier-plugin-tailwindcss to ^0.6.8
  package.json
  yarn.lock
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

feat(CollectionPages): Add collection component
  components/collection.vue
Due: eslint, prettier

refactor: create component collection page
  pages/components/index.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
