Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Toast): Add note for modal alternate
  contents/components/toast.md
Due: markdown-lint

feat(Toast): Update content to utilize new template
  contents/components/toast.md
  static/img/toast-structure.svg
Due: markdown-lint

chore(release): 2.62.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d3/8076b91c20662603a86ae8eac4c5fb7074b022
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Update nav.json
  nav.json
Due: none

feat(mini pipeline graph): Add Figma link
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

test: setup visual reviews tool
  nuxt.config.js
Due: eslint, prettier

test: check for broken links
  .gitlab-ci.yml
  package.json
  pages/_section/_slug.vue
  scripts/check-links
  yarn.lock
Due: eslint, prettier

feat(FileUploader): Update file uploader docs to new template
  contents/components/file-uploader.md
  static/img/file-uploader-structure.svg
Due: markdown-lint

chore(release): 2.63.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  3b/198d15e7be7d92e8a0309cd313f8a1fb2b99af
Due: none

feat(Modal): Update docs to use new template
  contents/components/modal.md
  static/img/modal-structure.svg
Due: markdown-lint

feat(Components): Add overview page for components
  assets/stylesheets/pages/_index.scss
  modules/content_preparer.js
  nav.json
  pages/components/overview.vue
Due: eslint, prettier

Apply 2 suggestion(s) to 1 file(s)
  pages/components/template.md
Due: markdown-lint

chore: Update structure image title definition
  pages/components/template.md
Due: markdown-lint

chore(release): 2.64.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ad/d905e50fdb2b511b711acd202fa43130ae78a8
Due: none

chore(deps): update dependency @gitlab/ui to v32.11.0
  package.json
  yarn.lock
Due: none

feat(Drawer): Update content to use new template
  contents/components/drawer.md
Due: markdown-lint

feat(Checkbox): Update content to use new template
  contents/components/checkbox.md
  static/img/checkbox-structure.svg
Due: markdown-lint

chore(release): 2.65.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  73/7a33ac3772e1264428e9df6d37c4e5430f89f6
Due: none

feat(Card): Use new content template
  contents/components/card.md
Due: markdown-lint
