Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Backup Figma file "Type scale - Documentation Markdown" image for node 0:1
  figma_backups/Type scale - Documentation Markdown/0:1.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 1097:10
  figma_backups/Type scale - Documentation Markdown/1097:10.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 1843:373
  figma_backups/Type scale - Documentation Markdown/1843:373.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 985:10
  figma_backups/Type scale - Documentation Markdown/985:10.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 909:10
  figma_backups/Type scale - Documentation Markdown/909:10.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 974:10
  figma_backups/Type scale - Documentation Markdown/974:10.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 988:10
  figma_backups/Type scale - Documentation Markdown/988:10.png
Due: none

Backup Figma file "Type scale - Documentation Markdown" image for node 1174:10
  figma_backups/Type scale - Documentation Markdown/1174:10.png
Due: none

Update last backup info for "Type scale - Documentation Markdown"
  figma_backups/Type scale - Documentation Markdown_last_backup_info.json
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 1/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part1
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 2/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part2
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 3/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part3
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 4/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part4
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 5/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part5
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 6/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part6
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 7/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part7
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 8/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part8
Due: none

Backup Figma file "GitLab Product Illustrations" JSON (part 9/9)
  figma_backups/GitLab Product Illustrations/1ui9w228X0S5WxaD0SRdIA.json.part9
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 0:1
  figma_backups/GitLab Product Illustrations/0:1.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 1:4
  figma_backups/GitLab Product Illustrations/1:4.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 1348:180
  figma_backups/GitLab Product Illustrations/1348:180.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 105:1212
  figma_backups/GitLab Product Illustrations/105:1212.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 6:797
  figma_backups/GitLab Product Illustrations/6:797.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 441:2008
  figma_backups/GitLab Product Illustrations/441:2008.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 441:1784
  figma_backups/GitLab Product Illustrations/441:1784.png
Due: none

Backup Figma file "GitLab Product Illustrations" image for node 441:2103
  figma_backups/GitLab Product Illustrations/441:2103.png
Due: none

Update last backup info for "GitLab Product Illustrations"
  figma_backups/GitLab Product Illustrations_last_backup_info.json
Due: none

chore: Apply suggestion(s)
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: Revision 2
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

chore: make control reference more generic
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

refactor: use `GlAlert` for deprecated component message
  helpers/gitlab_ui.js
  pages/_section/_slug.vue
Due: eslint, prettier

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

chore: Apply suggestion(s)
  contents/patterns/calls-to-action.md
Due: markdown-lint

docs(Pajamas): rewrite concise CTA section
  contents/patterns/calls-to-action.md
Due: markdown-lint

feat(DesignTokens): Add action design token conceptual guidance
  contents/product-foundations/design-tokens-using.md
Due: markdown-lint

refactor: Overhaul site navigation
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/brand-voice.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  contents/brand/overview.md
  nav.json
  nginx.conf
Due: markdown-lint

refactor: Remove navigating pajamas
  contents/get-started/navigating-pajamas.md
  nav.json
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
