Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

fix: add tailwindcss config
  assets/css/tailwind.css
  nuxt.config.js
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: eslint, prettier

feat(Animation): Add animation fundamentals guidelines
  contents/product-foundations/animation-fundamentals.md
  contents/product-foundations/motion.md
  nav.json
  nginx.conf
  static/video/easing-default.mp4
  static/video/easing-linear.mp4
  static/video/easing-out-cubic.mp4
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.6.5
  package.json
  yarn.lock
Due: none

remove pitch deck
  contents/brand/overview.md
Due: markdown-lint

fix(deps): update dependency mermaid to ^10.9.0
  package.json
  yarn.lock
Due: none

chore(release): 2.190.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  09/c6ec2264a4e992f9d31bc91ca9575bd4422a6f
Due: none

chore: Apply suggestions
  contents/product-foundations/design-tokens.md
Due: markdown-lint

feat(DesignTokens): Init categories
  contents/product-foundations/design-tokens.md
Due: markdown-lint

feat(DesignTokens): Revise categories
  contents/product-foundations/design-tokens.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/product-foundations/animation-fundamentals.md
Due: markdown-lint

Add base animation documentation
  contents/product-foundations/animation-fundamentals.md
  contents/product-foundations/motion.md
  nav.json
  nginx.conf
  static/video/easing-default.mp4
  static/video/easing-linear.mp4
  static/video/easing-out-cubic.mp4
Due: markdown-lint

chore: Add table sort updates
  contents/get-started/uik-release-notes.md
Due: markdown-lint

docs: Component health template
  .gitlab/issue_templates/Component health evaluation.md
Due: markdown-lint

chore: Update weight
  .gitlab/issue_templates/Component health evaluation.md
Due: markdown-lint

chore: Make status placeholder
  .gitlab/issue_templates/Component health evaluation.md
Due: markdown-lint

feat(ButtonGroup): New button group page
  contents/components/button-group.md
  contents/components/button.md
  contents/components/checkbox.md
  contents/components/dropdown-disclosure.md
  contents/components/pagination.md
  contents/components/radio-button.md
  contents/components/segmented-control.md
  contents/components/table.md
  contents/components/toggle.md
  nav.json
  static/img/button-group-structure.svg
Due: markdown-lint

chore(deps): update dependency sass to ^1.72.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v78
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v3.91.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.6.7
  package.json
  yarn.lock
Due: none

chore(release): 2.190.2 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  3e/5c4afdc294dcbb7b61b94bfac0b2884aa3313d
Due: none

chore: Apply suggestions
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Move illus additions
  contents/get-started/uik-release-notes.md
Due: markdown-lint

update link to themed deck template
  contents/brand/overview.md
Due: markdown-lint

feat(DesignTokens): Simplify categories
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: Apply suggestion
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: Add fixes section
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Update file uik-release-notes.md
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): 16.10 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix: Remove extra space
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: Apply suggestions
  .gitlab/issue_templates/Component health evaluation.md
Due: markdown-lint

feat(ComponentHealth): Provide more guidance
  .gitlab/issue_templates/Component health evaluation.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
