Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

style: Style TODO blocks
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/utilities/_mixins.scss
  components/md_display.vue
Due: eslint, prettier

feat(FileUploader): Add multi file uploader to structure image
  contents/components/file-uploader.md
  static/img/file-uploader-structure.svg
Due: markdown-lint

chore: Fix google analytics csp policies
  nuxt.config.js
Due: eslint, prettier

feat(Form): Initial update to content structure
  contents/components/form.md
Due: markdown-lint

chore(deps): update eslint and related
  package.json
  yarn.lock
Due: none

Disregard eslint 8.x update for now
  package.json
  yarn.lock
Due: none

feat(Dropdown): Fix typo
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Ongoing updates to content
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Apply suggestions
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Content updates
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Initiate changes to align with template
  contents/components/dropdown.md
Due: markdown-lint

feat(Dropdown): Content organization
  contents/components/dropdown.md
Due: markdown-lint

feat(FileUploader): Add punctuation
  contents/components/file-uploader.md
Due: markdown-lint

chore(release): 2.100.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  1e/5e12234eac76ffeb5d051b9490a10b251d1ce2
Due: none

feat(Dropdown): Clarify variants
  contents/components/dropdown.md
Due: markdown-lint

ci: Only create releases on scheduled pipelines
  .gitlab-ci.yml
Due: none

feat(Dropdown): Remove filter confusion
  contents/components/dropdown.md
Due: markdown-lint

Add Content to popover component
  contents/components/popover.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/content/date-time.md
Due: markdown-lint

feat(Button): Use actual ellipsis character
  contents/components/button.md
Due: markdown-lint

chore: Add send_page_view param in gtag
  plugins/gtag.js
Due: eslint, prettier
