Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore(release): 2.137.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  d7/27caf49c30716a2e9f5f1df6bb978edad24328
Due: none

chore: add Mermaid diagram capabilities
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  plugins/register_global_components.js
  remark-plugins/mermaid.js
  tests/components/mermaid_graph.spec.js
  yarn.lock
Due: eslint, prettier

feat(Error prevention): Update guidelines
  contents/usability/error-prevention.md
Due: markdown-lint

chore: add Mermaid diagram capabilities
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  plugins/register_global_components.js
  remark-plugins/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

feat: add Mermaid diagram capabilities
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  plugins/register_global_components.js
  remark-plugins/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/error-prevention.md
Due: markdown-lint

feat(Error prevention): Update guidelines for high severity
  contents/usability/error-prevention.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.1.3
  package.json
  yarn.lock
Due: none

feat(Color): Update data viz hex values
  contents/data-visualization/color.md
Due: markdown-lint

chore(deps): update dependency linkinator to ^4.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update jest to v29.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.19.6
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v48
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v3.5.0
  package.json
  yarn.lock
Due: none

chore(release): 2.138.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  25/9b41c466fa9dc0ff72550d7e281839643313a9
Due: none

chore(deps): update dependency eslint to v8.26.0
  package.json
  yarn.lock
Due: none

Apply 5 suggestion(s) to 1 file(s)
  contents/components/link.md
Due: markdown-lint

feat(GLLink): Update documentation after feedback
  contents/components/link.md
Due: markdown-lint

feat(GLLink): Clarified copy behavior
  contents/components/link.md
Due: markdown-lint

ci: Remove redundant variable mapping
  .gitlab-ci.yml
Due: none

feat:(GlLink) Add documentation
  contents/components/button.md
  contents/components/link.md
  nav.json
Due: markdown-lint

chore(deps): update jest to v29.2.2
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
