Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(SkeletonLoader): Update content to new template
  contents/components/skeleton-loader.md
  examples/skeleton_loading/index.js
  examples/skeleton_loading/skeleton_loading.basic.example.vue
  examples/skeleton_loading/skeleton_loading.one_line.example.vue
  static/img/skeleton-loader-structure.svg
Due: eslint, prettier, markdown-lint

feat(SkeletonLoader): Update structure SVG
  static/img/skeleton-loader-structure.svg
Due: none

feat(SkeletonLoader): Apply suggestions
  contents/components/skeleton-loader.md
Due: markdown-lint

docs(UIKitGuide): Document workflow updates
  doc/pajamas-ui-kit.md
Due: markdown-lint

feat(Badge): Apply grammar suggestion
  contents/components/badge.md
Due: markdown-lint

feat(Badge): Add accessibility considerations
  contents/components/badge.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v32.22.0
  package.json
  yarn.lock
Due: none

chore(release): 2.86.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  a8/c2962059ce1eb1d6a6503ec64245f45a314a3b
Due: none

feat(EmptyStates): Add empty state variants
  contents/regions/empty-states.md
  examples/empty_state/empty_state.basic.example.vue
Due: eslint, prettier, markdown-lint

ci: Ensure Google Analytics variable is passed on
  Dockerfile
Due: none

ci: Ensure Google Analytics variable is passed on
  Dockerfile
  nuxt.config.js
Due: eslint, prettier

Update contents/components/form.md
  contents/components/form.md
Due: markdown-lint

feat(SkeletonLoader): Shift link for md formatting
  contents/components/skeleton-loader.md
Due: markdown-lint

feat(SkeletonLoader): Update content to utilize new template
  contents/components/skeleton-loader.md
  examples/skeleton_loading/index.js
  examples/skeleton_loading/skeleton_loading.basic.example.vue
  examples/skeleton_loading/skeleton_loading.one_line.example.vue
  static/img/skeleton-loader-structure.svg
Due: eslint, prettier, markdown-lint

chore(release): 2.87.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  68/37c34c1c813f97fd9ff18fde6f1a098356453f
Due: none

docs(UIKit): Add Figma style note)
  doc/pajamas-ui-kit.md
Due: markdown-lint

chore(release): 2.88.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  16/8f503d061c9a19f00aacafbad8120d9599196b
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/content/date-time.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/date-time-format.md
Due: markdown-lint
