Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: remove unused frontmatter related code from VueX store
  components/componentinfo.vue
  middleware/frontmatter.js
  nuxt.config.js
  pages/_section/_slug.vue
  store/mutations.js
  store/state.js
Due: eslint, prettier

chore: remove content_preparer script
  modules/content_preparer.js
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

chore(toggle): remove legacy vueComponent prop
  contents/components/toggle.md
Due: markdown-lint

chore(story viewer): remove deprecated URL param
  components/story_viewer.vue
  tests/components/story_viewer.spec.js
Due: eslint, prettier

docs: document story-viewer controls
  doc/embed-gitlab-ui-stories.md
Due: markdown-lint

feat: Better error page
  layouts/error.vue
  pages/_section/_slug.vue
Due: eslint, prettier

fix(deps): update dependency @gitlab/ui to v38.9.0
  package.json
  yarn.lock
Due: none

feat(Spinner): Make reference singular
  contents/components/spinner.md
Due: markdown-lint

feat(spinner): Link to spinner docs to button example
  contents/components/spinner.md
Due: markdown-lint

chore(spinner): Update examples to use embedded stories
  contents/components/spinner.md
  examples/loading_icon/index.js
  examples/loading_icon/loading_icon.all.example.vue
  examples/loading_icon/loading_icon.extra_large.example.vue
  examples/loading_icon/loading_icon.inline.example.vue
  examples/loading_icon/loading_icon.large.example.vue
  examples/loading_icon/loading_icon.medium.example.vue
  examples/loading_icon/loading_icon.small.example.vue
Due: eslint, prettier, markdown-lint

chore(tooltip): Update examples to embedded stories
  contents/components/tooltip.md
  examples/tooltip/chart_tooltip.basic.example.vue
  examples/tooltip/index.js
  examples/tooltip/tooltip.directive_bottom.example.vue
  examples/tooltip/tooltip.directive_default.example.vue
  examples/tooltip/tooltip.directive_left.example.vue
  examples/tooltip/tooltip.directive_right.example.vue
Due: eslint, prettier, markdown-lint

chore(sorting): Migrate to embedded stories
  contents/components/sorting.md
  examples/sorting/index.js
  examples/sorting/sorting.default.example.vue
Due: eslint, prettier, markdown-lint

feat: Allow to supply padding to iframe
  components/story_iframe.vue
  components/story_viewer.vue
Due: eslint, prettier

chore(data-visualization): Move examples to embedded stories
  contents/data-visualization/overview.md
  examples/heatmap/heatmap.custom_options.example.vue
  examples/heatmap/heatmap.hourly.example.vue
  examples/heatmap/heatmap.responsive.example.vue
  examples/heatmap/heatmap.totals.example.vue
  examples/heatmap/index.js
  examples/stacked_column/index.js
  examples/stacked_column/stacked_column.basic.example.vue
Due: eslint, prettier, markdown-lint

chore(data-visualization): Move more examples to embedded stories
  contents/data-visualization/charts.md
  examples/area/area.basic.example.vue
  examples/area/area.basic_plus.example.vue
  examples/area/index.js
  examples/bar/bar.basic.example.vue
  examples/bar/bar.long_labels.example.vue
  examples/bar/bar.multiple_series.example.vue
  examples/bar/bar.negative_values.example.vue
  examples/bar/index.js
  examples/chart/chart.basic.example.vue
  examples/chart/chart.connected.example.vue
  examples/chart/index.js
  examples/column/column.basic.example.vue
  examples/column/index.js
  examples/discrete_scatter/discrete_scatter.basic.example.vue
  examples/discrete_scatter/index.js
  examples/gauge_chart/gauge.basic.example.vue
  examples/gauge_chart/gauge.no_thresholds.example.vue
  examples/gauge_chart/gauge.no_value.example.vue
  examples/gauge_chart/gauge.with_text.example.vue
  examples/gauge_chart/index.js
  examples/legend/index.js
  examples/legend/legend.basic.example.vue
  examples/legend/legend.toggled.example.vue
  examples/line/index.js
  examples/line/line.basic.example.vue
  examples/line/line.series.example.vue
  examples/series_label/index.js
  examples/series_label/series_label.basic.example.vue
  examples/sparkline/index.js
  examples/sparkline/sparkline.basic.example.vue
  examples/sparkline/sparkline.no_last_y_value.example.vue
Due: eslint, prettier, markdown-lint

chore(single-stat): Move examples to embedded stories
  contents/data-visualization/single-stat.md
  examples/single_stat/index.js
  examples/single_stat/single_stat.badge.example.vue
  examples/single_stat/single_stat.icon.example.vue
  examples/single_stat/single_stat.meta_icon.example.vue
  examples/single_stat/single_stat.simple.example.vue
  examples/single_stat/single_stat.title_icon.example.vue
Due: eslint, prettier, markdown-lint

chore(modals): Update examples to use embedded stories
  contents/components/modal.md
  examples/modal/index.js
  examples/modal/modal.basic.example.vue
  examples/modal/modal.disabled.example.vue
  examples/modal/modal.sizes.example.vue
  layouts/default.vue
Due: eslint, prettier, markdown-lint

chore(toast): Migrate examples to embedded stories
  contents/components/toast.md
  examples/toast/index.js
  examples/toast/toast.action.example.vue
  examples/toast/toast.default.example.vue
Due: eslint, prettier, markdown-lint

chore(skeleton-loader): Migrate to embedded stories
  contents/components/skeleton-loader.md
  examples/skeleton_loader/ci_header_skeleton.basic.example.vue
  examples/skeleton_loader/default_skeleton.basic.example.vue
  examples/skeleton_loader/default_skeleton_custom_props.basic.example.vue
  examples/skeleton_loader/index.js
  examples/skeleton_loader/issue_card_skeleton.basic.example.vue
  examples/skeleton_loader/job_log_skeleton.basic.example.vue
Due: eslint, prettier, markdown-lint

chore(pagination): Move examples to embedded stories
  contents/components/pagination.md
Due: markdown-lint

chore(pagination): Move examples to embedded stories
  contents/components/pagination.md
  examples/paginated_list/index.js
  examples/paginated_list/paginated_list.basic.example.vue
  examples/paginated_list/paginated_list.no_filter.example.vue
  examples/paginated_list/paginated_list.with_empty_list.example.vue
  examples/paginated_list/paginated_list.with_filter_function.example.vue
  examples/paginated_list/paginated_list.with_header_slot.example.vue
  examples/paginated_list/paginated_list.with_row_slot.example.vue
  examples/paginated_list/paginated_list.with_subheader_slot.example.vue
  examples/pagination/index.js
  examples/pagination/pagination.basic.example.vue
  examples/pagination/pagination.compact.example.vue
  examples/pagination/pagination.double_truncation.example.vue
  examples/pagination/pagination.event.example.vue
  examples/pagination/pagination.links.example.vue
Due: eslint, prettier, markdown-lint

chore(filtered-search): Migrate examples to embedded stories
  contents/components/filter.md
  examples/filtered_search/filtered_search.default.example.vue
  examples/filtered_search/filtered_search.history.example.vue
  examples/filtered_search/filtered_search.single_unique.example.vue
  examples/filtered_search/index.js
Due: eslint, prettier, markdown-lint

chore(radio-button): Migrate to embedded stories
  contents/components/radio-button.md
Due: markdown-lint

chore(buttons): Migrate to embedded stories
  contents/components/button.md
Due: markdown-lint

chore(buttons): Migrate to embedded stories
  contents/components/button.md
  examples/button/basic/button.basic.example.vue
  examples/button/basic/button.disabled.example.vue
  examples/button/basic/button.link.example.vue
  examples/button/basic/button.selected.example.vue
  examples/button/categories/button.primary.example.vue
  examples/button/categories/button.secondary.example.vue
  examples/button/categories/button.tertiary.example.vue
  examples/button/combinations/button.ellipsis.example.vue
  examples/button/combinations/button.emoji.example.vue
  examples/button/combinations/button.icon.example.vue
  examples/button/combinations/button.icon_and_text.example.vue
  examples/button/combinations/button.label.example.vue
  examples/button/combinations/button.loading.example.vue
  examples/button/deprecated-variants/button.info.example.vue
  examples/button/deprecated-variants/button.success.example.vue
  examples/button/deprecated-variants/button.warning.example.vue
  examples/button/dropdowns/button.dropdown.example.vue
  examples/button/dropdowns/button.dropdown_full_width.example.vue
  examples/button/dropdowns/button.dropdown_split.example.vue
  examples/button/dropdowns/button.dropdown_with_icon.example.vue
  examples/button/dropdowns/button.dropdown_with_icon_and_split.example.vue
  examples/button/dropdowns/button.dropdown_with_icon_and_text.example.vue
  examples/button/index.js
  examples/button/sizing/button.full_width.example.vue
  examples/button/sizing/button.medium.example.vue
  examples/button/sizing/button.sizes.example.vue
  examples/button/sizing/button.small.example.vue
  examples/button/variants/button.confirm.example.vue
  examples/button/variants/button.danger.example.vue
  examples/button/variants/button.dashed.example.vue
  examples/button/variants/button.variants.example.vue
  examples/button_group/button_group.basic.example.vue
  examples/button_group/button_group.dropdown.example.vue
  examples/button_group/button_group.sizes.example.vue
  examples/button_group/button_group.variants.example.vue
  examples/button_group/index.js
Due: eslint, prettier, markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
