Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/components/button.md
Due: markdown-lint

feat(Buttons): Add hierarchy and variant details
  assets/stylesheets/components/_table.scss
  contents/components/button.md
Due: markdown-lint

chore(release): 2.19.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ae/50c9afdf48c3c6da24dcaf59b8287d252c17b1
Due: none

feat(Table): Add responsive details
  contents/components/table.md
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  contents/components/table.md
Due: markdown-lint

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(release): 2.20.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  9c/9f2d2bdf9e2e056ccaff5ebd3b48a02091f62d
Due: none

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: none

Apply 7 suggestion(s) to 1 file(s)
  contents/components/markdown.md
Due: markdown-lint

feat(markdown): Move Markdown into Components
  contents/components/markdown.md
  contents/product-foundations/typography.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/components/toggle.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/toggle.md
Due: markdown-lint

chore: Add ability to underscore file names
  contents/data-visualization/_overview.md
  modules/content_preparer.js
Due: eslint, prettier, markdown-lint

fix(settings): updating copy
  contents/regions/settings.md
Due: markdown-lint

feat(locked settings): applying tw text suggestion
  contents/regions/settings.md
Due: markdown-lint

docs:(locked settings) adds new documentation
  contents/regions/settings.md
  static/img/locked-setting.png
Due: markdown-lint

fix(settings): updating image link
  contents/regions/settings.md
Due: markdown-lint

feat:(locked settings) adds new documentation
  contents/regions/settings.md
Due: markdown-lint

fix(settings): updating linked image
  static/img/locked-setting-example.png
  static/img/locked-setting.png
Due: none

fix(charts): adding additional chart types
  contents/data-visualization/charts.md
Due: markdown-lint

fix(charts): adding back changes post rebase
  contents/data-visualization/charts.md
Due: markdown-lint

fix(charts): adding extra line at end of file
  contents/data-visualization/charts.md
Due: markdown-lint

fix(charts): adding additional todo
  contents/data-visualization/charts.md
Due: markdown-lint

docs(lifecycle): Update component lifecycle docs
  contents/contribute/lifecycle.md
Due: markdown-lint

feat(Markdown): Add page about text components
  contents/components/markdown.md
  contents/product-foundations/typography.md
Due: markdown-lint
