Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(Iconography): add pencil icon guidelines
  contents/product-foundations/iconography.md
Due: markdown-lint

feat(VPAT): Evaluate GitLab v15.0
  assets/stylesheets/framework/_content.scss
  contents/accessibility/a11y.md
  contents/accessibility/vpat.md
Due: markdown-lint

feat(Iconography): add cross reference to icon recommendations
  contents/components/table.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v42.6.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v42.7.0
  package.json
  yarn.lock
Due: none

fix: fix broken links
  contents/accessibility/vpat.md
  contents/components/breadcrumb.md
  contents/content/terminology.md
  contents/data-visualization/overview.md
  contents/product-foundations/interaction.md
  contents/research/get-started.md
  contents/usability/helping-users.md
Due: markdown-lint

fix: fix broken links
  contents/accessibility/vpat.md
  contents/components/breadcrumb.md
  contents/components/modal.md
  contents/components/pagination.md
  contents/content/terminology.md
  contents/data-visualization/overview.md
  contents/layout/responsive-first.md
  contents/product-foundations/illustration.md
  contents/product-foundations/interaction.md
  contents/regions/merge-request-reports.md
  contents/research/get-started.md
  contents/usability/helping-users.md
Due: markdown-lint

chore: migrate m-b-2 to gl-mb-2
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate m-b-3 to gl-mb-3
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: migrate m-l-3 to gl-ml-3
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

chore: migrate m-l-3 to gl-ml-3
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: migrate m-t-5 to gl-mt-5
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug.vue
Due: eslint, prettier

chore: migrate m-b-5 to gl-mb-5
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  contents/layout/layers.md
Due: markdown-lint

chore: migrate m-t-6 to gl-mt-6
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug/index.vue
Due: eslint, prettier

chore: migrate m-b-6 to gl-mb-6
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility/vpat.md
  contents/data-visualization/color.md
  contents/layout/grid.md
  contents/layout/spacing.md
  contents/product-foundations/colors.md
  contents/product-foundations/type-fundamentals.md
Due: markdown-lint

chore: migrate m-t-7 to gl-mt-7
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/product-foundations/colors.md
  contents/product-foundations/illustration.md
  pages/_section/_slug.vue
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-b-7 to gl-mb-7
  assets/stylesheets/framework/_spacing.scss
  contents/accessibility-audits/keyboard-only.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
  layouts/default.vue
  pages/components/overview.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-b-8 to gl-mb-9
  assets/stylesheets/framework/_spacing.scss
  contents/data-visualization/color.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

chore: migrate m-t-8 to gl-mt-9
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate m-t-9 to gl-mt-11
  assets/stylesheets/framework/_spacing.scss
  pages/index.vue
Due: eslint, prettier

chore: migrate m-b-9 to gl-mb-11
  assets/stylesheets/framework/_spacing.scss
  contents/product-foundations/colors.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v42.9.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
