Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat(issue template): remove example
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat(issue template): add example
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

feat(issue template): remove step
  .gitlab/issue_templates/Object documentation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/tabs.md
Due: markdown-lint

Apply 3 suggestion(s) to 1 file(s)
  contents/layout/content-reflow.md
Due: markdown-lint

feat(A11yGuides): Add browser settings to keyboard audit
  contents/accessibility-audits/keyboard-only.md
  static/img/a11y-keyboard-macos.png
  static/img/a11y-keyboard-safari.png
Due: markdown-lint

feat: adds a11y definition and principles
  contents/accessibility/a11y-principles.md
  nav.json
Due: markdown-lint

feat(job object): add Job object
  contents/objects/job.md
  nav.json
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v36
  package.json
  yarn.lock
Due: none

docs(update content link): adding a section for contribution guidelines
  CONTRIBUTING.md
Due: markdown-lint

docs(update): Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdown-lint

chore(release): 2.108.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  61/69b2163e2ef419b23802ccde5d1d4bd5c4961a
Due: none

fix(deps): update dependency @gitlab/svgs to v2.3.0
  package.json
  yarn.lock
Due: none

feat(A11y): Update name, location, and format
  contents/accessibility/a11y-principles.md
  contents/accessibility/inclusive-design-principles.md
  nav.json
Due: markdown-lint

feat(A11y): Update nav snaps
  tests/components/__snapshots__/navbar.spec.js.snap
Due: none

feat(A11y): Fix typo
  contents/accessibility/inclusive-design-principles.md
Due: markdown-lint

feat(doc): Add nav spec step'
  doc/navbar.md
Due: markdown-lint

test: mock navbar JSON
  tests/components/__snapshots__/navbar.spec.js.snap
  tests/components/navbar.spec.js
Due: eslint, prettier

feat(tabs): Updated guidelines for tab usage
  contents/components/tabs.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/accessibility/inclusive-design-principles.md
Due: markdown-lint

docs: Improve UI text criteria
  contents/components/form.md
Due: markdown-lint

feat(drawer): add link to specs
  contents/components/drawer.md
Due: markdown-lint

feat(Layout): Modifications to content
  contents/layout/content-reflow.md
Due: markdown-lint

feat: Add getting started overview page
  contents/get-started/overview.md
  contents/resources/design-resources.md
  nav.json
Due: markdown-lint

Add link to the Drawer design specs
  contents/components/drawer.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
