Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
---
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(deps): update dependency sass to ^1.69.7
  package.json
  yarn.lock
Due: none

chore(release): 2.182.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  3c/aceb6fcf0364c40d5df38f80392a4d748ed54a
Due: none

feat(Forms): Expound reasoning
  contents/patterns/forms.md
Due: markdown-lint

feat(Select): Clarify alternates
  contents/components/select.md
Due: markdown-lint

feat(Select): Fix typo
  contents/components/select.md
Due: markdown-lint

feat(Link): Clarify link behavior
  contents/components/link.md
Due: markdown-lint

feat(Select): Add guidelines for select usage
  contents/components/select.md
Due: markdown-lint

feat(Link): Include references
  contents/components/link.md
Due: markdown-lint

feat(Forms): Remove disable submit example
  contents/patterns/forms.md
Due: markdown-lint

feat(Colors): use colors from gitlab-ui design tokens
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_color.scss
  assets/stylesheets/framework/_footer.scss
  components/color_palette/color_contrast_score.vue
  components/color_palette/color_palette.vue
  contents/data-visualization/color.md
  contents/product-foundations/color.md
  plugins/register_global_components.js
  tests/components/color_palette/color_contrast_score.spec.js
  tests/components/color_palette/color_palette.spec.js
Due: eslint, prettier, markdown-lint

Add feedback animation documentation
  contents/product-foundations/motion-feedback.md
  contents/product-foundations/motion-fundamentals.md
  contents/product-foundations/motion.md
  nav.json
  static/video/easing-default.mp4
  static/video/easing-out-cubic.mp4
  static/video/motion-group-transition-do.mp4
  static/video/motion-group-transition-dont.mp4
  static/video/motion-hover-transition-do.mp4
  static/video/motion-hover-transition-dont.mp4
Due: markdown-lint

feat(UIKitReleaseNotes): Avatar enhancements
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Remove first look illustration
  assets/images/resources/r-first-look.png
Due: none

chore: Remove first look references
  assets/images/resources/r-first-look.png
  contents/get-started/resources.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore(deps): update dependency @babel/preset-env to v7.23.8
  package.json
  yarn.lock
Due: none

feat(Forms): Adjust sentence positioning
  contents/patterns/forms.md
Due: markdown-lint

feat(UIKitReleaseNotes): Add devops illus
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(Forms): Small grammatical fix
  contents/patterns/forms.md
Due: markdown-lint

feat(Select): Small grammar improvement
  contents/components/select.md
Due: markdown-lint

feat(ReleaseNotes): Final edits
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/eslint-plugin to v19.4.0
  package.json
  yarn.lock
Due: none

chore(release): 2.183.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  be/461dca55785af629ab6e43a1055b3a6ff30549
Due: none

Add feedback animation documentation
  contents/product-foundations/motion-feedback.md
  contents/product-foundations/motion-fundamentals.md
  contents/product-foundations/motion.md
  nav.json
  static/video/easing-default.mp4
  static/video/easing-out-cubic.mp4
  static/video/motion-group-transition-do.mp4
  static/video/motion-group-transition-dont.mp4
  static/video/motion-hover-transition-do.mp4
  static/video/motion-hover-transition-dont.mp4
  static/video/motion-keyboard-focus-do.mp4
  static/video/motion-keyboard-focus-dont.mp4
  static/video/motion-mouse-focus-do.mp4
  static/video/motion-mouse-focus-dont.mp4
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.5.6
  package.json
  yarn.lock
Due: none

feat(ReleaseNotes): Add clarification
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(deps): update dependency nuxt to ^2.17.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency linkinator to ^6.0.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v3.2.1
  package.json
  yarn.lock
Due: none

feat(Select): Refine criteria for radio buttons
  contents/components/select.md
Due: markdown-lint

feat(Select): Add guidelines for select
  contents/components/select.md
Due: markdown-lint

feat(ReleaseNotes): typos
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): 16.8 release
  contents/get-started/uik-release-notes.md
Due: markdown-lint

fix(deps): update dependency mermaid to ^10.7.0
  package.json
  yarn.lock
Due: none
