Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
---
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

ci: Add markdown linting job to pipelines
  .gitlab-ci.yml
Due: none

chore(release): 2.188.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  66/5d0b9fbddef1c789f08ad78d81ca93f612920d
Due: none

chore: simplify script
  package.json
Due: none

chore: add changes for multiline text
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore(release): 2.188.0 [skip ci]
  CHANGELOG.md
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Add button group deprecation note
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Add popover changes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Update file uik-release-notes.md
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat: changed order of image and updated words
  contents/usability/feature-management.md
Due: markdown-lint

fix: use valid link rather than invalid link
  contents/content/punctuation.md
Due: markdown-lint

fix: use valid link rather than invalid link
  contents/content/punctuation.md
  contents/usability/contextual-help.md
Due: markdown-lint

feat(DesignTokens): Add initial usage guidelines
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: Apply suggestions
  contents/product-foundations/color.md
Due: markdown-lint

fix: Override Bootstrap link styles
  assets/stylesheets/framework/_content.scss
  components/note.vue
  components/todo.vue
Due: eslint, prettier

chore: Clarify solid color
  contents/product-foundations/color.md
Due: markdown-lint

chore: Apply suggestion
  contents/components/popover.md
Due: markdown-lint

Apply 17 suggestion(s) to 1 file(s)
  contents/product-foundations/animation-fundamentals.md
Due: markdown-lint

Fix video autoplay
  contents/product-foundations/animation-fundamentals.md
Due: markdown-lint

feat(SingleStat): Add link variant usage guidelines
  contents/data-visualization/single-stat.md
Due: markdown-lint

fix: Update admonition links
  assets/stylesheets/framework/_content.scss
  components/note.vue
  components/todo.vue
Due: eslint, prettier

feat(DesignTokens): Init categories
  contents/product-foundations/design-tokens.md
Due: markdown-lint

feat(Popover): Apply suggestions
  contents/components/popover.md
Due: markdown-lint

feat(Popover): Docs cleanup
  contents/components/popover.md
Due: markdown-lint

Add Selected button updates.
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(DesignTokens): Work on categories
  contents/product-foundations/design-tokens.md
Due: markdown-lint

chore: remove unused styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/components/_card.scss
  assets/stylesheets/components/_logo.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_color.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_sizing.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_p-color.scss
  assets/stylesheets/pages/_p_baseline-grid.scss
  assets/stylesheets/pages/_p_components.scss
  assets/stylesheets/pages/_p_spacing.scss
  assets/stylesheets/utilities/_mixins.scss
Due: none

chore: remove color-overview class usage
  contents/brand-design/color.md
Due: markdown-lint

feat: add documentation about acceptance of terms
  contents/usability/feature-management.md
  static/img/legal-disclaimer-exp-beta.svg
Due: markdown-lint

feat(Animation): Add animation fundamentals guidelines
  contents/product-foundations/animation-fundamentals.md
  contents/product-foundations/motion.md
  nav.json
  nginx.conf
  static/video/easing-default.mp4
  static/video/easing-out-cubic.mp4
Due: markdown-lint
