Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Move to Data Vis folder
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Add the page to nav
  nav.json
Due: none

feat(mini pipeline graph): Remove duplicate content
  contents/data-visualization/mini-pipeline-graph.md
Due: markdown-lint

feat(mini pipeline graph): Add to nav
  nav.json
Due: none

feat(Components): Add overview page for components
  assets/stylesheets/pages/_index.scss
  modules/content_preparer.js
  nav.json
  pages/components/overview.vue
Due: eslint, prettier

feat(FileUploader): Update file uploader docs to new template
  contents/components/file-uploader.md
  static/img/file-uploader-structure.svg
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/components/file-uploader.md
Due: markdown-lint

chore: Update structure image title definition
  pages/components/template.md
Due: markdown-lint

chore(deps): update dependency @gitlab/svgs to v1.212.0
  package.json
  yarn.lock
Due: none

feat(Breadcrumb): Update content to new template
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint

feat(Breadcrumb): Remove appearance section
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Update content to utilize new template
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint

chore(release): 2.61.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  59/46757f6a5e14aaa510ce8acfab96c36256d67d
Due: none

Don't mind me
  .gitlab-ci.yml
  check-links.js
  package.json
  pages/_section/_slug.vue
  yarn.lock
Due: eslint, prettier

chore: check for broken links
  .gitlab-ci.yml
  check-links.js
  package.json
  pages/_section/_slug.vue
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency @gitlab/ui to v32.10.2
  package.json
  yarn.lock
Due: none

feat(Toast): Add note for modal alternate
  contents/components/toast.md
Due: markdown-lint

feat(Toast): Update content to new template
  contents/components/toast.md
  static/img/toast-structure.svg
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
