Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(Avatar): Update content to use new template
  contents/components/avatar.md
  static/img/avatar-group.svg
  static/img/avatar-stack.svg
  static/img/avatar-structure.svg
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  contents/components/avatar.md
Due: markdown-lint

Update contents/data-visualization/charts.md
  contents/data-visualization/charts.md
Due: markdown-lint

feat(gaugeChart): Migrate example to Pajamas
  contents/data-visualization/charts.md
  examples/chart/gauge.basic.example.vue
  examples/chart/index.js
Due: eslint, prettier, markdown-lint

feat(Banner): Update banner docs to new template
  contents/components/banner.md
  static/img/banner-structure.svg
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/components/banner.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/avatar.md
Due: markdown-lint

feat(gaugeChart): Try to get local examples working
  contents/data-visualization/charts.md
  examples/chart/gauge.basic.example.vue
  examples/chart/index.js
  examples/data_visualization/chart.basic.example.vue
  examples/data_visualization/chart.connected.example.vue
  examples/data_visualization/gauge.basic.example.vue
  examples/data_visualization/index.js
Due: eslint, prettier, markdown-lint

feat(button): discourage small size icon buttons
  contents/components/button.md
Due: markdown-lint

chore(release): 2.53.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  cc/54b2063afc750bafc8d00858c221112f27a272
Due: none

docs: update component examples docs
  doc/component-examples.md
Due: markdown-lint

chore: rename gauge chart examples directory
  examples/gauge/gauge.basic.example.vue
  examples/gauge_chart/gauge.basic.example.vue
  examples/gauge_chart/gauge.no_thresholds.example.vue
  examples/gauge_chart/gauge.no_value.example.vue
  examples/gauge_chart/gauge.with_text.example.vue
  examples/gauge_chart/index.js
Due: eslint, prettier

chore: add gauge chart examples to the docs
  contents/data-visualization/charts.md
Due: markdown-lint

Apply 5 suggestion(s) to 1 file(s)
  contents/components/banner.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/components/avatar.md
Due: markdown-lint

chore: update component reference in examples
  examples/gauge_chart/gauge.no_thresholds.example.vue
  examples/gauge_chart/gauge.no_value.example.vue
  examples/gauge_chart/gauge.with_text.example.vue
Due: eslint, prettier

feat(Avatar): Update to utilize new content template
  contents/components/avatar.md
  static/img/avatar-group.svg
  static/img/avatar-stack.svg
  static/img/avatar-structure.svg
Due: markdown-lint

chore(release): 2.54.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  c5/3ce67ac750728f6971e2665661ade839133a3d
Due: none

chore(deps): update dependency @gitlab/ui to v32.2.1
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
