Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore(refactor): Move query param syncing logic to helper
  helpers/sync_state_to_query_params.js
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

refactor: Update breakpoints
  assets/stylesheets/utilities/_mixins.scss
Due: none

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix: Incorporate maintainer feedback
  components/svg_explorer/svg_card.vue
  pages/_section/_slug/icons.vue
Due: eslint, prettier

Feat: CReate utility function to convert bytes to KiB
  components/svg_explorer/svg_card.vue
  helpers/unit_utils.js
  pages/_section/_slug/icons.vue
Due: eslint, prettier

feat: Move Icon Explorer to new shared component
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_album.vue
  pages/_section/_slug/icons.vue
Due: eslint, prettier

feat: Move Illustration explorer to new shared component
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_card.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

feat: Support for png illustrations
  components/svg_explorer/svg_card.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

fix: Correct link to illustration sources
  components/svg_explorer/svg_album.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier

fix: Disable base64 conversion for images
  nuxt.config.js
Due: eslint, prettier

chore(deps): update dependency @gitlab/eslint-plugin to v15
  package.json
  yarn.lock
Due: none

fix: Make iframe loading more stable
  components/story_iframe.vue
Due: eslint, prettier

refactor: move One Trust skipping to a directive
  components/story_iframe.vue
  nuxt.config.js
  plugins/skip_one_trust_directive.js
Due: eslint, prettier

refactor: migrate to GitLab UI utils in color palettes
  components/color_contrast_score.vue
  components/foundations_color_palette.vue
Due: eslint, prettier

refactor: rename color palette components
  components/color_palette/color_contrast_score.vue
  components/color_palette/color_palette.vue
  contents/data-visualization/color.md
  contents/product-foundations/colors.md
  plugins/register_global_components.js
  tests/components/color_palette/color_contrast_score.spec.js
  tests/components/color_palette/color_palette.spec.js
Due: eslint, prettier, markdown-lint

feat: Copy Icon and Illustration explorer from GitLab SVGs
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_album.vue
  components/svg_explorer/svg_card.vue
  components/svg_explorer/svg_icon.vue
  contents/product-foundations/iconography.md
  contents/product-foundations/illustration.md
  helpers/copy_to_clipboard.js
  helpers/sync_state_to_query_params.js
  helpers/unit_utils.js
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier, markdown-lint

feat: Icon and Illustration explorer (beta)
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_album.vue
  components/svg_explorer/svg_card.vue
  components/svg_explorer/svg_icon.vue
  contents/product-foundations/iconography.md
  contents/product-foundations/illustration.md
  helpers/copy_to_clipboard.js
  helpers/sync_state_to_query_params.js
  helpers/unit_utils.js
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier, markdown-lint

chore: use absolute path for 'Use sentence case' link
  contents/components/breadcrumb.md
Due: markdown-lint

chore: add a timeout to link checker script
  scripts/check_links.mjs
Due: none

chore: use absolute path for 'Use sentence case' link
  contents/components/breadcrumb.md
  scripts/check_links.mjs
Due: markdown-lint

chore: remove unused padding utilities
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-a-0 to gl-p-0
  assets/stylesheets/framework/_spacing.scss
  contents/components/accordion.md
Due: markdown-lint

chore: migrate p-t-2 to gl-pt-2
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-b-2 to gl-pb-2
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-a-3 to gl-p-3
  assets/stylesheets/framework/_spacing.scss
  contents/brand-design/color.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

chore: migrate p-t-3 to gl-pt-3
  assets/stylesheets/framework/_spacing.scss
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
Due: eslint, prettier

chore: migrate p-r-3 to gl-pr-3
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-b-3 to gl-pb-3
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-l-3 to gl-pl-3
  assets/stylesheets/framework/_spacing.scss
Due: none

chore: migrate p-a-5 to gl-p-5
  assets/stylesheets/framework/_spacing.scss
  components/navbar.vue
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/components/accordion.md
  contents/product-foundations/illustration.md
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

chore: migrate p-r-5 to gl-pr-5
  assets/stylesheets/framework/_spacing.scss
Due: none
