Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
---
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Breadcrumb): Update behavior guidelines
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Replace > with / to match design
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Simplify wording and removed old examples
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Edit paths from nav changes
  contents/components/breadcrumb.md
Due: markdown-lint

feature(Breadcrumb): Remove suggestion to use navigation
  contents/components/breadcrumb.md
Due: markdown-lint

feat(navigation): fix settings img
  contents/patterns/new-navigation.md
Due: markdown-lint

feat(navigation): Better outline the layout
  contents/patterns/new-navigation.md
  static/img/new-navigation.svg
Due: markdown-lint

feat(navigation): Add layout img
  contents/patterns/new-navigation.md
  static/img/new-navigation.svg
Due: markdown-lint

feat(navigation): Add new navigation page
  contents/patterns/new-navigation.md
Due: markdown-lint

feat(nav): Fix images and contexts
  contents/patterns/new-navigation.md
  static/img/admin-area-context.svg
  static/img/groups-and-projects-context.svg
  static/img/navigation.svg
  static/img/settings-context.svg
Due: markdown-lint

feat(nav): Add some details and split images
  contents/patterns/new-navigation.md
  static/img/navigation-context-sections.svg
  static/img/navigation-sidebar.svg
  static/img/new-navigation.svg
Due: markdown-lint

feat(nav): More formatting changes
  contents/patterns/new-navigation.md
  static/img/admin-area-context.svg
  static/img/explore-profiles-user-settings-context.svg
  static/img/global-search-context.svg
  static/img/groups-and-projects-context.svg
  static/img/help-context.svg
  static/img/navigation-sidebar.svg
  static/img/navigation.svg
  static/img/settings-context.svg
  static/img/your-work-context.svg
Due: markdown-lint

feat(Breadcrumb): Remove profile exception and sign in page
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Add required links
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Small grammar changes
  contents/components/breadcrumb.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.5.7
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.70.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/application-sdk-browser to ^0.3.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v72.8.1
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v72.9.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v3.2.4
  package.json
  yarn.lock
Due: none

chore(release): 2.184.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  af/06ba00a252be0686912fa47ca34d4e26ddeb75
Due: none

feat(RadioButton): Add guidelines to avoid nesting elements
  contents/components/radio-button.md
Due: markdown-lint

feat(RadioButton): Move guideline to accessibility section
  contents/components/radio-button.md
Due: markdown-lint

feat(Breadcrumb): Small grammar fixes
  contents/components/breadcrumb.md
Due: markdown-lint

feat(RadioButton): Adjust grammar to be specific
  contents/components/radio-button.md
Due: markdown-lint

Feat(Breadcrumb): Fix dead link
  contents/components/breadcrumb.md
Due: markdown-lint

chore: Add init 16-9 release notes
  contents/get-started/uik-release-notes.md
Due: markdown-lint

Update file ai-human-interaction.md
  contents/usability/ai-human-interaction.md
Due: markdown-lint

feat(Headings): add heading scale documentation
  contents/product-foundations/type-fundamentals.md
  contents/product-foundations/type-headings.md
  nav.json
Due: markdown-lint

feat(Typography): use gl-heading styles
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_p-color.scss
  contents/brand-design/color.md
  contents/product-foundations/type-fundamentals.md
  pages/index.vue
Due: eslint, prettier, markdown-lint

feat(Button): Button groups can be used as options
  contents/components/button.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.6.0
  package.json
  yarn.lock
Due: none

feat(Breadcrumb): Fix typos and simplify sentences
  contents/components/breadcrumb.md
Due: markdown-lint

Apply 4 suggestion(s) to 1 file(s)
  contents/product-foundations/motion-fundamentals.md
Due: markdown-lint
