Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(Regions): Adding mr widget content and assets
  contents/regions/merge-request-reports.md
  static/img/a11y-annotation-note.svg
  static/img/a11y-annotation-region.svg
  static/img/a11y-annotation-screen-reader.svg
  static/img/a11y-annotation-tab-order.svg
  static/img/mr-status-critical.svg
  static/img/mr-status-error.svg
  static/img/mr-status-failed-1.svg
  static/img/mr-status-failed.svg
  static/img/mr-status-high.svg
  static/img/mr-status-info.svg
  static/img/mr-status-loading-1.svg
  static/img/mr-status-low.svg
  static/img/mr-status-medium.svg
  static/img/mr-status-neutral-1.svg
  static/img/mr-status-neutral.svg
  static/img/mr-status-notice.svg
  static/img/mr-status-success-1.svg
  static/img/mr-status-success.svg
  static/img/mr-status-unknown.svg
  static/img/mr-status-warning-1.svg
  static/img/mr-status-warning.svg
Due: markdown-lint

feat(Navigation): Reorg nav items to better location
  .gitlab/issue_templates/Component documentation.md
  README.md
  contents/get-started/contribute.md
  contents/get-started/lifecycle.md
  doc/component-lifecycle.md
  nav.json
  pages/index.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

feat(Navigation): Update link after moving
  contents/get-started/contribute.md
Due: markdown-lint

feat(Navigation): Move contributing content
  .gitlab/issue_templates/Component documentation.md
  README.md
  contents/get-started/contribute.md
  contents/get-started/lifecycle.md
  doc/component-lifecycle.md
  nav.json
  pages/index.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

chore(release): 2.41.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  77/41b538ee882a44c6f3cd123d7619aa84db5dad
Due: none

feat(DataViz): included example for all vs success
  contents/data-visualization/color.md
Due: markdown-lint

feat(type): Structure all type content together under one sub-section
  contents/layout/grid.md
  contents/product-foundations/type-fundamentals.md
  contents/product-foundations/type-markdown.md
  contents/product-foundations/type-scales.md
  nav.json
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

feat(usability): Feature configuration and discovery moments
  contents/usability/feature-management.md
  nav.json
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/usability/feature-management.md
Due: markdown-lint

chore(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

docs(objects): Update Figma embed URL
  contents/objects/environment.md
Due: markdown-lint

docs(objects): Add newline at the end of environment object page
  contents/objects/environment.md
Due: markdown-lint

docs(objects): Add environment object page
  contents/objects/environment.md
Due: markdown-lint

Add ending parentheses in MR object page
  contents/objects/merge-request.md
Due: markdown-lint

chore(deps): update dependency @gitlab/svgs to v1.204.0
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/data-visualization/color.md
Due: markdown-lint

feat(DataViz): included note for all vs success
  contents/data-visualization/color.md
Due: markdown-lint

chore(release): 2.42.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  6d/2d791f038982434b256d33e06807b43843ee34
Due: none

feat(usability): Add guidelines for feature configuration and feature discovery moments
  contents/usability/feature-management.md
  nav.json
Due: markdown-lint

chore(release): 2.43.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint
