Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

# This is a non git-hook-target which we use in CI
# in order to parallelize linting / spec execution
test-in-ci:
  parallel: true
  commands:
    eslint:
      run: yarn run eslint
    markdownlint:
      run: yarn run markdown-lint
    prettier:
      run: yarn run prettier
    unit_tests:
      run: yarn run test:unit

feat(ReleaseNotes): combine two icons into a single line
  contents/get-started/uik-release-notes.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(ReleaseNotes): UI Kit 17.5 release
  contents/get-started/uik-release-notes.md
Due: markdown-lint

changed incorrect url in two places
  contents/accessibility/inclusive-design-principles.md
Due: markdown-lint

Update file inclusive-design-principles.md
  contents/accessibility/inclusive-design-principles.md
Due: markdown-lint

chore(deps): update dependency linkinator to ^6.1.2
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.25.8
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/svgs to v3.119.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.79.5
  package.json
  yarn.lock
Due: none

chore(deps): Update @gitlab/eslint-plugin
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/get-started/navigating-pajamas.md
Due: markdown-lint

chore: Apply suggestion(s)
  pages/objects/index.vue
Due: eslint, prettier

refactor: Add objects collection page
  contents/get-started/navigating-pajamas.md
  contents/objects/overview.md
  pages/objects/index.vue
Due: eslint, prettier, markdown-lint

refactor: Add data-viz collection page
  contents/get-started/navigating-pajamas.md
  pages/data-visualization/index.vue
Due: eslint, prettier, markdown-lint

refactor: remove reference to page template figma file
  contents/get-started/navigating-pajamas.md
Due: markdown-lint

refactor: remove reference to resources figma project
  contents/get-started/navigating-pajamas.md
Due: markdown-lint

Tweak content and formatting
  contents/patterns/empty-states.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v20.4.1
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/usability/drag-and-drop.md
  contents/usability/navigation-sidebar.md
  pages/usability/index.vue
Due: eslint, prettier, markdown-lint

Make links relative
  contents/patterns/empty-states.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/usability/affordance.md
  contents/usability/ai-human-interaction.md
  contents/usability/contextual-help.md
  contents/usability/destructive-actions.md
  contents/usability/drag-and-drop.md
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/loading.md
  contents/usability/navigation-sidebar.md
  contents/usability/obfuscation.md
  contents/usability/progressive-disclosure.md
  contents/usability/saving-and-feedback.md
  contents/usability/settings-management.md
Due: markdown-lint

test: Test danger rule
  .gitignore
  CHANGELOG.md
  LICENSE
Due: markdown-lint

uncommon: This is a test commit to break the conventional commits with inline reference like this !123 and #123 and also a period at the end of this very long commit message.
  CONTRIBUTING.md
  README.md
  doc/commits.md
  doc/component-examples.md
  doc/component-lifecycle.md
Due: markdown-lint

refactor: Add usability collection page
  contents/get-started/navigating-pajamas.md
  contents/usability/affordance.md
  contents/usability/ai-human-interaction.md
  contents/usability/contextual-help.md
  contents/usability/destructive-actions.md
  contents/usability/drag-and-drop.md
  contents/usability/feature-discovery.md
  contents/usability/feature-management.md
  contents/usability/loading.md
  contents/usability/navigation-sidebar.md
  contents/usability/obfuscation.md
  contents/usability/progressive-disclosure.md
  contents/usability/saving-and-feedback.md
  contents/usability/settings-management.md
  pages/usability/index.vue
Due: eslint, prettier, markdown-lint

fix: Correct url on inclusive design principles
  contents/accessibility/inclusive-design-principles.md
Due: markdown-lint

feat(Buttons): create buttons nav to house similar components
  nav.json
Due: none

refactor(Buttons): create buttons nav to house similar components
  nav.json
Due: none

ci: Split pages job into `production` and `review-app`
  .gitlab-ci.yml
Due: none

fix: Search by hard-coding Pages URL in CI
  .gitlab-ci.yml
Due: none

ci: Adjust expire_in settings
  .gitlab-ci.yml
Due: none
