Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(BrandTypography): fixing typo
  contents/brand-design/typography.md
Due: markdown-lint

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/app.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  package.json
  pages/components/overview.vue
  pages/index.vue
  yarn.lock
Due: eslint, prettier

chore(deps): update dependency danger-review to v1.4.1
  .gitlab-ci.yml
Due: none

feat(Tabs): add guideline about when to use scrollable tabs
  contents/components/tabs.md
Due: markdown-lint

fix(deps): update dependency nuxt to ^2.18.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v83
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v85
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/components/tabs.md
Due: markdown-lint

fix(deps): update dependency nuxt to ^2.18.1
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/brand-design/typography.md
Due: markdown-lint

fix: fix typo and add page to navigation
  contents/patterns/slash-commands.md
  nav.json
Due: markdown-lint

fix: add link to figma admins
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

feat(BrandTypography): updating new fonts
  contents/brand-design/typography.md
  static/img/brand/devops-shirt-mockup.png
  static/img/brand/type-repetition-mockup.png
  static/img/brand/type-repetitions-construction.svg
  static/img/brand/typography.svg
Due: markdown-lint

feat(Brand): Content on new fonts
  contents/brand-design/typography.md
  static/img/brand/devops-shirt-mockup.png
  static/img/brand/type-repetition-mockup.png
  static/img/brand/type-repetitions-construction.svg
  static/img/brand/typography.svg
Due: markdown-lint

feat(Figma): Clarify who can publish community file
  .gitlab/issue_templates/Pajamas UI Kit release notes.md
Due: markdown-lint

chore(deps): update dependency linkinator to ^6.0.6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency linkinator to ^6.1.0
  package.json
  yarn.lock
Due: none

fix: update images to say slash commands
  contents/patterns/slash-commands.md
  static/img/slash-command-agnostic.svg
  static/img/slash-command-arguments.svg
  static/img/slash-command-specific.svg
Due: markdown-lint

chore: Apply suggestion(s)
  contents/brand/brand-extensions.md
  contents/brand/brand-voice.md
  contents/brand/overview.md
  contents/brand/resources.md
Due: markdown-lint

feat(BrandOverview): creating new overview dropdown
  contents/brand-overview/brand-extensions.md
  contents/brand-overview/brand-voice.md
  contents/brand-overview/introduction.md
  contents/brand-overview/resources.md
  nav.json
Due: markdown-lint

chore: Apply suggestion(s)
  nav.json
Due: none

fix: load design token CSS custom properties
  assets/stylesheets/app.scss
Due: none

feat: add dark mode support
  assets/stylesheets/_variables.scss
  assets/stylesheets/components/_table.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/framework/_content.scss
  assets/stylesheets/framework/_footer.scss
  assets/stylesheets/framework/_logo.scss
  assets/stylesheets/framework/_navbar.scss
  assets/stylesheets/framework/_sidebar.scss
  assets/stylesheets/framework/_typography.scss
  assets/stylesheets/pages/_index.scss
  nuxt.config.js
  pages/components/overview.vue
  pages/index.vue
Due: eslint, prettier

refactor: remove scss math
  assets/stylesheets/framework/_typography.scss
Due: none

docs(FigmaIssueTemplate): Remove requirement to reset component styles
  .gitlab/issue_templates/Figma update.md
Due: markdown-lint

feat(ReleaseNotes): Add insert icon
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(FigmaSharing): Update process
  contents/get-started/uik-sharing.md
Due: markdown-lint

chore: Fix trailing space
  contents/get-started/uik-sharing.md
Due: markdown-lint

chore: update storybook URLs for new color constants
  contents/product-foundations/color.md
Due: markdown-lint

chore: Apply suggestions
  contents/patterns/slash-commands.md
Due: markdown-lint

docs(Pajamas): distinction of current v. future functionality more clear
  contents/patterns/slash-commands.md
  nav.json
  static/img/slash-commands-conditional.svg
  static/img/slash-commands-not-conditional.svg
Due: markdown-lint

docs(Pajamas): current v. future functionality more clear - Renamed Duo to GitLab Duo on navigation - Separated current versus future behavior - Added more example images
  contents/patterns/slash-commands.md
  nav.json
  static/img/slash-commands-conditional.svg
  static/img/slash-commands-not-conditional.svg
Due: markdown-lint
