Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.58.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency mermaid to v10
  .eslintrc.js
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  tests/__mocks__/file_mock.js
  tests/__mocks__/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

feat(Modal): Combine scroll notes
  contents/components/modal.md
Due: markdown-lint

feat(Modal): Update to align with specs
  contents/components/modal.md
Due: markdown-lint

feat(Breadcrumb): Note design updates
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Apply suggestions
  contents/components/breadcrumb.md
Due: markdown-lint

feat(BrandMotion): adding motion details
  contents/brand-design/motion.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/patterns/merge-request-reports.md
Due: markdown-lint

chore(deps): update dependency start-server-and-test to v2
  package.json
  yarn.lock
Due: none

Revert "fix(deps): update dependency mermaid to v10"
  .eslintrc.js
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  tests/__mocks__/file_mock.js
  tests/__mocks__/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

Revert "Revert "fix(deps): update dependency mermaid to v10""
  .eslintrc.js
  components/mermaid_diagram.vue
  nuxt.config.js
  package.json
  tests/__mocks__/file_mock.js
  tests/__mocks__/mermaid.js
  tests/components/mermaid_diagram.spec.js
  yarn.lock
Due: eslint, prettier

Revert "chore(deps): update dependency sass to ^1.58.3"
  package.json
  yarn.lock
Due: none

Revert "chore(deps): update dependency @babel/core to v7.21.0"
  package.json
  yarn.lock
Due: none

Add page headers pattern
  contents/patterns/headers.md
Due: markdown-lint

Link fix
  contents/patterns/headers.md
Due: markdown-lint

Add RTL, update accessibility & breakpoints
  contents/patterns/headers.md
Due: markdown-lint

Applying few suggestions
  contents/patterns/headers.md
Due: markdown-lint

Add h1 heading in page title structure
  contents/patterns/headers.md
Due: markdown-lint

feat(GlLink): add component structure diagram
  contents/components/link.md
  static/img/link-structure.svg
Due: markdown-lint

feat(Headers): Refactor todo, structure, nav
  contents/patterns/headers.md
  nav.json
Due: markdown-lint

feat(Headers): add end space
  contents/patterns/headers.md
Due: markdown-lint

feat(Headers): Add page headers pattern
  contents/patterns/headers.md
Due: markdown-lint

feat(Headers): Link fix
  contents/patterns/headers.md
Due: markdown-lint

feat(Headers): Applying few suggestions
  contents/patterns/headers.md
Due: markdown-lint

feat(Headers): Add h1 in page title structure
  contents/patterns/headers.md
Due: markdown-lint

feat(Headers): RTL, accessibility & breakpoints
  contents/patterns/headers.md
Due: markdown-lint

Apply 2 suggestion(s) to 1 file(s)
  contents/patterns/dashboards.md
Due: markdown-lint

feat(Dashboard): Init dashboard definitions
  contents/patterns/dashboards.md
  contents/patterns/navigation.md
  nav.json
Due: markdown-lint

feat(Link): updated inline text link guidance
  contents/components/link.md
Due: markdown-lint

feat(Breadcumb): Clarify a11y note
  contents/components/breadcrumb.md
Due: markdown-lint

feat(Breadcrumb): Add guideline for bottom border
  contents/components/breadcrumb.md
  static/img/breadcrumb-structure.svg
Due: markdown-lint
