Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore: Remove fibers dependency
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

feat(Pagination): Apply review suggestions
  contents/components/pagination.md
Due: markdown-lint

feat(Pagination): Update content to match new template
  contents/components/pagination.md
  static/img/pagination-structure.svg
Due: markdown-lint

feat(Pagination): Reapply missing changes
  contents/components/pagination.md
Due: markdown-lint

Add structure image and items descriptions
  contents/components/toggle.md
  static/img/toggle-structure.svg
Due: markdown-lint

feat(Badge): Add accessibility considerations
  contents/components/badge.md
Due: markdown-lint

feat(Badge): Apply grammar suggestion
  contents/components/badge.md
Due: markdown-lint

feat(ProgressBar): Updating content to new template
  contents/components/progress-bar.md
  static/img/progress-bar-structure.svg
Due: markdown-lint

feat(Drawer): Update when not to use conditions
  contents/components/drawer.md
Due: markdown-lint

feat(skipLink): Styles and markup
  assets/stylesheets/_variables.scss
  assets/stylesheets/framework/_content.scss
  components/componentinfo.vue
  layouts/default.vue
  pages/index.vue
Due: eslint, prettier

feat(ProgressBar): Apply clarifying suggestions
  contents/components/progress-bar.md
Due: markdown-lint

feat(ProgressBar): Apply suggestion
  contents/components/progress-bar.md
Due: markdown-lint

feat(ProgressBar): Update content to utilize new template
  contents/components/progress-bar.md
  static/img/progress-bar-structure.svg
Due: markdown-lint

chore(release): 2.82.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  de/1fad580ff0728e467a7331845eaa429858539d
Due: none

fix(deps): update dependency @gitlab/ui to v32.20.0
  package.json
  yarn.lock
Due: none

chore(release): 2.82.1 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  50/487ceabb5f0aa25a9465159e8446a91aedb85c
Due: none

feat(Pagination): Update content to utilize new template
  contents/components/pagination.md
  static/img/pagination-structure.svg
Due: markdown-lint

chore(release): 2.83.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  19/3b9df26d30af9cfa5faee852d7cfeb97031a6b
Due: none

docs(ComponentTemplate): Typographer quotes ref
  pages/components/template.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
