Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

# This is a non git-hook-target which we use in CI
# in order to parallelize linting / spec execution
test-in-ci:
  parallel: true
  commands:
    eslint:
      run: yarn run eslint
    markdownlint:
      run: yarn run markdown-lint
    prettier:
      run: yarn run prettier
    unit_tests:
      run: yarn run test:unit

Update file CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdown-lint

Commit
  CONTRIBUTING.md
Due: markdown-lint

ci(Danger): Only trigger commit count warning if squash is disabled
  danger/commit/Dangerfile
Due: none

chore: Apply suggestion(s)
  contents/usability/feature-discovery.md
Due: markdown-lint

feat(FeatureDiscovery): reword guidance to decision tree
  contents/usability/feature-discovery.md
  static/img/create-project.svg
  static/img/feature-discovery-banner.svg
  static/img/info-on-hover.svg
Due: markdown-lint

feat(Settings): Adding two additional cleanups
  contents/usability/settings-management.md
Due: markdown-lint

feat(Settings): Rewrite settings content for decision making
  contents/usability/settings-management.md
Due: markdown-lint

chore: Apply suggestion(s)
  pages/index.vue
Due: eslint, prettier

Cleaning up principle intro
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): An additional cleanup
  contents/get-started/principles.md
Due: markdown-lint

fix(deps): update dependency mermaid to ^10.9.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.8.0
  package.json
  yarn.lock
Due: none

chore(deps): update babel to v7.25.9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.80.4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v97.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.8.1
  package.json
  yarn.lock
Due: none

feat(Popover): Add structure image
  contents/components/popover.md
  static/img/popover-structure.svg
Due: markdown-lint

feat: polish popover structure
  static/img/popover-structure.svg
Due: none

chore(deps): update babel to v7.26.0
  package.json
  yarn.lock
Due: none

feat(principles): Adding a word after this
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Additional language cleanups
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Cleaning up principles page
  contents/get-started/principles.md
Due: markdown-lint

chore(deps): Update gitlab/ui, remove Bootstrap
  package.json
  yarn.lock
Due: none

chore: Apply suggestion(s)
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

feaat(BrandStyle): removing wordlist and content updates
  contents/brand-messaging/style-formatting.md
Due: markdown-lint
