Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

chore: render all menu items
  components/menu_item.vue
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

chore: disable OneTrust in development
  nuxt.config.js
Due: eslint, prettier

chore: fix navbar initial active node
  components/navbar.vue
  helpers/navigation/nav_tree.js
Due: eslint, prettier

perf: render as much as we can server-side
  components/component_info.vue
  components/search/search_box.vue
  components/search/search_result.vue
  components/story_iframe.vue
  components/story_viewer.vue
  components/todo.vue
  helpers/gitlab_ui.js
  nginx.conf
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/code.vue
  pages/_section/_slug/contribute.vue
  pages/_section/_slug/index.vue
  plugins/gitlab_ui.js
Due: eslint, prettier

chore: scroll to top between content pages
  pages/_section/_slug.vue
Due: eslint, prettier

chore: ensure active menus are expanded
  components/navbar.vue
  helpers/navigation/nav_tree.js
  tests/components/navbar.spec.js
Due: eslint, prettier

chore(release): 2.118.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  de/ecf067da791513336239c151234f0369349c70
Due: none

chore: use nuxt-link in related-pages
  components/related_pages.vue
Due: eslint, prettier

chore(deps): remove axios module
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

chore(deps): remove cross-env
  .gitignore
  package.json
  yarn.lock
Due: none

chore(deps): remove clean-css
  package.json
Due: none

chore(deps): remove nodemon
  package.json
  yarn.lock
Due: none

chore(deps): remove resolve-relative-url
  package.json
  yarn.lock
Due: none

chore(deps): remove glob
  package.json
Due: none

chore(deps): upgrade Babel dependencies
  package.json
  yarn.lock
Due: none

chore(deps): upgrade unit test dependencies
  package.json
  yarn.lock
Due: none

chore(deps): upgrade chokidar
  package.json
  yarn.lock
Due: none

fix(deps): upgrade Nuxt
  package.json
  yarn.lock
Due: none

chore(deps): upgrade Prettier
  nuxt.config.js
  package.json
  yarn.lock
Due: eslint, prettier

feat(Charts): add popover positioning details
  contents/data-visualization/charts.md
Due: markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none
