Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

refactor: Add data-viz collection page
  contents/get-started/navigating-pajamas.md
  pages/data-visualization/index.vue
Due: eslint, prettier, markdown-lint

refactor: remove reference to page template figma file
  contents/get-started/navigating-pajamas.md
Due: markdown-lint

refactor: remove reference to resources figma project
  contents/get-started/navigating-pajamas.md
Due: markdown-lint

feat(BrandNav): keeping brand naming in file paths
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/motion.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  nav.json
Due: markdown-lint

feat(BrandStyle): removing wordlist and content updates
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

feat(BrandStyle): content updates and removing wordlist
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

chore: Refactor wording based on suggestions
  contents/usability/settings-management.md
Due: markdown-lint

feat(FeatureDiscovery): add a banner on the feature discovery page
  contents/usability/feature-discovery.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

chore: Apply suggestion(s)
  contents/patterns/empty-states.md
Due: markdown-lint

feat(BrandStyle): reverting previous commit and restoring to original content
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/usability/saving-and-feedback.md
Due: markdown-lint

fix: Improve readability, fix typos, avoid -ing words, use singular “user”
  contents/get-started/principles.md
Due: markdown-lint

feat: Introduce copying interaction
  contents/usability/copying.md
  nav.json
Due: markdown-lint

feat(Copying): Fix spacing
  contents/usability/copying.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/usability/feature-discovery.md
Due: markdown-lint

feat(FeatureDiscovery): add notes about implicit discovery
  contents/usability/feature-discovery.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/patterns/duo-feedback.md
Due: markdown-lint

feat(FeatureDiscovery): add a banner on the discovery page
  contents/usability/feature-discovery.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

feat(FeatureDiscovery):update to note
  contents/usability/feature-discovery.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

feat(FeatureDiscovery): remove note styling
  contents/usability/feature-discovery.md
Due: markdown-lint

feat(BrandNavigation): Rename nav titles to avoid redundancy
  nav.json
Due: none

feaat(BrandStyle): removing wordlist and content updates
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

feat(BrandStyle): add separate word list section
  contents/brand-messaging/style-formatting.md
Due: markdown-lint

Updated behavior for creating a copy
  contents/patterns/dashboards.md
Due: markdown-lint

feat(FeatureDiscovery): add note on the feature discovery page
  contents/usability/feature-discovery.md
Due: markdown-lint

feat(principles): Additional text cleanup
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Extend existing principles
  contents/get-started/principles.md
Due: markdown-lint

chore(deps): update dependency @evilmartians/lefthook to ^1.7.21
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @nuxtjs/tailwindcss to ^6.12.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.80.2
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v97
  package.json
  yarn.lock
Due: none

feat(Dashboard): Rename 'duplicate' action to 'make a copy'
  contents/patterns/dashboards.md
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v97.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @evilmartians/lefthook to ^1.7.22
  package.json
  yarn.lock
Due: none

chore(deps): Update gitlab/ui, remove Bootstrap
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
