Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/components/toggle.md
Due: markdown-lint

feat(Toggle): Update pajamas toggle docs
  contents/components/toggle.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v29.34.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @gitlab/ui to v29.35.0
  package.json
  yarn.lock
Due: none

feat(Toggle): apply suggestion
  contents/components/toggle.md
Due: markdown-lint

feat(voice-tone): Added guidance about allow and prevent
  contents/content/voice-tone.md
Due: markdown-lint

chore(release): 2.31.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  68/bb15315f28337c6b1bdb4ccfe83552cce7040e
Due: none

feat(componentTemplate): Ongoing template and content refinements
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
Due: eslint, prettier, markdown-lint

feat(componentTemplate): Initial effort for implementing template
  components/componentinfo.vue
  contents/components/alert.md
  contents/components/broadcast-message.md
  contents/components/button.md
  static/img/alert-diagram.svg
  static/img/alert-structure.svg
  static/img/broadcast-message-structure.svg
  static/img/button-structure.svg
Due: eslint, prettier, markdown-lint

feat(Toggle): Update description and help text
  contents/components/toggle.md
Due: markdown-lint

chore(release): 2.32.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  27/0dde2bc10eddaf809261932f51258534a8d3cc
Due: none

feat(Alert): Specify when dismissals reappear
  contents/components/alert.md
Due: markdown-lint

Prettify
  components/componentinfo.vue
  components/md_display.vue
  contents/components/button.md
Due: eslint, prettier, markdown-lint

chore(deps): update dependency @gitlab/ui to v29.36.0
  package.json
  yarn.lock
Due: none

Add inline editing examples
  contents/components/modal.md
  static/img/modal/inline-editing-1.png
  static/img/modal/inline-editing-2.png
Due: markdown-lint

feat(Modal): Add inline editing examples under alternatives
  contents/components/modal.md
  static/img/modal/inline-editing-1.png
  static/img/modal/inline-editing-2.png
Due: markdown-lint

fix(Alert): Clarify existing point
  contents/components/alert.md
Due: markdown-lint

fix(Alert): Specify when dismissals reappear
  contents/components/alert.md
Due: markdown-lint

fix(Alert): Remove initial change
  contents/components/alert.md
Due: markdown-lint

refactor(scss): deduplicate anchor rules
  assets/stylesheets/framework/_sidebar.scss
Due: none

feat(usability): Add guidelines for feature configuration and upgrade notifications
  contents/usability/feature-management.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
