Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(AI): add section on CTA hierarchy
  contents/patterns/duo-calls-to-action.md
  static/img/primary-action-ai.svg
  static/img/primary-action-not-ai.svg
Due: markdown-lint

ci: Update review apps settings
  .gitlab-ci.yml
Due: none

chore: Add landing page for review apps
  pages/review_app.vue
  static/_redirects
Due: eslint, prettier

fixup! ci: Update review apps settings
  .gitlab-ci.yml
Due: none

fixup! chore: Add landing page for review apps
  static/_redirects
Due: none

chore: Add landing page for review apps
  components/error/default.vue
  components/error/layout.vue
  components/error/not_found.vue
  pages/review_app.vue
  static/_redirects
Due: eslint, prettier

chore: Add missing tailwind directives
  assets/css/tailwind.css
Due: none

feat: Add landing page for missing review apps
  components/error/default.vue
  components/error/layout.vue
  components/error/not_found.vue
  pages/review_app.vue
  static/_redirects
Due: eslint, prettier

debug
  nuxt.config.js
  pages/review_app.vue
  static/_redirects
Due: eslint, prettier

feat(principles): Adding Taurie fix
  contents/get-started/principles.md
Due: markdown-lint

debug 2
  components/error/review_app_not_found.vue
  pages/404.vue
  static/_redirects
Due: eslint, prettier

Debug 3
  layouts/error.vue
  nuxt.config.js
  pages/404.vue
  pages/_section/_slug.vue
Due: eslint, prettier

Debug 4
  nuxt.config.js
  pages/404.vue
  pages/_section/_slug.vue
Due: eslint, prettier

chore: Apply suggestion(s)
  contents/get-started/uik-components.md
Due: markdown-lint

fix: collections url
  contents/get-started/uik-components.md
Due: markdown-lint

feat(Figma): Add integrated component construction guidelines
  contents/get-started/uik-components.md
Due: markdown-lint

chore: apply suggestion
  contents/get-started/uik-components.md
Due: markdown-lint

chore: Apply suggestions
  contents/get-started/uik-components.md
  static/img/slot-area-do-1.svg
  static/img/slot-area-dont-1.svg
  static/img/slot-area-dont-2.svg
Due: markdown-lint

feat(UIKit): Add slot component construction guidance
  contents/get-started/uik-components.md
  static/img/slot-area-do-1.svg
  static/img/slot-area-dont-1.svg
Due: markdown-lint

feat(UIKit): Create Figma variables guidelines
  contents/get-started/uik-components.md
Due: markdown-lint

fix: Untangle the mess which is Error Pages
  components/error/default.vue
  components/error/layout.vue
  layouts/error.vue
  nginx.conf
  nuxt.config.js
  pages/404.vue
  pages/_section/_slug.vue
Due: eslint, prettier

feat: Add landing page for missing review apps
  components/error/review_app_not_found.vue
  layouts/error.vue
Due: eslint, prettier

feat(principles): Cleanups from Chris
  contents/get-started/principles.md
Due: markdown-lint

feat(ReleaseNotes): 17.4 UI kit release
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(principles): Markdown cleanups to fix test
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Additional cleanups from Chris
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Cleaning up markdown
  contents/get-started/principles.md
Due: markdown-lint

chore: Apply suggestion(s)
  contents/get-started/uik-release-notes.md
Due: markdown-lint

feat(principles): Adding Pedro updates
  contents/get-started/principles.md
Due: markdown-lint

feat(principles): Additional text cleanups
  contents/get-started/principles.md
Due: markdown-lint
