Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

feat(merge-request-reports): add modal from inline link guidelines
  contents/regions/merge-request-reports.md
Due: markdown-lint

feat(Brand): Update and add brand guidelines
  contents/brand/basics.md
  contents/brand/brand-design/color.md
  contents/brand/brand-design/marketing-illustrations.md
  contents/brand/brand-design/photography.md
  contents/brand/brand-design/typography.md
  contents/brand/logo/co-branding.md
  contents/brand/logo/core-logo.md
  contents/brand/logo/logomark.md
  contents/brand/overview.md
  contents/brand/resources.md
  nav.json
  static/img/brand/Inter.gif
  static/img/brand/adobe-stock-portrait-samples.jpg
  static/img/brand/co-branding.svg
  static/img/brand/core-logo-clearspace.svg
  static/img/brand/core-logo-incorrect-usage.svg
  static/img/brand/core-logo-logo-variations.svg
  static/img/brand/core-logo-scalability.svg
  static/img/brand/devops-shirt-mockup.png
  static/img/brand/gitlab-logo-anatomy.svg
  static/img/brand/gitlab-logo-gray-rgb.svg
  static/img/brand/gitlab-logo.svg
  static/img/brand/illustrations.svg
  static/img/brand/logo-construction-animation.gif
  static/img/brand/sdlc-icon-set.svg
  static/img/brand/stock-collaboration-samples.jpg
  static/img/brand/stock-metaphor-samples.jpg
  static/img/brand/tanuki-clearspace.svg
  static/img/brand/tanuki-construction.svg
  static/img/brand/tanuki-incorrect-usage.svg
  static/img/brand/tanuki-scalability.svg
  static/img/brand/type-repetitions.svg
  static/img/brand/typography.svg
Due: markdown-lint

feat(Table): Update guidelines
  contents/components/table.md
  static/img/table-structure.svg
  static/img/table-valign-middle-do.svg
  static/img/table-valign-middle-dont.svg
  static/img/table-valign-top-do.svg
  static/img/table-valign-top-dont.svg
Due: markdown-lint

feat(Usability): added a page for progressive disclosure
  contents/patterns/adding-data-to-a-list.md
  contents/usability/progressive-disclosure.md
  nav.json
  static/img/modal-protected-tags.svg
  static/img/progressive-disclosure-accordion.png
Due: markdown-lint

feat: Copy Icon and Illustration explorer from GitLab SVGs
  assets/stylesheets/app.scss
  assets/stylesheets/framework/_base.scss
  assets/stylesheets/pages/_p_icons_explorer.scss
  components/svg_explorer/svg_card.vue
  components/svg_explorer/svg_icon.vue
  contents/product-foundations/iconography.md
  contents/product-foundations/illustration.md
  helpers/copy_to_clipboard.js
  nuxt.config.js
  pages/_section/_slug.vue
  pages/_section/_slug/icons.vue
  pages/_section/_slug/illustrations.vue
Due: eslint, prettier, markdown-lint

feat(Table): Minor corrections
  contents/components/table.md
Due: markdown-lint

chore(deps): update dependency @gitlab/eslint-plugin to v12.2.0
  package.json
  yarn.lock
Due: none

style: migrate to ES6 export in Nuxt config
  nuxt.config.js
Due: eslint, prettier

fix(brand): Restructure content to nest 2 levels deep
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  nav.json
Due: markdown-lint

fix(brand): Correct broken images
  contents/brand/overview.md
  static/img/brand/color-usage.svg
Due: markdown-lint

fix: Add reviewer suggestions
  contents/product-foundations/interaction.md
Due: markdown-lint

feat(brand): Updates based on zoom call with Monica
  assets/stylesheets/framework/_content.scss
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/brand-design/marketing-illustrations.md
Due: markdown-lint

feat(logo): Update gitlab mark in sidebar
  components/navbar.vue
  contents/brand-design/marketing-illustrations.md
  static/gitlab-tanuki.svg
Due: eslint, prettier, markdown-lint

fix(brand-images): Update images with monica files
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  static/img/brand/core-logo-clearspace.svg
  static/img/brand/core-logo-logo-variations.svg
  static/img/brand/core-logo-scalability.svg
  static/img/brand/tanuki-scalability.svg
Due: markdown-lint

fix(brand-image): Update type-repetitions image
  static/img/brand/type-repetitions.svg
Due: none

fix: Update navbar snapshot test
  tests/components/__snapshots__/navbar.spec.js.snap
Due: none

feat(Brand): Visuals and formatting
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
Due: markdown-lint

feat(brand-images): Update incorrect usage images
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  static/img/brand/core-logo-incorrect-usage.svg
  static/img/brand/tanuki-incorrect-usage.svg
Due: markdown-lint

feat(brand-images): Update incorrect usage images
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/overview.md
  static/img/brand/core-logo-incorrect-usage.svg
  static/img/brand/tanuki-incorrect-usage.svg
Due: markdown-lint

feat(Brand): Update brand section content
  assets/stylesheets/framework/_content.scss
  components/navbar.vue
  contents/brand-design/color.md
  contents/brand-design/marketing-illustrations.md
  contents/brand-design/photography.md
  contents/brand-design/typography.md
  contents/brand-logo/co-branding.md
  contents/brand-logo/core-logo.md
  contents/brand-logo/logomark.md
  contents/brand/basics.md
  contents/brand/overview.md
  contents/brand/resources.md
  nav.json
  static/gitlab-tanuki.svg
  static/img/brand/Inter.gif
  static/img/brand/adobe-stock-portrait-samples.jpg
  static/img/brand/co-branding.svg
  static/img/brand/color-usage.svg
  static/img/brand/core-logo-clearspace.svg
  static/img/brand/core-logo-incorrect-usage.svg
  static/img/brand/core-logo-logo-variations.svg
  static/img/brand/core-logo-scalability.svg
  static/img/brand/devops-shirt-mockup.png
  static/img/brand/gitlab-logo-anatomy.svg
  static/img/brand/gitlab-logo-gray-rgb.svg
  static/img/brand/gitlab-logo.svg
  static/img/brand/illustrations.svg
  static/img/brand/logo-construction-animation.gif
  static/img/brand/sdlc-icon-set.svg
  static/img/brand/stock-collaboration-samples.jpg
  static/img/brand/stock-metaphor-samples.jpg
  static/img/brand/tanuki-clearspace.svg
  static/img/brand/tanuki-construction.svg
  static/img/brand/tanuki-incorrect-usage.svg
  static/img/brand/tanuki-scalability.svg
  static/img/brand/type-repetitions.svg
  static/img/brand/typography.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier, markdown-lint

fix(deps): update gitlab ui/svg
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v39.3.2
  package.json
  yarn.lock
Due: none

fix: Clarify links section on interaction page
  contents/product-foundations/interaction.md
Due: markdown-lint
