Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

lefthook.yml:

# Lefthook guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: "*.{js,vue}"
      run: ./node_modules/.bin/prettier --check {staged_files}
    markdown-lint:
      glob: "*.md"
      run: yarn markdown-lint

fix: Add missing "Contribute" tabs
  contents/components/checkbox.md
  contents/components/color-picker.md
  contents/components/date-picker.md
  contents/components/dropdown-overview.md
  contents/components/file-uploader.md
  contents/components/filter.md
  contents/components/radio-button.md
  contents/components/search.md
  contents/components/select.md
  contents/components/text-input.md
  contents/components/textarea.md
  contents/components/token.md
  pages/_section/_slug.vue
Due: eslint, prettier, markdown-lint

chore(deps): update jest to v29.4.3
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v55.3.1
  package.json
  yarn.lock
Due: none

Remove breadcrumbs from dashboard description as it's handled by the page-level
  contents/patterns/dashboards.md
Due: markdown-lint

chore(release): 2.151.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  f8/fb0d17195cc2082487f6f6b92fe261aaaaf272
Due: none

fix(deps): update dependency @nuxtjs/sentry to ^7.0.4
  package.json
  yarn.lock
Due: none

Applying few suggestions
  contents/patterns/headers.md
Due: markdown-lint

chore(deps): update dependency sass to ^1.58.3
  package.json
  yarn.lock
Due: none

feat: Use new Lookbook preview embeds
  nuxt.config.js
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

refactor: Tidy up computed properties
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

fix: Initialize embeds on component mount
  pages/_section/_slug/lookbook.vue
Due: eslint, prettier

feat(Dashboards): Init dashboard definitions
  contents/patterns/dashboards.md
  nav.json
Due: markdown-lint

Add h1 heading in page title structure
  contents/patterns/headers.md
Due: markdown-lint

chore: increase sorting example iframe height
  contents/components/sorting.md
Due: markdown-lint

fix(deps): update dependency iframe-resizer to ^4.3.4
  package.json
  yarn.lock
Due: none

feat(mr): change collapsed by default behaviour
  contents/patterns/merge-request-reports.md
Due: markdown-lint

feat(Dashboards): Cross reference defs
  contents/patterns/dashboards.md
  contents/patterns/navigation.md
Due: markdown-lint

feat(Dashboards): Cross-reference defs
  contents/patterns/dashboards.md
  contents/patterns/navigation.md
Due: markdown-lint

feat(Dashboards): Init dashboard definitions
  contents/patterns/dashboards.md
  contents/patterns/navigation.md
  nav.json
Due: markdown-lint

fix(deps): update dependency @gitlab/ui to v56
  package.json
  yarn.lock
Due: none

fix(deps): update dependency mermaid to ^9.4.0
  package.json
  yarn.lock
Due: none

fix: update dropdowns decision tree
  contents/components/dropdown-overview.md
Due: markdown-lint

chore(deps): update dependency @babel/core to v7.21.0
  package.json
  yarn.lock
Due: none

Remove process content for navigation additions
  contents/patterns/navigation.md
Due: markdown-lint

fix(Link): fix mention link styles
  contents/components/link.md
Due: markdown-lint

feat(Modal): Update to align with specs
  contents/components/modal.md
Due: markdown-lint
