Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

chore(release): 2.132.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  64/31225e92b27ad5b1bc8c0786b02f7e9907bdd6
Due: none

Move review app fix to a helper
  components/search/search_box.vue
  helpers/fix_url_in_review_app.js
  nuxt.config.js
  plugins/rehype_fix_review_urls.js
Due: eslint, prettier

ci: Switch from AutoDevops to pages
  .gitlab-ci.yml
  Dockerfile
  nuxt.config.js
Due: eslint, prettier

chore: Fix URLs in Review app
  assets/images/gitlab-tanuki.svg
  components/navbar.vue
  components/search/search_box.vue
  helpers/fix_url_in_review_app.js
  nuxt.config.js
  package.json
  plugins/rehype_fix_review_urls.js
  static/gitlab_logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
  yarn.lock
Due: eslint, prettier

chore: Fix URLs in Review app
  components/search/search_box.vue
  helpers/fix_url_in_review_app.js
  nuxt.config.js
  package.json
  plugins/rehype_fix_review_urls.js
  yarn.lock
Due: eslint, prettier

chore: Move GitLab logo to webpack assets
  assets/images/gitlab-tanuki.svg
  components/navbar.vue
  static/gitlab_logo.svg
  tests/components/__snapshots__/navbar.spec.js.snap
Due: eslint, prettier

feat(line-chart): add no data guidelines
  contents/data-visualization/charts.md
Due: markdown-lint

chore(deps): update jest to v29.0.2
  package.json
  yarn.lock
Due: none

feat(Usability): Avoid disabling features in projects
  contents/usability/feature-management.md
Due: markdown-lint

feat: consolidate Search and Filter regions
  contents/regions/filters.md
  contents/regions/search.md
Due: markdown-lint

feat(line-chart): Add no data guidelines
  contents/data-visualization/charts.md
Due: markdown-lint

feat:(voice-tone): Confirming when to use periods
  contents/content/punctuation.md
Due: markdown-lint

Apply 1 suggestion(s) to 1 file(s)
  contents/content/punctuation.md
Due: markdown-lint

chore: migrate to CSS grid in button page
  contents/components/button.md
Due: markdown-lint

chore: add column gap to other sections
  contents/components/button.md
Due: markdown-lint

Update banner placement guidance
  contents/components/banner.md
Due: markdown-lint

chore(deps): update babel to v7.19.0
  package.json
  yarn.lock
Due: none

chore: Introduce VPAT 2.4 WCAG template
  contents/accessibility/a11y.md
  contents/vpat/508.md
  contents/vpat/wcag.md
  nav.json
Due: markdown-lint

feat: revert Search page add Filtering page
  contents/regions/filtering.md
  contents/regions/search.md
Due: markdown-lint

feat(Form): Update form svg
  static/img/form-structure.svg
Due: none

Removed bullet about punctuation
  contents/components/alert.md
Due: markdown-lint

feat(ErrorPage): Add custom error page
  layouts/error.vue
  layouts/no_footer.vue
  nuxt.config.js
Due: eslint, prettier

chore(deps): update dependency linkinator to ^4.0.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency sass to ^1.54.9
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @gitlab/ui to v43.14.0
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
