Repository khulnasoft-lab/design.khulnasoft.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown-lint

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

markdown-lint:
  run: yarn markdown-lint

feat(UserHelp): Center table content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Add tooltip and require popover
  contents/usability/helping-users.md
  static/img/help-tooltip.png
Due: markdown-lint

feat(UserHelp): Encourage use of popover with help icon
  contents/usability/helping-users.md
  static/img/help-popover-with-link.png
Due: markdown-lint

feat(UserHelp): Add related content
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Separate links from formatting
  contents/usability/helping-users.md
Due: markdown-lint

feat(UserHelp): Remove resizing from example
  contents/usability/helping-users.md
Due: markdown-lint

chore: migrate GlButton examples from GitLab UI
  examples/button/combinations/button.ellipsis.example.vue
  examples/button/combinations/button.icon.example.vue
  examples/button/combinations/button.label.example.vue
  examples/button/dropdowns/button.dropdown_with_icon.example.vue
  examples/button/variants/button.info.example.vue
  examples/button/variants/button.success.example.vue
  examples/button/variants/button.warning.example.vue
Due: eslint, prettier

refactor: move navigation to standalone component
  components/navbar.vue
  layouts/default.vue
  tests/components/__snapshots__/navbar.spec.js.snap
  tests/components/navbar.spec.js
Due: eslint, prettier

feat(colorPicker): Initial page created
  contents/components/color-picker.md
  contents/components/form.md
  nav.json
Due: markdown-lint

feat(colorPicker): Clarify when it is needed
  contents/components/color-picker.md
Due: markdown-lint

feat(colorPicker): Small changes to details
  contents/components/color-picker.md
Due: markdown-lint

chore(deps): update dependency @gitlab/ui to v31.2.0
  package.json
  yarn.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  contents/components/color-picker.md
Due: markdown-lint

feat(colorPicker): Add color picker to docs
  contents/components/color-picker.md
  contents/components/form.md
  nav.json
Due: markdown-lint

feat(report): Delete report object page
  contents/objects/report.md
  nav.json
Due: markdown-lint

feat(badge): Add definitions around badge size
  contents/components/badge.md
Due: markdown-lint

chore(release): 2.37.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Notes added by 'git notes add'
  ba/cbc2ce65496d775c8b7b8366536ce5cb589a8d
Due: none

Apply 1 suggestion(s) to 1 file(s)
  nav.json
Due: none

Delete report object page
  contents/objects/report.md
  nav.json
Due: markdown-lint

chore(release): 2.38.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint

Path conditions:
  eslint: any of: *.{js,vue}
  prettier: any of: *.{js,vue}
  markdown-lint: any of: *.md
